n8n-workflows/Support - 5. Continuous Learning & Improvement (Enhanced).json
{
  "name": "Support - 5. Continuous Learning & Improvement (Enhanced)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "083ed0b3-38ba-4174-89a0-897dd34b879b",
      "name": "Schedule - Daily 3 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        464,
        544
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-id",
              "name": "run_id",
              "value": "={{ 'LEARN-' + new Date().toISOString().split('T')[0] + '-' + Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            },
            {
              "id": "run-date",
              "name": "analysis_date",
              "value": "={{ new Date(Date.now() - 86400000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "run-start",
              "name": "run_started_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4bf0b579-9d8b-4d03-b8dd-1734559326b6",
      "name": "Set Run Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        544
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH daily_metrics AS (\n  SELECT \n    DATE(created_at) as date,\n    category,\n    COUNT(*) as total_cases,\n    COUNT(CASE WHEN status = 'resolved' THEN 1 END) as resolved_cases,\n    AVG(CASE WHEN status = 'resolved' \n        THEN EXTRACT(EPOCH FROM (resolved_at - created_at))/60 \n        END) as avg_resolution_minutes,\n    AVG(satisfaction_score) as avg_satisfaction,\n    COUNT(CASE WHEN resolution_type = 'self-service-automated' THEN 1 END) as automated_resolutions,\n    COUNT(CASE WHEN resolution_type = 'self-service-manual' THEN 1 END) as manual_self_service,\n    COUNT(CASE WHEN resolution_type = 'collaborative' THEN 1 END) as collaborative_resolutions,\n    COUNT(CASE WHEN escalated = true THEN 1 END) as escalations\n  FROM cases\n  WHERE created_at >= '{{ $json.analysis_date }}'::date\n    AND created_at < '{{ $json.analysis_date }}'::date + INTERVAL '1 day'\n  GROUP BY DATE(created_at), category\n)\nSELECT * FROM daily_metrics;",
        "options": {}
      },
      "id": "90b11425-92e9-4c4f-a4ca-dc2e9463ace3",
      "name": "Aggregate Daily Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.case_id,\n  c.description,\n  c.category,\n  c.subcategory,\n  c.status,\n  c.satisfaction_score,\n  c.resolution_time_minutes,\n  ci.message as solution_provided\nFROM cases c\nLEFT JOIN case_interactions ci ON c.case_id = ci.case_id AND ci.interaction_type = 'solution'\nWHERE c.created_at >= '{{ $json.analysis_date }}'::date\n  AND c.created_at < '{{ $json.analysis_date }}'::date + INTERVAL '1 day'\n  AND c.status = 'resolved'\nORDER BY c.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "id": "8574914b-2cdf-4596-a526-488ae4895ed5",
      "name": "Fetch Resolved Cases",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  af.agent_name,\n  af.feedback_type,\n  COUNT(*) as feedback_count,\n  af.agent_output,\n  af.human_correction,\n  MAX(af.created_at) as latest_feedback\nFROM agent_feedback af\nWHERE af.created_at >= '{{ $json.analysis_date }}'::date\n  AND af.created_at < '{{ $json.analysis_date }}'::date + INTERVAL '1 day'\nGROUP BY af.agent_name, af.feedback_type, af.agent_output, af.human_correction\nORDER BY latest_feedback DESC\nLIMIT 50;\n",
        "options": {}
      },
      "id": "5c78464c-ea93-468a-999e-3b0228c6cf36",
      "name": "Fetch Agent Feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        544
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  DATE(created_at) as date,\n  category,\n  COUNT(*) as case_count\nFROM cases\nWHERE created_at >= NOW() - INTERVAL '30 days'\nGROUP BY DATE(created_at), category\nORDER BY date DESC;",
        "options": {}
      },
      "id": "46777b84-3fb1-4292-851e-019f73f2ad2c",
      "name": "Fetch Historical Trends",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        736
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge all daily data for analysis\nconst runContext = $('Set Run Context').first().json;\nconst allItems = $input.all().map(item => item.json);\n\n// Separate items by type based on their unique fields\nconst dailyMetrics = allItems.filter(item => item.date && item.total_cases !== undefined);\nconst resolvedCases = allItems.filter(item => item.case_id && item.solution_provided !== undefined);\nconst agentFeedback = allItems.filter(item => item.agent_name && item.feedback_type);\nconst historicalTrends = allItems.filter(item => item.date && item.case_count !== undefined && !item.total_cases);\n\n// Calculate totals\nconst totals = dailyMetrics.reduce((acc, m) => ({\n  total_cases: (acc.total_cases || 0) + (m.total_cases || 0),\n  resolved_cases: (acc.resolved_cases || 0) + (m.resolved_cases || 0),\n  automated_resolutions: (acc.automated_resolutions || 0) + (m.automated_resolutions || 0),\n  escalations: (acc.escalations || 0) + (m.escalations || 0)\n}), {});\n\n// Calculate averages\nconst avgResolutionTime = dailyMetrics\n  .filter(m => m.avg_resolution_minutes)\n  .reduce((acc, m) => acc + m.avg_resolution_minutes, 0) / (dailyMetrics.filter(m => m.avg_resolution_minutes).length || 1);\n\nconst avgSatisfaction = dailyMetrics\n  .filter(m => m.avg_satisfaction)\n  .reduce((acc, m) => acc + m.avg_satisfaction, 0) / (dailyMetrics.filter(m => m.avg_satisfaction).length || 1);\n\nreturn {\n  json: {\n    ...runContext,\n    daily_data: {\n      metrics_by_category: dailyMetrics,\n      resolved_cases: resolvedCases,\n      agent_feedback: agentFeedback,\n      historical_trends: historicalTrends\n    },\n    summary: {\n      total_cases: totals.total_cases || 0,\n      resolved_cases: totals.resolved_cases || 0,\n      resolution_rate: totals.total_cases > 0 ? (totals.resolved_cases / totals.total_cases * 100).toFixed(1) : 0,\n      automated_resolutions: totals.automated_resolutions || 0,\n      self_service_rate: totals.total_cases > 0 ? (totals.automated_resolutions / totals.total_cases * 100).toFixed(1) : 0,\n      escalations: totals.escalations || 0,\n      escalation_rate: totals.total_cases > 0 ? (totals.escalations / totals.total_cases * 100).toFixed(1) : 0,\n      avg_resolution_minutes: Math.round(avgResolutionTime) || 0,\n      avg_satisfaction: avgSatisfaction ? avgSatisfaction.toFixed(2) : '0.00'\n    }\n  }\n};\n"
      },
      "id": "04743f92-0d91-44b1-ae11-408f5a521f25",
      "name": "Merge Daily Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        544
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.4
        }
      },
      "id": "441382d6-ddaa-431c-90dc-292e80333019",
      "name": "Claude Sonnet - Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1600,
        768
      ],
      "credentials": {
        "anthropicApi": {
          "id": "eJiT1B0Q8DpkD2EP",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"common_issues\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"issue\": { \"type\": \"string\" },\n          \"category\": { \"type\": \"string\" },\n          \"frequency\": { \"type\": \"number\" },\n          \"avg_resolution_time\": { \"type\": \"number\" },\n          \"success_rate\": { \"type\": \"number\" },\n          \"trend\": { \"type\": \"string\", \"enum\": [\"increasing\", \"stable\", \"decreasing\"] }\n        }\n      },\n      \"description\": \"Most common issues identified\"\n    },\n    \"documentation_gaps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"topic\": { \"type\": \"string\" },\n          \"evidence\": { \"type\": \"string\" },\n          \"estimated_impact\": { \"type\": \"string\", \"enum\": [\"high\", \"medium\", \"low\"] },\n          \"suggested_article_title\": { \"type\": \"string\" }\n        }\n      },\n      \"description\": \"Documentation gaps that need to be filled\"\n    },\n    \"product_bugs\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"description\": { \"type\": \"string\" },\n          \"severity\": { \"type\": \"string\", \"enum\": [\"critical\", \"high\", \"medium\", \"low\"] },\n          \"affected_customers\": { \"type\": \"number\" },\n          \"case_ids\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"root_cause_hypothesis\": { \"type\": \"string\" }\n        }\n      },\n      \"description\": \"Potential product bugs identified from cases\"\n    },\n    \"process_improvements\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Suggested process improvements\"\n    },\n    \"training_needs\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Training needs identified for support staff\"\n    },\n    \"agent_improvement_suggestions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"agent_name\": { \"type\": \"string\" },\n          \"issue\": { \"type\": \"string\" },\n          \"suggestion\": { \"type\": \"string\" }\n        }\n      },\n      \"description\": \"Suggestions for improving AI agents based on feedback\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Overall analysis summary in 2-3 sentences\"\n    }\n  },\n  \"required\": [\"common_issues\", \"documentation_gaps\", \"process_improvements\", \"summary\"]\n}"
      },
      "id": "89f376be-7081-412f-a8a4-5b5c12cabea3",
      "name": "Analysis Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1728,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine data with analysis results\nconst dailyData = $('Merge Daily Data').first().json;\nconst aiAnalysis = $input.item.json.output || $input.item.json;\n\nreturn {\n  json: {\n    ...dailyData,\n    analysis: {\n      common_issues: aiAnalysis.common_issues || [],\n      documentation_gaps: aiAnalysis.documentation_gaps || [],\n      product_bugs: aiAnalysis.product_bugs || [],\n      process_improvements: aiAnalysis.process_improvements || [],\n      training_needs: aiAnalysis.training_needs || [],\n      agent_improvement_suggestions: aiAnalysis.agent_improvement_suggestions || [],\n      summary: aiAnalysis.summary\n    },\n    analysis_completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "84805427-c2da-4c97-ae53-c3880a88dccb",
      "name": "Combine Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-gaps",
              "leftValue": "={{ $json.analysis.documentation_gaps.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3a52e814-f4ae-464c-b700-08f631ea645d",
      "name": "Has Doc Gaps?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare KB articles to generate\nconst data = $input.item.json;\nconst gaps = data.analysis.documentation_gaps.filter(g => g.estimated_impact === 'high' || g.estimated_impact === 'medium');\n\n// Create items for each article to generate\nconst articles = gaps.slice(0, 3).map(gap => ({\n  json: {\n    ...data,\n    article_to_generate: {\n      topic: gap.topic,\n      title: gap.suggested_article_title,\n      evidence: gap.evidence,\n      impact: gap.estimated_impact\n    }\n  }\n}));\n\nreturn articles.length > 0 ? articles : [{ json: data }];"
      },
      "id": "2c81fc23-10c7-4f6c-b22d-7f78d061ad98",
      "name": "Prepare KB Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        256
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "043b18b4-3ad9-482f-8dd4-a8b64d12b994",
      "name": "Loop Articles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2608,
        256
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.5
        }
      },
      "id": "8ad73c4f-1894-4ae8-81cc-6646f81c3d08",
      "name": "Claude Sonnet - Article",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        2912,
        352
      ],
      "credentials": {
        "anthropicApi": {
          "id": "eJiT1B0Q8DpkD2EP",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract article content and prepare for Confluence\nconst input = $input.item.json;\nconst articleContent = input.output || input.text || '';\n\n// Get article metadata from Loop Articles\nconst articleMeta = $('Loop Articles').first().json.article_to_generate;\n\n// Clean up the content (remove markdown fences if present)\nlet cleanContent = articleContent\n  .replace(/```html\\n/g, '')\n  .replace(/```\\n/g, '')\n  .replace(/```/g, '')\n  .trim();\n\n// Pre-escape for JSON embedding (escape backslashes first, then quotes, then newlines)\nconst jsonSafeContent = cleanContent\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, '\\\\n')\n  .replace(/\\r/g, '\\\\r')\n  .replace(/\\t/g, '\\\\t');\n\nreturn {\n  json: {\n    ...input,\n    article_content: cleanContent,\n    article_content_escaped: jsonSafeContent,\n    article_title: articleMeta.title,\n    article_title_escaped: articleMeta.title.replace(/\"/g, '\\\\\"'),\n    article_to_generate: articleMeta\n  }\n};\n"
      },
      "id": "218469a6-906d-49d1-ba8d-ad9ca923d18c",
      "name": "Prepare Confluence Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://shawnbrianray-1765049461409.atlassian.net/wiki/rest/api/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"page\",\n  \"title\": \"{{ $json.article_title_escaped }}\",\n  \"space\": {\n    \"key\": \"PKB\"\n  },\n  \"body\": {\n    \"storage\": {\n      \"value\": \"{{ $json.article_content_escaped }}\",\n      \"representation\": \"storage\"\n    }\n  },\n  \"status\": \"current\",\n  \"metadata\": {\n    \"properties\": {\n      \"editor\": {\n        \"key\": \"editor\",\n        \"value\": \"v2\"\n      }\n    }\n  }\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9c2c5e47-3160-4fa7-9692-cacb88749c80",
      "name": "Create Confluence Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3408,
        128
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "ftZ4KeeucUPPSH6j",
          "name": "Atlassian API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://shawnbrianray-1765049461409.atlassian.net/wiki/rest/api/content/{{ $json.id }}/label",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"prefix\": \"global\",\n    \"name\": \"ai-generated\"\n  },\n  {\n    \"prefix\": \"global\",\n    \"name\": \"kb-article\"\n  },\n  {\n    \"prefix\": \"global\",\n    \"name\": \"topic-{{ $('Prepare Confluence Content').item.json.article_to_generate.topic.toLowerCase().replace(/ /g, '-') }}\"\n  },\n  {\n    \"prefix\": \"global\",\n    \"name\": \"impact-{{ $('Prepare Confluence Content').item.json.article_to_generate.impact }}\"\n  },\n  {\n    \"prefix\": \"global\",\n    \"name\": \"needs-review\"\n  }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "11fd2b3b-43ec-4b2f-8a38-d1688c118fc4",
      "name": "Add Labels to Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3632,
        128
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "ftZ4KeeucUPPSH6j",
          "name": "Atlassian API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/webhook/confluence/reindex",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"page_ids\": [\"{{ $json.id }}\"],\n  \"source\": \"continuous-learning-workflow\",\n  \"priority\": \"high\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e5ffab13-bdce-4d1e-af5f-acd850dd6c11",
      "name": "Trigger KB Re-index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        960
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kb_articles (\n  title,\n  category,\n  confluence_page_id,\n  auto_generated,\n  human_validated,\n  metadata\n) VALUES (\n  '{{ $('Prepare Confluence Content').item.json.article_title.replace(/'/g, \"''''\") }}',\n  '{{ $('Prepare Confluence Content').item.json.article_to_generate.topic.replace(/'/g, \"''''\") }}',\n  '{{ $('Create Confluence Page').item.json.id }}',\n  true,\n  false,\n  '{\"impact\": \"{{ $('Prepare Confluence Content').item.json.article_to_generate.impact }}\", \"evidence\": \"{{ $('Prepare Confluence Content').item.json.article_to_generate.evidence.replace(/\"/g, '\\\\\"').replace(/'/g, \"''''\") }}\", \"generated_at\": \"{{ new Date().toISOString() }}\", \"confluence_space\": \"PKB\", \"labels\": [\"ai-generated\", \"kb-article\", \"needs-review\"]}'::jsonb\n) RETURNING article_id;\n",
        "options": {}
      },
      "id": "6e1ef25f-8dfe-45b8-a0fc-710ae2b3f5a5",
      "name": "Log to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3856,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-bugs",
              "leftValue": "={{ $json.analysis.product_bugs.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "02cd4ccc-77fd-4fbf-807f-74e653418231",
      "name": "Has Product Bugs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare bug tickets to create\nconst data = $input.item.json;\nconst bugs = data.analysis.product_bugs.filter(b => b.severity === 'critical' || b.severity === 'high');\n\n// Create items for each bug ticket\nconst tickets = bugs.slice(0, 5).map(bug => ({\n  json: {\n    ...data,\n    bug_to_report: bug\n  }\n}));\n\nreturn tickets.length > 0 ? tickets : [{ json: data }];"
      },
      "id": "a6cb9c34-de51-4d51-9b0a-ed4d3a67bc1a",
      "name": "Prepare Bug Tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        544
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c7bf9281-6c70-45fd-b4b6-4e177cae0b64",
      "name": "Loop Bugs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2608,
        544
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10035",
          "mode": "list",
          "cachedResultName": "Development"
        },
        "issueType": {
          "__rl": true,
          "value": "10050",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "description": "={{ $json.description }}"
        }
      },
      "id": "09202ec7-d55f-46ce-be56-52faf802721e",
      "name": "Create Jira Bug",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        3008,
        560
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "esdOjucGFFmZQRup",
          "name": "Jira SW Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate leadership report\nconst data = $input.item.json;\nconst summary = data.summary;\nconst analysis = data.analysis;\n\n// Calculate week-over-week changes (simplified - would need actual historical data)\nconst report = `\n# Daily Support Insights Report\n## ${data.analysis_date}\n\n---\n\n## Executive Summary\n${analysis.summary}\n\n---\n\n## Key Metrics\n\n| Metric | Value | Status |\n|--------|-------|--------|\n| Total Cases | ${summary.total_cases} | ${summary.total_cases > 50 ? '📈 High Volume' : '✅ Normal'} |\n| Resolution Rate | ${summary.resolution_rate}% | ${parseFloat(summary.resolution_rate) > 80 ? '✅ Good' : '⚠️ Needs Attention'} |\n| Self-Service Rate | ${summary.self_service_rate}% | ${parseFloat(summary.self_service_rate) > 50 ? '✅ Good' : '📊 Improving'} |\n| Avg Resolution Time | ${summary.avg_resolution_minutes} min | ${summary.avg_resolution_minutes < 30 ? '✅ Fast' : '⚠️ Review Process'} |\n| Avg Satisfaction | ${summary.avg_satisfaction}/5 | ${parseFloat(summary.avg_satisfaction) > 4 ? '✅ Excellent' : '⚠️ Monitor'} |\n| Escalation Rate | ${summary.escalation_rate}% | ${parseFloat(summary.escalation_rate) < 10 ? '✅ Low' : '⚠️ High'} |\n\n---\n\n## Top Issues\n\n${analysis.common_issues.slice(0, 5).map((issue, i) => \n  `${i + 1}. **${issue.issue}** (${issue.category})\\n   - Frequency: ${issue.frequency} cases\\n   - Trend: ${issue.trend}\\n   - Avg Resolution: ${issue.avg_resolution_time || 'N/A'} min`\n).join('\\n\\n')}\n\n---\n\n## Actions Taken\n\n### Knowledge Base Updates\n- ${analysis.documentation_gaps.length} documentation gaps identified\n- ${analysis.documentation_gaps.filter(g => g.estimated_impact === 'high').length} high-impact articles created in Confluence\n- All new articles tagged with #needs-review for human validation\n\n### Product Bugs Reported\n- ${analysis.product_bugs.length} potential bugs identified\n- ${analysis.product_bugs.filter(b => b.severity === 'critical' || b.severity === 'high').length} high-severity bugs reported to engineering\n\n---\n\n## Process Improvements Suggested\n\n${analysis.process_improvements.map((imp, i) => `${i + 1}. ${imp}`).join('\\n')}\n\n---\n\n## Training Needs Identified\n\n${analysis.training_needs.map((need, i) => `${i + 1}. ${need}`).join('\\n')}\n\n---\n\n## AI Agent Performance\n\n${analysis.agent_improvement_suggestions.length > 0 ? \n  analysis.agent_improvement_suggestions.map(s => `- **${s.agent_name}**: ${s.issue}\\n  Suggestion: ${s.suggestion}`).join('\\n\\n') : \n  'No significant issues identified with AI agents.'}\n\n---\n\n*Report generated automatically by the Continuous Learning System*\n*Run ID: ${data.run_id}*\n`;\n\nreturn {\n  json: {\n    ...data,\n    report: report,\n    report_generated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "0e02d2a8-393d-4eaf-bf7d-dfaaac45e79f",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        736
      ]
    },
    {
      "parameters": {
        "sendTo": "shawnbrianray@gmail.com",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_html }}\n",
        "options": {}
      },
      "id": "17a85e04-aca2-4825-b58b-71f15492be84",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2608,
        736
      ],
      "webhookId": "0a4e2dea-a4b2-4f82-bb8b-897e5d73a616",
      "credentials": {
        "gmailOAuth2": {
          "id": "FD4ccXskpie7ZLhN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#support-metrics",
          "mode": "name"
        },
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "ccf35be2-6dd7-4c9c-a138-343027e1a946",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3184,
        736
      ],
      "webhookId": "34c61d1f-39c2-47c3-835c-3ab2a2437dd5",
      "credentials": {
        "slackApi": {
          "id": "viv5vjBrnt9hNw4r",
          "name": "Slack API - CX Catalyst"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (\n  workflow_name,\n  status,\n  start_time,\n  end_time,\n  metadata\n) VALUES (\n  'Continuous Learning & Improvement',\n  'success',\n  '{{ $('Format Slack Report').first().json.run_started_at }}',\n  NOW(),\n  '{{ JSON.stringify({\n    run_id: $('Format Slack Report').first().json.run_id,\n    analysis_date: $('Format Slack Report').first().json.analysis_date,\n    total_cases: $('Format Slack Report').first().json.summary.total_cases,\n    documentation_gaps: $('Format Slack Report').first().json.analysis.documentation_gaps.length,\n    product_bugs: $('Format Slack Report').first().json.analysis.product_bugs.length,\n    process_improvements: $('Format Slack Report').first().json.analysis.process_improvements.length,\n    confluence_pages_created: $('Format Slack Report').first().json.analysis.documentation_gaps.filter(g => g.estimated_impact === 'high' || g.estimated_impact === 'medium').length\n  }) }}'::jsonb\n);\n",
        "options": {}
      },
      "id": "d7e5bb71-5ec9-4e51-be11-42eeea35e24c",
      "name": "Log Workflow Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3408,
        736
      ],
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow 5: Continuous Learning & Improvement (ENHANCED)\n\n**Purpose:** Analyze support patterns, create KB articles in Confluence, identify product improvements, and generate insights.\n\n### NEW in Enhanced Version:\n✅ **Creates actual Confluence pages** (not just DB entries)\n✅ Adds labels for categorization\n✅ Triggers re-indexing for vector search\n✅ Logs both to Confluence and PostgreSQL\n\n### Flow:\n1. Daily schedule trigger at 3 AM\n2. Aggregate yesterday's data\n3. AI Pattern Analysis identifies gaps\n4. **Auto-generate KB articles**:\n   - Generate content with Claude\n   - Create Confluence page (HTTP Request)\n   - Add labels (ai-generated, needs-review)\n   - Trigger KB re-indexing\n   - Log to PostgreSQL\n5. Create Jira tickets for bugs\n6. Generate & distribute leadership report\n\n### Outputs:\n- ✅ Confluence KB pages (SUPPORT space)\n- Jira bug tickets\n- PostgreSQL logs\n- Daily email report\n- Slack metrics summary\n\n### Configuration Required:\n- PostgreSQL credentials\n- Anthropic (Claude) credentials\n- **Confluence HTTP Basic Auth**\n- Jira credentials\n- Gmail credentials\n- Slack credentials\n- LEADERSHIP_EMAIL env variable\n- JIRA_CLOUD_ID env variable\n- N8N_WEBHOOK_BASE_URL env variable",
        "height": 1068,
        "width": 400
      },
      "id": "cd61acf8-da49-4cd1-9cb5-797db773af4f",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data analyst specializing in customer support operations. Analyze the following daily support data to identify patterns, gaps, and improvement opportunities.\n\n## Analysis Date: {{ $json.analysis_date }}\n\n## Daily Summary:\n- Total Cases: {{ $json.summary.total_cases }}\n- Resolved Cases: {{ $json.summary.resolved_cases }} ({{ $json.summary.resolution_rate }}%)\n- Self-Service Rate: {{ $json.summary.self_service_rate }}%\n- Escalation Rate: {{ $json.summary.escalation_rate }}%\n- Avg Resolution Time: {{ $json.summary.avg_resolution_minutes }} minutes\n- Avg Satisfaction: {{ $json.summary.avg_satisfaction }}/5\n\n## Metrics by Category:\n{{ JSON.stringify($json.daily_data.metrics_by_category, null, 2) }}\n\n## Sample Resolved Cases (for pattern analysis):\n{{ JSON.stringify($json.daily_data.resolved_cases.slice(0, 20), null, 2) }}\n\n## Agent Feedback (corrections/rejections):\n{{ JSON.stringify($json.daily_data.agent_feedback.slice(0, 20), null, 2) }}\n\n## Historical Trends (30 days):\n{{ JSON.stringify($json.daily_data.historical_trends.slice(0, 30), null, 2) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data analyst specializing in customer support operations.\n\nYour task is to:\n\n1. **Common Issues**: Identify the most frequent issues and their trends\n2. **Documentation Gaps**: Find topics that lack good KB coverage (cases with low satisfaction or long resolution times)\n3. **Product Bugs**: Identify potential product defects reported multiple times\n4. **Process Improvements**: Suggest workflow or process improvements\n5. **Training Needs**: Identify areas where support staff need more training\n6. **Agent Improvements**: Based on feedback, suggest improvements to AI agents\n\nGuidelines:\n- Be specific with evidence from the data\n- Prioritize high-impact improvements\n- Consider trends over single-day anomalies\n- Suggest actionable improvements\n- For documentation gaps, suggest specific article titles"
        }
      },
      "id": "455b09df-2e43-44db-85b2-89de18a71a67",
      "name": "Pattern Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1584,
        544
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Article Topic:\n{{ $json.article_to_generate.topic }}\n\n## Suggested Title:\n{{ $json.article_to_generate.title }}\n\n## Evidence/Context:\n{{ $json.article_to_generate.evidence }}\n\n## Impact Level:\n{{ $json.article_to_generate.impact }}",
        "options": {
          "systemMessage": "You are a technical writer creating a knowledge base article. Generate a comprehensive article based on the gap identified in support analysis.\n\nYour task is to write a comprehensive knowledge base article in Confluence Storage Format (HTML-like markup).\n\nRequired Structure:\n1. **Title** - Clear, descriptive (use in <h1> tag)\n2. **Overview** - Brief summary paragraph\n3. **Problem Description** - What issue does this solve?\n4. **Solution** - Step-by-step instructions with specific examples\n5. **Troubleshooting** - Common issues and fixes\n6. **Related Resources** - Links to related topics\n\nFormat Guidelines:\n- Use Confluence storage format: <p>, <h2>, <h3>, <ul>, <li>, <code>, <ac:structured-macro>\n- Use <ac:structured-macro ac:name=\"info\"> for info panels\n- Use <ac:structured-macro ac:name=\"warning\"> for warnings\n- Use <ac:structured-macro ac:name=\"code\"> for code blocks\n- Include specific commands, error messages, or examples\n- Add verification steps after major actions\n\nExample Format:\n<h1>Article Title</h1>\n<p><strong>Overview:</strong> Brief description of what this article covers.</p>\n<h2>Problem Description</h2>\n<p>Description of the issue...</p>\n<h2>Solution</h2>\n<p>Follow these steps to resolve the issue:</p>\n<ol>\n<li>Step one with details</li>\n<li>Step two with details</li>\n</ol>\n<ac:structured-macro ac:name=\"info\">\n<ac:rich-text-body><p>Helpful tip here</p></ac:rich-text-body>\n</ac:structured-macro>\n\nProvide ONLY the article HTML content, nothing else."
        }
      },
      "id": "30a9ae90-1fd5-4b31-b3dd-96c7711659a8",
      "name": "Article Generator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2832,
        128
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        512
      ],
      "id": "b5e123cf-30f3-4fb3-aba1-2688637c986c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Get data from Generate Report (the source of truth)\nconst data = $('Generate Report').first().json;\n\nconst slackMessage = `:bar_chart: *Daily Support Insights - ${data.analysis_date}*\n\n${data.analysis.summary}\n\n*Key Metrics:*\n• Total Cases: ${data.summary.total_cases}\n• Resolution Rate: ${data.summary.resolution_rate}%\n• Self-Service Rate: ${data.summary.self_service_rate}%\n• Avg Satisfaction: ${data.summary.avg_satisfaction}/5\n\n*Actions:*\n• ${data.analysis.documentation_gaps.length} KB articles created in Confluence\n• ${data.analysis.product_bugs.length} bugs reported\n• ${data.analysis.process_improvements.length} improvements suggested\n\nFull report sent to leadership email.`;\n\nreturn {\n  json: {\n    ...data,\n    slack_message: slackMessage\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        736
      ],
      "id": "09452559-5872-4c17-ad45-e3789d306c5e",
      "name": "Format Slack Report"
    },
    {
      "parameters": {
        "jsCode": "// Get data from Generate Report\nconst data = $('Generate Report').first().json;\nconst summary = data.summary;\nconst analysis = data.analysis;\n\n// Build HTML email\nconst htmlEmail = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; }\n    h1 { color: #1a56db; border-bottom: 2px solid #1a56db; padding-bottom: 10px; }\n    h2 { color: #374151; margin-top: 30px; border-bottom: 1px solid #e5e7eb; padding-bottom: 8px; }\n    h3 { color: #6b7280; }\n    table { border-collapse: collapse; width: 100%; margin: 15px 0; }\n    th, td { border: 1px solid #e5e7eb; padding: 12px; text-align: left; }\n    th { background-color: #f9fafb; font-weight: 600; }\n    .good { color: #059669; }\n    .warning { color: #d97706; }\n    .metric-value { font-weight: 600; font-size: 1.1em; }\n    .summary-box { background-color: #f3f4f6; padding: 15px; border-radius: 8px; margin: 15px 0; }\n    ul, ol { margin: 10px 0; padding-left: 25px; }\n    li { margin: 8px 0; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #e5e7eb; font-size: 0.9em; color: #6b7280; }\n  </style>\n</head>\n<body>\n  <h1>📊 Daily Support Insights Report</h1>\n  <p><strong>Date:</strong> ${data.analysis_date}</p>\n  \n  <div class=\"summary-box\">\n    <h2>Executive Summary</h2>\n    <p>${analysis.summary}</p>\n  </div>\n  \n  <h2>Key Metrics</h2>\n  <table>\n    <tr>\n      <th>Metric</th>\n      <th>Value</th>\n      <th>Status</th>\n    </tr>\n    <tr>\n      <td>Total Cases</td>\n      <td class=\"metric-value\">${summary.total_cases}</td>\n      <td>${summary.total_cases > 50 ? '<span class=\"warning\">📈 High Volume</span>' : '<span class=\"good\">✅ Normal</span>'}</td>\n    </tr>\n    <tr>\n      <td>Resolution Rate</td>\n      <td class=\"metric-value\">${summary.resolution_rate}%</td>\n      <td>${parseFloat(summary.resolution_rate) > 80 ? '<span class=\"good\">✅ Good</span>' : '<span class=\"warning\">⚠️ Needs Attention</span>'}</td>\n    </tr>\n    <tr>\n      <td>Self-Service Rate</td>\n      <td class=\"metric-value\">${summary.self_service_rate}%</td>\n      <td>${parseFloat(summary.self_service_rate) > 50 ? '<span class=\"good\">✅ Good</span>' : '<span class=\"warning\">📊 Improving</span>'}</td>\n    </tr>\n    <tr>\n      <td>Avg Resolution Time</td>\n      <td class=\"metric-value\">${summary.avg_resolution_minutes} min</td>\n      <td>${summary.avg_resolution_minutes < 30 ? '<span class=\"good\">✅ Fast</span>' : '<span class=\"warning\">⚠️ Review Process</span>'}</td>\n    </tr>\n    <tr>\n      <td>Avg Satisfaction</td>\n      <td class=\"metric-value\">${summary.avg_satisfaction}/5</td>\n      <td>${parseFloat(summary.avg_satisfaction) > 4 ? '<span class=\"good\">✅ Excellent</span>' : '<span class=\"warning\">⚠️ Monitor</span>'}</td>\n    </tr>\n    <tr>\n      <td>Escalation Rate</td>\n      <td class=\"metric-value\">${summary.escalation_rate}%</td>\n      <td>${parseFloat(summary.escalation_rate) < 10 ? '<span class=\"good\">✅ Low</span>' : '<span class=\"warning\">⚠️ High</span>'}</td>\n    </tr>\n  </table>\n  \n  <h2>Top Issues</h2>\n  <ol>\n    ${(analysis.common_issues || []).slice(0, 5).map(issue => `\n      <li>\n        <strong>${issue.issue}</strong> (${issue.category})<br>\n        <small>Frequency: ${issue.frequency} cases | Trend: ${issue.trend} | Avg Resolution: ${issue.avg_resolution_time || 'N/A'} min</small>\n      </li>\n    `).join('')}\n  </ol>\n  \n  <h2>Actions Taken</h2>\n  <h3>Knowledge Base Updates</h3>\n  <ul>\n    <li>${(analysis.documentation_gaps || []).length} documentation gaps identified</li>\n    <li>${(analysis.documentation_gaps || []).filter(g => g.estimated_impact === 'high' || g.estimated_impact === 'medium').length} high-impact articles created in Confluence</li>\n    <li>All new articles tagged with #needs-review for human validation</li>\n  </ul>\n  \n  <h3>Product Bugs Reported</h3>\n  <ul>\n    <li>${(analysis.product_bugs || []).length} potential bugs identified</li>\n    <li>${(analysis.product_bugs || []).filter(b => b.severity === 'critical' || b.severity === 'high').length} high-severity bugs reported to engineering</li>\n  </ul>\n  \n  <h2>Process Improvements Suggested</h2>\n  <ol>\n    ${(analysis.process_improvements || []).map(imp => `<li>${imp}</li>`).join('')}\n  </ol>\n  \n  <h2>Training Needs Identified</h2>\n  <ol>\n    ${(analysis.training_needs || []).map(need => `<li>${need}</li>`).join('')}\n  </ol>\n  \n  <h2>AI Agent Performance</h2>\n  <p>${(analysis.agent_improvement_suggestions || []).length > 0 \n    ? (analysis.agent_improvement_suggestions || []).map(s => `<strong>${s.agent_name}:</strong> ${s.issue}<br><em>Suggestion: ${s.suggestion}</em>`).join('<br><br>') \n    : 'No significant issues identified with AI agents.'}</p>\n  \n  <div class=\"footer\">\n    <p><em>Report generated automatically by the Continuous Learning System</em><br>\n    <strong>Run ID:</strong> ${data.run_id}</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...data,\n    email_subject: `Daily Support Insights - ${data.analysis_date}`,\n    email_html: htmlEmail\n  }\n};\n;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        736
      ],
      "id": "4c4235d6-467a-4a48-8d22-b9e9f2135470",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Format bug data for Jira ticket creation\nconst input = $input.item.json;\nconst bug = input.bug_to_report;\n\n// Build description with proper formatting\nconst description = `**Severity:** ${bug.severity || 'Unknown'}\n\n**Affected Customers:** ${bug.affected_customers || 'Unknown'}\n\n**Description:**\n${bug.description || 'No description provided'}\n\n**Root Cause Hypothesis:**\n${bug.root_cause_hypothesis || 'To be investigated'}\n\n**Related Case IDs:**\n${(bug.case_ids || []).join(', ') || 'None identified'}\n\n---\n*This bug was automatically identified by the CX-Catalyst Continuous Learning system based on support case analysis.*`;\n\nreturn {\n  json: {\n    summary: `Support-Identified: ${(bug.description || 'Unknown Issue').substring(0, 100)}`,\n    description: description,\n    severity: bug.severity || 'medium',\n    bug_to_report: bug\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        560
      ],
      "id": "9fde3159-3b3f-40ff-b2f9-b1bc84e8dfaa",
      "name": "Format Bug Ticket"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule - Daily 3 AM": {
      "main": [
        [
          {
            "node": "Set Run Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Run Context": {
      "main": [
        [
          {
            "node": "Aggregate Daily Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Resolved Cases",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Agent Feedback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Historical Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Daily Metrics": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Resolved Cases": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Agent Feedback": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch Historical Trends": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Daily Data": {
      "main": [
        [
          {
            "node": "Pattern Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pattern Analysis Agent": {
      "main": [
        [
          {
            "node": "Combine Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet - Analysis": {
      "ai_languageModel": [
        [
          {
            "node": "Pattern Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Pattern Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Combine Analysis": {
      "main": [
        [
          {
            "node": "Has Doc Gaps?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Product Bugs?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Doc Gaps?": {
      "main": [
        [
          {
            "node": "Prepare KB Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare KB Articles": {
      "main": [
        [
          {
            "node": "Loop Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Articles": {
      "main": [
        [],
        [
          {
            "node": "Article Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Generator Agent": {
      "main": [
        [
          {
            "node": "Prepare Confluence Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet - Article": {
      "ai_languageModel": [
        [
          {
            "node": "Article Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Confluence Content": {
      "main": [
        [
          {
            "node": "Create Confluence Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Confluence Page": {
      "main": [
        [
          {
            "node": "Add Labels to Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Labels to Page": {
      "main": [
        [
          {
            "node": "Log to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger KB Re-index": {
      "main": [
        []
      ]
    },
    "Log to PostgreSQL": {
      "main": [
        [
          {
            "node": "Loop Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Product Bugs?": {
      "main": [
        [
          {
            "node": "Prepare Bug Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Bug Tickets": {
      "main": [
        [
          {
            "node": "Loop Bugs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Bugs": {
      "main": [
        [],
        [
          {
            "node": "Format Bug Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Bug": {
      "main": [
        [
          {
            "node": "Loop Bugs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report Email": {
      "main": [
        [
          {
            "node": "Format Slack Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Log Workflow Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Report": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Bug Ticket": {
      "main": [
        [
          {
            "node": "Create Jira Bug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5a4c0815-44fb-4bd1-b9bf-1bea551c5c53",
  "meta": {
    "instanceId": "b01e799c8597a418342586f9fe42b57cf7798483b7d7540aea0ab43464ea70a2"
  },
  "id": "l7tl1RNL4G9aqsVD2Fk5z",
  "tags": [
    {
      "updatedAt": "2026-01-17T08:42:30.165Z",
      "createdAt": "2026-01-17T08:42:30.165Z",
      "id": "0xDLB3tv3NcOpp8z",
      "name": "analytics"
    },
    {
      "updatedAt": "2026-01-19T22:51:41.995Z",
      "createdAt": "2026-01-19T22:51:41.995Z",
      "id": "KqwW60IAVTGRu2Mn",
      "name": "confluence"
    },
    {
      "updatedAt": "2026-01-17T08:36:28.407Z",
      "createdAt": "2026-01-17T08:36:28.407Z",
      "id": "OtUeceTAP0XdAwUt",
      "name": "support"
    },
    {
      "updatedAt": "2026-01-17T08:42:30.122Z",
      "createdAt": "2026-01-17T08:42:30.122Z",
      "id": "gXfFMZaJRlZ1exue",
      "name": "learning"
    }
  ]
}