n8n-workflows/Support - 1. Smart Intake & Triage.json
{
  "name": "Support - 1. Smart Intake & Triage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/intake",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "c8b08d5a-089b-4410-8c78-8a62e7ca4ce7",
      "name": "Webhook - Support Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -12560,
        800
      ],
      "webhookId": "support-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract & Normalize Request\nconst input = $input.item.json;\n\n// Parse incoming request from various channels\nconst body = input.body || input;\nconst channel = body.channel || 'webhook';\nconst customerId = body.customer_id;\nconst customerEmail = body.customer_email;\nconst customerName = body.customer_name;\nconst issueDescription = body.description;\nconst severity = body.severity || 'medium';\nconst product = body.product || 'unknown';\nconst productVersion = body.product_version;\nconst environment = body.environment || 'production';\n\n// Generate request ID\nconst requestId = 'REQ-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9);\n\nreturn {\n  json: {\n    request_id: requestId,\n    channel,\n    customer_id: customerId,\n    customer_email: customerEmail,\n    customer_name: customerName,\n    description: issueDescription,\n    severity,\n    product,\n    product_version: productVersion,\n    environment,\n    received_at: new Date().toISOString(),\n    metadata: body.metadata || {}\n  }\n};"
      },
      "id": "54f29d70-4e2c-4568-b248-8999b544395a",
      "name": "Extract & Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12336,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.customer_id,\n  c.name,\n  c.email,\n  c.account_tier,\n  c.created_at as customer_since,\n  COUNT(DISTINCT cs.case_id) as total_cases,\n  COUNT(DISTINCT CASE WHEN cs.status = 'resolved' THEN cs.case_id END) as resolved_cases,\n  AVG(cs.satisfaction_score) as avg_satisfaction,\n  MAX(cs.created_at) as last_contact,\n  COUNT(DISTINCT CASE WHEN cs.created_at > NOW() - INTERVAL '30 days' THEN cs.case_id END) as cases_last_30_days\nFROM public.customers c\nLEFT JOIN public.cases cs ON c.customer_id = cs.customer_id\nWHERE (\n  (c.customer_id::text = '{{ $json.customer_id }}')\n  OR \n  (c.email = '{{ $json.customer_email }}')\n)\nGROUP BY c.customer_id, c.name, c.email, c.account_tier, c.created_at\nLIMIT 1;",
        "options": {}
      },
      "id": "4437ea93-df4c-4eee-a073-52491be9b087",
      "name": "Enrich Customer Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -12112,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge request data with customer context\nconst requestData = $('Extract & Normalize Request').first().json;\nconst customerData = $input.item.json;\n\n// Determine if this is a new or existing customer\nconst isNewCustomer = !customerData || !customerData.customer_id;\n\nreturn {\n  json: {\n    ...requestData,\n    customer_context: {\n      is_new_customer: isNewCustomer,\n      customer_id: customerData?.customer_id || requestData.customer_id,\n      name: customerData?.name || requestData.customer_name,\n      email: customerData?.email || requestData.customer_email,\n      account_tier: customerData?.account_tier || 'standard',\n      total_cases: customerData?.total_cases || 0,\n      resolved_cases: customerData?.resolved_cases || 0,\n      avg_satisfaction: customerData?.avg_satisfaction || null,\n      last_contact: customerData?.last_contact || null,\n      cases_last_30_days: customerData?.cases_last_30_days || 0,\n      is_vip: customerData?.account_tier === 'enterprise' || customerData?.account_tier === 'premium'\n    }\n  }\n};"
      },
      "id": "7d482b76-8916-404f-8393-fae74bd6a401",
      "name": "Merge Request & Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11216,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine original request with classification\nconst requestData = $('Merge Request & Context').first().json;\nconst agentOutput = $input.item.json;\nconst classification = agentOutput.output || agentOutput;\n\nreturn {\n  json: {\n    ...requestData,\n    classification: {\n      category: classification.category || 'other',\n      subcategory: classification.subcategory || 'general',\n      priority: classification.priority || 'medium',\n      confidence: classification.confidence || 0.5,\n      estimated_complexity: classification.estimated_complexity || 'moderate',\n      suggested_resolution_path: classification.suggested_resolution_path || 'collaborative',\n      reasoning: classification.reasoning || ''\n      // REMOVED: tags field that was causing issues\n    },\n    triaged_at: new Date().toISOString()\n  }\n};"
      },
      "id": "0fa71929-3ae8-4212-8e70-bd994708c425",
      "name": "Combine Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10416,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.cases (\n  customer_id,\n  channel,\n  description,\n  category,\n  subcategory,\n  priority,\n  confidence_score,\n  status,\n  metadata,\n  created_at,\n  triaged_at\n) VALUES (\n  '{{ $json.customer_context.customer_id }}',\n  '{{ $json.channel }}',\n  $tag${{ $json.description }}$tag$,\n  '{{ $json.classification.category }}',\n  '{{ $json.classification.subcategory }}',\n  '{{ $json.classification.priority }}',\n  {{ $json.classification.confidence }},\n  'triaged',\n  '{{ JSON.stringify($json.metadata || {}) }}'::jsonb,\n  '{{ $json.received_at }}',\n  '{{ $json.triaged_at }}'\n) RETURNING case_id;",
        "options": {}
      },
      "id": "faa2e08f-d479-4907-a2d8-60aa36066dfd",
      "name": "Insert Case Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -10192,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Add case_id to the data\nconst requestData = $('Combine Classification').first().json;\nconst caseId = $input.item.json.case_id;\n\nreturn {\n  json: {\n    ...requestData,\n    case_id: caseId\n  }\n};"
      },
      "id": "ffe38066-d7e8-4696-8c25-6a5cbf165188",
      "name": "Add Case ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9968,
        800
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification.priority }}",
                    "rightValue": "critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ba2ff4f2-1dae-422d-8149-551aae6224b6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Critical"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification.confidence }}",
                    "rightValue": 0.85,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "4f512e37-f65c-4060-bd5b-931cfafbd205"
                  },
                  {
                    "leftValue": "={{ $json.classification.estimated_complexity }}",
                    "rightValue": "simple",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "54f48caf-b7b8-4e5e-8d9a-884daf94c556"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Self-Service"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "2876e000-3da5-4da7-bbd3-77c15b917b01"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Collaborative"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "3571be13-6b74-494a-bda6-9ff2adb81d70",
      "name": "Route Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -9744,
        768
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE cases \nSET status = 'escalated_critical', \n    metadata = metadata || '{\"escalation_reason\": \"critical_priority\"}'::jsonb\nWHERE case_id = '{{ $json.case_id }}';",
        "options": {}
      },
      "id": "9b2e3237-5d1b-4f31-82ac-9e5210ad46a8",
      "name": "Mark Critical",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -9520,
        416
      ],
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A9JTELREF",
          "mode": "list",
          "cachedResultName": "support-alerts"
        },
        "text": "=={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "1e5f933b-05c6-4442-b683-9b8e78cf0387",
      "name": "Slack Critical Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -9072,
        416
      ],
      "webhookId": "ffc4219e-faf8-48d4-8ecd-0cdcb99cbf84",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ycLXWUud0BkJrKR2",
          "name": "cx-catalyst-slack"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sbray205.app.n8n.cloud/webhook/support/self-service\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "3a147528-89cf-4f52-9a08-e6b159061209",
      "name": "Trigger Self-Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9072,
        608
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE cases \nSET status = 'escalated_human', \n    metadata = metadata || '{\"escalation_reason\": \"low_confidence_or_complex\"}'::jsonb\nWHERE case_id = '{{ $json.case_id }}';",
        "options": {}
      },
      "id": "5c9e61e5-e736-4e06-a58f-a4dc1db1dd97",
      "name": "Mark Escalated",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -9520,
        1184
      ],
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A9JTFU0SX",
          "mode": "list",
          "cachedResultName": "support-escalations"
        },
        "text": "=:hand: *Human Review Required*\n\n*Case ID:* {{ $('Add Case ID').item.json.case_id }}\n*Customer:* {{ $('Add Case ID').item.json.customer_context.name }} ({{ $('Add Case ID').item.json.customer_context.account_tier }})\n*Priority:* {{ $('Add Case ID').item.json.classification.priority }}\n*Category:* {{ $('Add Case ID').item.json.classification.category }} / {{ $('Add Case ID').item.json.classification.subcategory }}\n*Complexity:* {{ $('Add Case ID').item.json.classification.estimated_complexity }}\n\n*Description:*\n{{ $('Add Case ID').item.json.description }}\n\n*AI Assessment:*\n{{ $('Add Case ID').item.json.classification.reasoning }}\n\n*Confidence:* {{ Math.round($('Add Case ID').item.json.classification.confidence * 100) }}%\n\n*Why Escalated:* Low confidence or complex issue requiring human expertise.\n\nPlease review and respond to the customer.\n",
        "otherOptions": {}
      },
      "id": "567d4d05-b561-4a2b-8f61-707422c0966a",
      "name": "Slack Escalation",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -9072,
        1184
      ],
      "webhookId": "2ff62258-d793-40f2-a92d-9f6703f96af7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ycLXWUud0BkJrKR2",
          "name": "cx-catalyst-slack"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare response data - Pull from Add Case ID node which has complete data\nconst addCaseIdData = $('Add Case ID').first();\n\n// Check if we have the data from Add Case ID node\nif (!addCaseIdData || !addCaseIdData.json) {\n  // Fallback: try to get from current input\n  const currentData = $input.item.json;\n  \n  return {\n    json: {\n      response: {\n        success: true,\n        case_id: currentData.case_id || 'unknown',\n        message: 'Your support request has been received and is being processed.',\n        status: 'triaged'\n      }\n    }\n  };\n}\n\nconst data = addCaseIdData.json;\n\n// Build response with safe property access\nconst category = data.classification?.category || 'general';\nconst priority = data.classification?.priority || 'medium';\nconst resolutionPath = data.classification?.suggested_resolution_path || 'collaborative';\n\n// Determine estimated response time based on priority\nlet estimatedResponseTime;\nswitch (priority) {\n  case 'critical':\n    estimatedResponseTime = 'Immediate';\n    break;\n  case 'high':\n    estimatedResponseTime = 'Within 2 hours';\n    break;\n  case 'medium':\n    estimatedResponseTime = 'Within 8 hours';\n    break;\n  case 'low':\n    estimatedResponseTime = 'Within 24 hours';\n    break;\n  default:\n    estimatedResponseTime = 'Within 24 hours';\n}\n\nreturn {\n  json: {\n    response: {\n      success: true,\n      case_id: data.case_id,\n      request_id: data.request_id,\n      status: 'triaged',\n      classification: {\n        category: category,\n        priority: priority,\n        resolution_path: resolutionPath\n      },\n      message: `Your support request has been received and classified. Case ID: ${data.case_id}`,\n      estimated_response_time: estimatedResponseTime,\n      next_steps: resolutionPath === 'self-service' \n        ? 'Check your email for automated solution steps.'\n        : resolutionPath === 'escalate'\n        ? 'A support specialist will review your case and contact you soon.'\n        : 'Our support team is working on your case.'\n    }\n  }\n};"
      },
      "id": "dbcd8af5-34d0-4de5-ab3d-e7ef023224f4",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8848,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response, null, 2) }}",
        "options": {}
      },
      "id": "1043ab92-2c5d-4427-82f9-2c1dc62a4d32",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -8624,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Triage Prompt with actual values\nconst data = $input.item.json;\n\nconst prompt = `You are a customer support triage specialist. Your role is to analyze support requests and classify them accurately.\n\nCRITICAL: You must respond with ONLY a valid JSON object. Do not include any text before or after the JSON. Do not wrap the JSON in markdown code blocks.\n\n## Customer Issue:\n${data.description}\n\n## Customer Context:\n- Account Tier: ${data.customer_context.account_tier}\n- Total Past Cases: ${data.customer_context.total_cases}\n- Average Satisfaction: ${data.customer_context.avg_satisfaction || 'N/A'}\n- Is VIP: ${data.customer_context.is_vip}\n- Product: ${data.product}\n- Environment: ${data.environment}\n- Reported Severity: ${data.severity}\n\nIMPORTANT: Return ONLY a valid JSON object with these exact fields:\n\n{\n  \"category\": \"string (configuration, usage, setup, defect, enhancement, or other)\",\n  \"subcategory\": \"string (specific subcategory)\",\n  \"priority\": \"string (critical, high, medium, or low)\",\n  \"confidence\": number (0.0 to 1.0),\n  \"estimated_complexity\": \"string (simple, moderate, or complex)\",\n  \"suggested_resolution_path\": \"string (self-service, collaborative, or escalate)\",\n  \"reasoning\": \"string (brief explanation)\"\n}\n\nClassification Guidelines:\n\nPriority:\n- critical: System down, data loss, security breach, multiple customers affected\n- high: Major functionality broken, VIP customer, revenue impact\n- medium: Workaround exists, single customer, no immediate business impact\n- low: Cosmetic issues, feature requests, questions\n\nComplexity:\n- simple: Known issue, documented solution, <15 min resolution\n- moderate: Requires investigation, multiple steps, 15-60 min\n- complex: Requires engineering, code changes, >60 min\n\nResolution Path:\n- self-service: High confidence (>0.85) + Simple complexity\n- collaborative: Medium confidence (0.60-0.85) or Moderate complexity\n- escalate: Low confidence (<0.60), Complex, or Critical priority\n\nExample valid response:\n{\n  \"category\": \"configuration\",\n  \"subcategory\": \"api_authentication\",\n  \"priority\": \"high\",\n  \"confidence\": 0.9,\n  \"estimated_complexity\": \"moderate\",\n  \"suggested_resolution_path\": \"collaborative\",\n  \"reasoning\": \"Clear API 401 authentication error with production impact\"\n}`;\n\nreturn {\n  json: {\n    ...data,\n    triage_prompt: prompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10992,
        800
      ],
      "id": "0a9d7894-11a6-478b-b583-e59a1f0974da",
      "name": "Build Triage Prompt"
    },
    {
      "parameters": {
        "jsCode": "// Build Critical Alert Message - Pull from Add Case ID which has complete data\nconst completeData = $('Add Case ID').first().json;\nconst currentData = $input.item.json;\n\n// Merge to get case_id from current path and everything else from complete data\nconst data = {\n  ...completeData,\n  case_id: currentData.case_id || completeData.case_id\n};\n\nconst slackMessage = `:rotating_light: *CRITICAL SUPPORT CASE*\n\n*Case ID:* ${data.case_id}\n*Customer:* ${data.customer_context?.name || 'Unknown'} (${data.customer_context?.account_tier || 'standard'})\n*Priority:* ${data.classification?.priority || 'high'}\n*Category:* ${data.classification?.category || 'general'} / ${data.classification?.subcategory || 'other'}\n\n*Description:*\n${data.description}\n\n*AI Assessment:*\n${data.classification?.reasoning || 'Classified as critical priority'}\n\n*Confidence:* ${Math.round((data.classification?.confidence || 0.8) * 100)}%\n\nPlease respond immediately!`;\n\nreturn {\n  json: {\n    ...data,\n    slack_message: slackMessage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9296,
        416
      ],
      "id": "302d725b-9a47-46c3-a3ae-d8f01c7256fd",
      "name": "Build Critical Alert Message"
    },
    {
      "parameters": {
        "jsCode": "// Build Escalation Message - Pull from Add Case ID which has complete data\nconst completeData = $('Add Case ID').first().json;\nconst currentData = $input.item.json;\n\n// Merge to get case_id from current path and everything else from complete data\nconst data = {\n  ...completeData,\n  case_id: currentData.case_id || completeData.case_id\n};\n\nconst slackMessage = `:hand: *Human Review Required*\n\n*Case ID:* ${data.case_id}\n*Customer:* ${data.customer_context?.name || 'Unknown'} (${data.customer_context?.account_tier || 'standard'})\n*Priority:* ${data.classification?.priority || 'medium'}\n*Category:* ${data.classification?.category || 'general'} / ${data.classification?.subcategory || 'other'}\n*Complexity:* ${data.classification?.estimated_complexity || 'moderate'}\n\n*Description:*\n${data.description}\n\n*AI Assessment:*\n${data.classification?.reasoning || 'Requires human review'}\n\n*Confidence:* ${Math.round((data.classification?.confidence || 0.5) * 100)}%\n\n*Why Escalated:* Low confidence or complex issue requiring human expertise.\n\nPlease review and respond to the customer.`;\n\nreturn {\n  json: {\n    ...data,\n    slack_message: slackMessage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9296,
        1184
      ],
      "id": "6dd3af8d-4341-482b-8a57-35e56aaef993",
      "name": "Build Escalation Message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification.category }}",
                    "rightValue": "enhancement",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Feature Request"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "59d86118-abef-4620-94e1-c02b3e0cb48e",
      "name": "Check Enhancement",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -9520,
        896
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10035",
          "mode": "list",
          "cachedResultName": "Development"
        },
        "issueType": {
          "__rl": true,
          "value": "10051",
          "mode": "list",
          "cachedResultName": "Story"
        },
        "summary": "=[Feature Request] {{ $json.classification.subcategory }}: {{ $json.description.substring(0, 100) }}",
        "additionalFields": {
          "description": "=Customer Request: {{ $json.description }}  Customer Information: - Customer: {{ $json.customer_context.name }} ({{ $json.customer_context.email }}) - Account Tier: {{ $json.customer_context.account_tier }} - Product: {{ $json.product }} - Support Case ID: {{ $json.case_id }}  AI Analysis: {{ $json.classification.reasoning }}",
          "labels": [],
          "priority": {
            "__rl": true,
            "value": "3",
            "mode": "list",
            "cachedResultName": "Medium"
          }
        }
      },
      "id": "4faf6da6-e87f-4ed0-a824-72bbdabde66c",
      "name": "Create Jira Feature Request",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -9296,
        800
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "esdOjucGFFmZQRup",
          "name": "Jira SW Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE cases \nSET status = 'feature_request', \n    metadata = metadata || '{\"jira_ticket\": \"{{ $json.key }}\", \"resolution_path\": \"jira_feature\"}'::jsonb\nWHERE case_id = '{{ $('Check Enhancement').item.json.case_id }}';",
        "options": {}
      },
      "id": "aa1e69c3-3ab0-41c1-8324-54933d720b14",
      "name": "Update Case with Jira",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -9072,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow 1: Smart Support Intake & Triage\n\n**Purpose:** Receive support requests from all channels, normalize data, classify issues, and route to appropriate resolution path.\n\n### Flow:\n1. Webhook receives support request\n2. Extract and normalize request data\n3. Enrich with customer context from DB\n4. AI Agent classifies the issue\n5. Insert case record\n6. Route based on confidence/complexity:\n   - Critical → Immediate alert\n   - High confidence + Simple → Self-service\n   - Medium confidence + Enhancement → Jira Feature Request\n   - Medium confidence + Other → Collaborative\n   - Low confidence/Complex → Human escalation\n\n### Configuration Required:\n- Update PostgreSQL credentials\n- Update Slack credentials\n- Update Anthropic credentials\n- Update Jira credentials\n- Set N8N_WEBHOOK_BASE_URL environment variable\n- Set JIRA_DEV_PROJECT_ID environment variable",
        "height": 792,
        "width": 360
      },
      "id": "331fa766-7a32-4a9b-95f5-cf342e81a8a1",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -12944,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a63238a6-7012-4a3e-b057-17b070a6f237",
              "leftValue": "={{ $json.customer_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11888,
        800
      ],
      "id": "9c27ddbf-de06-45ce-80f5-212b8bee8c61",
      "name": "Check Customer Exists1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.customers (\n  customer_id,\n  email,\n  name,\n  account_tier,\n  created_at,\n  metadata\n) VALUES (\n  gen_random_uuid(),\n  '{{ $('Extract & Normalize Request').item.json.customer_email }}',\n  '{{ $('Extract & Normalize Request').item.json.customer_name }}',\n  'standard',\n  NOW(),\n  '{\"source\": \"auto_created\", \"channel\": \"{{ $('Extract & Normalize Request').item.json.channel }}\"}'::jsonb\n)\nRETURNING customer_id, email, name, account_tier, created_at;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -11664,
        880
      ],
      "id": "9ed13c1a-1231-4fc8-8f08-c1f041621f2f",
      "name": "Create New Customer",
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format new customer to match expected structure\nconst requestData = $('Extract & Normalize Request').first().json;\nconst newCustomer = $input.item.json;\n\nreturn {\n  json: {\n    customer_id: newCustomer.customer_id,\n    name: newCustomer.name,\n    email: newCustomer.email,\n    account_tier: newCustomer.account_tier,\n    customer_since: newCustomer.created_at,\n    total_cases: 0,\n    resolved_cases: 0,\n    avg_satisfaction: null,\n    last_contact: null,\n    cases_last_30_days: 0\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11440,
        880
      ],
      "id": "551e268d-228d-4b89-abf1-46c61abf402c",
      "name": "Format New Customer Context"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://shawnbrianray-1765049461409.atlassian.net/wiki/api/v2/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"spaceId\": \"11534340\",\n  \"parentId\": \"11534507\",\n  \"title\": \"{{ $json.classification.subcategory }}: {{ $json.description.substring(0, 70) }}\",\n  \"status\": \"current\",\n  \"body\": {\n    \"representation\": \"storage\",\n    \"value\": \"<h2>Customer Request</h2><p><strong>Case ID:</strong> {{ $json.case_id }}<br/><strong>Customer:</strong> {{ $json.customer_context.name }} ({{ $json.customer_context.email }})<br/><strong>Account Tier:</strong> {{ $json.customer_context.account_tier }}<br/><strong>Product:</strong> {{ $json.product }}<br/><strong>Submitted:</strong> {{ $json.received_at }}</p><h3>Description</h3><p>{{ $json.description }}</p><h2>AI Analysis</h2><p><strong>Category:</strong> {{ $json.classification.category }} / {{ $json.classification.subcategory }}<br/><strong>Priority:</strong> {{ $json.classification.priority }}<br/><strong>Confidence:</strong> {{ Math.round($json.classification.confidence * 100) }}%<br/><strong>Complexity:</strong> {{ $json.classification.estimated_complexity }}</p><p><strong>Reasoning:</strong> {{ $json.classification.reasoning }}</p><hr/><p><em>Auto-created by CX-Catalyst workflow</em></p>\"\n  }\n}\n\n\n",
        "options": {}
      },
      "id": "0fc85284-15a2-45da-a05f-434d62291d50",
      "name": "Create Confluence Enhancement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9296,
        992
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "ftZ4KeeucUPPSH6j",
          "name": "Atlassian API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE cases \nSET status = 'collaborative_confluence', \n    metadata = metadata || '{\n      \"confluence_page_id\": \"{{ $json.id }}\",\n      \"confluence_page_url\": \"https://shawnbrianray-1765049461409.atlassian.net/wiki/spaces/pm/pages/{{ $json.id }}\",\n      \"resolution_path\": \"confluence_enhancement\"\n    }'::jsonb\nWHERE case_id = '{{ $('Check Enhancement').item.json.case_id }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9072,
        992
      ],
      "id": "0c8136a0-4797-4719-ae3b-062dfbe976fd",
      "name": "Update Case with Confluence",
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this customer support request and classify it:\n\n**Customer:** {{ $json.customer_name }} ({{ $json.customer_email }})\n**Subject:** {{ $json.subject }}\n**Message:** {{ $json.message }}\n**Product:** {{ $json.product }} {{ $json.product_version }}\n**Channel:** {{ $json.channel }}\n\nClassify this request by:\n1. Category (billing, technical, account, general)\n2. Subcategory (more specific classification)\n3. Priority (low, medium, high, urgent)\n4. Sentiment (positive, neutral, frustrated, angry)\n5. Confidence score (0-1) for your classification\n6. Suggested routing (self_service, collaborative, escalation)\n\nReturn your analysis as structured JSON.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a customer support triage specialist. Your role is to analyze support requests and classify them accurately.\n\nGiven a customer issue description and context, you must provide a JSON object with these exact fields:\n\n1. \"category\": Primary category - MUST be one of: \"configuration\", \"usage\", \"setup\", \"defect\", \"enhancement\", or \"other\"\n2. \"subcategory\": Specific subcategory within the main category\n3. \"priority\": MUST be one of: \"critical\", \"high\", \"medium\", or \"low\"\n4. \"confidence\": A number between 0 and 1 (e.g., 0.85)\n5. \"estimated_complexity\": MUST be one of: \"simple\", \"moderate\", or \"complex\"\n6. \"suggested_resolution_path\": MUST be one of: \"self-service\", \"collaborative\", or \"escalate\"\n7. \"reasoning\": Brief explanation of the classification\n\nPriority Guidelines:\n- critical: System down, data loss, security breach, multiple customers affected\n- high: Major functionality broken, VIP customer, revenue impact\n- medium: Workaround exists, single customer, no immediate business impact\n- low: Cosmetic issues, feature requests, questions\n\nComplexity Guidelines:\n- simple: Known issue, documented solution, <15 min resolution\n- moderate: Requires investigation, multiple steps, 15-60 min\n- complex: Requires engineering, code changes, >60 min\n\nResolution Path Guidelines:\n- self-service: High confidence (>0.85) + Simple complexity\n- collaborative: Medium confidence (0.60-0.85) or Moderate complexity\n- escalate: Low confidence (<0.60), Complex, or Critical priority\n\nConfidence Score Guidelines:\n- Only give >0.85 for crystal-clear, unambiguous issues\n- Give 0.60-0.85 for issues with some ambiguity\n- Give <0.60 for unclear or complex issues"
        }
      },
      "id": "532c65ee-1b65-4d59-b2a6-03b777a6b698",
      "name": "AI Triage Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -10768,
        800
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-5-20250929"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.1
        }
      },
      "id": "a11fd909-bf47-4573-810d-b51cebc01205",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -10768,
        1024
      ],
      "credentials": {
        "anthropicApi": {
          "id": "eJiT1B0Q8DpkD2EP",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"Primary issue category: configuration, usage, setup, defect, enhancement, or other\"\n    },\n    \"subcategory\": {\n      \"type\": \"string\",\n      \"description\": \"Specific subcategory within the main category\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"description\": \"Priority level: critical, high, medium, or low\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"description\": \"Confidence score for the classification (0-1)\"\n    },\n    \"estimated_complexity\": {\n      \"type\": \"string\",\n      \"description\": \"Estimated complexity: simple, moderate, or complex\"\n    },\n    \"suggested_resolution_path\": {\n      \"type\": \"string\",\n      \"description\": \"Recommended resolution path: self-service, collaborative, or escalate\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\",\n      \"description\": \"Brief explanation of the classification\"\n    }\n  },\n  \"required\": [\"category\", \"subcategory\", \"priority\", \"confidence\", \"estimated_complexity\", \"suggested_resolution_path\", \"reasoning\"]\n}"
      },
      "id": "a130d01d-b6c9-49d7-ab38-55ea1003bcd5",
      "name": "Triage Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -10640,
        1024
      ]
    }
  ],
  "pinData": {
    "Webhook - Support Intake": [
      {
        "json": {
          "customer_email": "shawnbrianray@gmail.com",
          "customer_name": "Test User",
          "subject": "Dashboard export to PDF not working",
          "message": "Hi, I'm trying to export my analytics dashboard to PDF but when I click the Export button, nothing happens. I've tried refreshing the page and using different browsers (Chrome and Safari) but the issue persists. This is urgent as I need to share these reports with my team by end of day. Can you please help?",
          "channel": "email",
          "product": "Analytics Platform",
          "product_version": "2.5.0"
        }
      }
    ]
  },
  "connections": {
    "Webhook - Support Intake": {
      "main": [
        [
          {
            "node": "Extract & Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Normalize Request": {
      "main": [
        [
          {
            "node": "Enrich Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Customer Context": {
      "main": [
        [
          {
            "node": "Check Customer Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Request & Context": {
      "main": [
        [
          {
            "node": "Build Triage Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Triage Agent": {
      "main": [
        [
          {
            "node": "Combine Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triage Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Triage Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Combine Classification": {
      "main": [
        [
          {
            "node": "Insert Case Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Case Record": {
      "main": [
        [
          {
            "node": "Add Case ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Case ID": {
      "main": [
        [
          {
            "node": "Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Decision": {
      "main": [
        [
          {
            "node": "Mark Critical",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Self-Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Enhancement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Critical": {
      "main": [
        [
          {
            "node": "Build Critical Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Critical Alert": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Self-Service": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Escalated": {
      "main": [
        [
          {
            "node": "Build Escalation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Escalation": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Triage Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Triage Prompt": {
      "main": [
        [
          {
            "node": "AI Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Critical Alert Message": {
      "main": [
        [
          {
            "node": "Slack Critical Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Escalation Message": {
      "main": [
        [
          {
            "node": "Slack Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enhancement": {
      "main": [
        [
          {
            "node": "Create Jira Feature Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Confluence Enhancement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Feature Request": {
      "main": [
        [
          {
            "node": "Update Case with Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Case with Jira": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Customer Exists1": {
      "main": [
        [
          {
            "node": "Merge Request & Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Customer": {
      "main": [
        [
          {
            "node": "Format New Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format New Customer Context": {
      "main": [
        [
          {
            "node": "Merge Request & Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Confluence Enhancement": {
      "main": [
        [
          {
            "node": "Update Case with Confluence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Case with Confluence": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "827116e7-b7c1-47a1-9d1f-8d9c73c45ce5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b01e799c8597a418342586f9fe42b57cf7798483b7d7540aea0ab43464ea70a2"
  },
  "id": "1u1BMOby4GNegAy-0DVJF",
  "tags": [
    {
      "updatedAt": "2026-01-19T21:41:47.819Z",
      "createdAt": "2026-01-19T21:41:47.819Z",
      "id": "FI2wxiQgCJ66jwx7",
      "name": "Triage"
    },
    {
      "updatedAt": "2026-01-17T08:36:28.407Z",
      "createdAt": "2026-01-17T08:36:28.407Z",
      "id": "OtUeceTAP0XdAwUt",
      "name": "support"
    },
    {
      "updatedAt": "2026-01-19T21:42:25.414Z",
      "createdAt": "2026-01-19T21:42:25.414Z",
      "id": "dbSLWSaJ2ZXez4c7",
      "name": "Escalation"
    }
  ]
}