n8n-workflows/Support - 3. Proactive Issue Detection.json
{
  "name": "Support - 3. Proactive Issue Detection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "97bc7e75-f1c5-45ff-a385-76a29f1c98f8",
      "name": "Schedule - Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2096,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-id",
              "name": "run_id",
              "value": "={{ 'PROACTIVE-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            },
            {
              "id": "run-start",
              "name": "run_started_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "check-window",
              "name": "check_window_minutes",
              "value": 15,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "73f7173c-baff-476f-941b-664febc5211c",
      "name": "Set Run Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1872,
        416
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  metric_name,\n  metric_value,\n  unit,\n  threshold_warning,\n  threshold_critical,\n  CASE \n    WHEN metric_value >= threshold_critical THEN 'critical'\n    WHEN metric_value >= threshold_warning THEN 'warning'\n    ELSE 'normal'\n  END as current_status,\n  recorded_at\nFROM health_metrics\nWHERE recorded_at >= NOW() - INTERVAL '15 minutes'\nORDER BY recorded_at DESC;",
        "options": {}
      },
      "id": "f91bafa1-0828-48e3-8863-251a4cf28651",
      "name": "Query Health Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        416
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH recent_cases AS (\n  SELECT \n    category,\n    subcategory,\n    COUNT(*) as case_count,\n    AVG(EXTRACT(EPOCH FROM (resolved_at - created_at))/60) as avg_resolution_minutes\n  FROM cases\n  WHERE created_at >= NOW() - INTERVAL '15 minutes'\n  GROUP BY category, subcategory\n),\nhistorical_baseline AS (\n  SELECT \n    category,\n    subcategory,\n    AVG(daily_count) as avg_daily_count,\n    STDDEV(daily_count) as stddev_daily_count\n  FROM (\n    SELECT \n      category,\n      subcategory,\n      DATE(created_at) as day,\n      COUNT(*) as daily_count\n    FROM cases\n    WHERE created_at >= NOW() - INTERVAL '30 days'\n      AND created_at < NOW() - INTERVAL '15 minutes'\n    GROUP BY category, subcategory, DATE(created_at)\n  ) daily_counts\n  GROUP BY category, subcategory\n)\nSELECT \n  r.category,\n  r.subcategory,\n  r.case_count,\n  r.avg_resolution_minutes,\n  h.avg_daily_count,\n  h.stddev_daily_count,\n  CASE \n    WHEN h.stddev_daily_count > 0 THEN\n      (r.case_count - (h.avg_daily_count / 96)) / (h.stddev_daily_count / 96)\n    ELSE 0\n  END as z_score\nFROM recent_cases r\nLEFT JOIN historical_baseline h ON r.category = h.category AND r.subcategory = h.subcategory;",
        "options": {}
      },
      "id": "9fedf339-0a7d-4d2d-af86-4e4735916e9f",
      "name": "Query Case Trends",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        608
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge all monitoring data and detect anomalies\nconst runContext = $('Set Run Context').first().json;\nconst allItems = $input.all().map(item => item.json);\n\n// Separate items by type\nconst kbArticles = allItems.filter(item => item.article_id);\nconst healthMetrics = allItems.filter(item => item.metric_name);\nconst caseTrends = allItems.filter(item => item.z_score !== undefined);\n\n// Process KB articles for relevant solutions\nconst relevantArticles = kbArticles.filter(article => article.article_id);\n\n// Detect health metric anomalies\nconst metricAnomalies = healthMetrics\n  .filter(m => m.current_status === 'critical' || m.current_status === 'warning')\n  .map(m => ({\n    metric: m.metric_name,\n    value: m.metric_value,\n    unit: m.unit,\n    status: m.current_status,\n    threshold: m.current_status === 'critical' ? m.threshold_critical : m.threshold_warning\n  }));\n\n// Detect case volume anomalies (z-score > 2 is significant)\nconst caseAnomalies = caseTrends\n  .filter(t => t.z_score > 2)\n  .map(t => ({\n    category: t.category,\n    subcategory: t.subcategory,\n    current_count: t.case_count,\n    expected_count: Math.round(t.avg_daily_count / 96 * 10) / 10,\n    z_score: Math.round(t.z_score * 100) / 100,\n    severity: t.z_score > 3 ? 'high' : 'medium'\n  }));\n\n// Determine overall anomaly status\nconst hasCriticalMetrics = metricAnomalies.some(m => m.status === 'critical');\nconst hasHighCaseAnomaly = caseAnomalies.some(a => a.severity === 'high');\n\nconst anomalyDetected = hasCriticalMetrics || caseAnomalies.length > 0;\nconst overallSeverity = hasCriticalMetrics || hasHighCaseAnomaly ? 'critical' : \n                        metricAnomalies.length > 0 || caseAnomalies.length > 0 ? 'warning' : 'normal';\n\nreturn {\n  json: {\n    ...runContext,\n    monitoring_data: {\n      kb_articles: relevantArticles,\n      health_metrics: healthMetrics,\n      case_trends: caseTrends\n    },\n    anomalies: {\n      detected: anomalyDetected,\n      overall_severity: overallSeverity,\n      metric_anomalies: metricAnomalies,\n      case_anomalies: caseAnomalies,\n      relevant_kb_articles: relevantArticles.slice(0, 5)\n    },\n    analysis_completed_at: new Date().toISOString()\n  }\n};\n"
      },
      "id": "c776f362-a5de-4682-a0b3-a29827d1e441",
      "name": "Detect Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-anomaly",
              "leftValue": "={{ $json.anomalies.detected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4af58d8-9e83-44d1-9e2b-798cf71f3285",
      "name": "Anomaly Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (\n  workflow_name,\n  status,\n  start_time,\n  end_time,\n  metadata\n) VALUES (\n  'Proactive Issue Detection',\n  'success_no_anomaly',\n  '{{ $json.run_started_at }}',\n  NOW(),\n  '{{ JSON.stringify({ run_id: $json.run_id, anomaly_detected: false }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "b7e4cba4-749a-43c6-8b76-05306ceca139",
      "name": "Log - No Anomaly",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -688,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"issue_detected\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether a significant issue was detected\"\n    },\n    \"issue_type\": {\n      \"type\": \"string\",\n      \"description\": \"Type of issue (performance, availability, error_spike, capacity, security)\"\n    },\n    \"severity\": {\n      \"type\": \"string\",\n      \"enum\": [\"critical\", \"high\", \"medium\", \"low\"],\n      \"description\": \"Severity of the detected issue\"\n    },\n    \"root_cause_hypothesis\": {\n      \"type\": \"string\",\n      \"description\": \"Hypothesis about the root cause based on available data\"\n    },\n    \"affected_services\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"List of potentially affected services or components\"\n    },\n    \"estimated_customer_impact\": {\n      \"type\": \"string\",\n      \"description\": \"Description of potential customer impact\"\n    },\n    \"recommended_actions\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Recommended immediate actions to take\"\n    },\n    \"auto_remediation_possible\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether automated remediation can be applied\"\n    },\n    \"remediation_script\": {\n      \"type\": \"string\",\n      \"description\": \"Name of remediation script if auto-remediation is possible\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence in the analysis (0-1)\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Brief summary of the situation for stakeholders\"\n    }\n  },\n  \"required\": [\"issue_detected\", \"severity\", \"root_cause_hypothesis\", \"recommended_actions\", \"confidence\", \"summary\"]\n}"
      },
      "id": "d968c6eb-af14-47c7-9859-736184a23db4",
      "name": "Analysis Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -624,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine anomaly data with AI analysis\nconst anomalyData = $('Detect Anomalies').first().json;\nconst aiAnalysis = $input.item.json.output || $input.item.json;\n\nreturn {\n  json: {\n    ...anomalyData,\n    ai_analysis: {\n      issue_detected: aiAnalysis.issue_detected,\n      issue_type: aiAnalysis.issue_type,\n      severity: aiAnalysis.severity,\n      root_cause_hypothesis: aiAnalysis.root_cause_hypothesis,\n      affected_services: aiAnalysis.affected_services || [],\n      estimated_customer_impact: aiAnalysis.estimated_customer_impact,\n      recommended_actions: aiAnalysis.recommended_actions || [],\n      auto_remediation_possible: aiAnalysis.auto_remediation_possible || false,\n      remediation_script: aiAnalysis.remediation_script,\n      confidence: aiAnalysis.confidence,\n      summary: aiAnalysis.summary\n    },\n    ai_analysis_completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "87a13542-0e03-4535-a8e6-54798ec6b2dc",
      "name": "Combine Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        224
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_analysis.severity }}",
                    "rightValue": "critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_analysis.auto_remediation_possible }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_analysis.severity }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "413752e2-1e1f-4ee8-9efc-c970f1b8b3f0",
      "name": "Route by Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -176,
        192
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#support-alerts",
          "mode": "name"
        },
        "text": "={{ $json.slack_message }}\n",
        "otherOptions": {}
      },
      "id": "c697b80c-5227-4b4e-99e7-8053c2c13444",
      "name": "Slack - Critical Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        272,
        0
      ],
      "webhookId": "21cf4b07-4825-4b16-abed-83c6734bfa42",
      "credentials": {
        "slackApi": {
          "id": "viv5vjBrnt9hNw4r",
          "name": "Slack API - CX Catalyst"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10035",
          "mode": "list",
          "cachedResultName": "Development"
        },
        "issueType": {
          "__rl": true,
          "value": "10050",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "=CRITICAL: {{ $('Format Critical Alert').first().json.ai_analysis.issue_type }} - {{ $('Format Critical Alert').first().json.ai_analysis.summary.substring(0, 100) }}",
        "additionalFields": {}
      },
      "id": "5302d5fc-c0d9-4eb8-83a4-f02878c0cfe1",
      "name": "Create Jira - Critical",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "esdOjucGFFmZQRup",
          "name": "Jira SW Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Execute auto-remediation based on the recommendation\nconst data = $input.item.json;\nconst remediationScript = data.ai_analysis.remediation_script;\n\n// In a real implementation, this would call an API to execute the remediation\n// Common auto-remediation actions:\n// - restart_service\n// - clear_cache\n// - scale_up\n// - rollback_deployment\n\nconst remediationResult = {\n  script: remediationScript,\n  executed_at: new Date().toISOString(),\n  success: true, // In real implementation, this would be the actual result\n  output: `Executed ${remediationScript} successfully. System should stabilize within 5 minutes.`,\n  requires_verification: true\n};\n\nreturn {\n  json: {\n    ...data,\n    remediation_result: remediationResult\n  }\n};"
      },
      "id": "4b92de2d-1dcf-4b23-ac80-2c4963c3ee2f",
      "name": "Execute Remediation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        192
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#support-alerts",
          "mode": "name"
        },
        "text": "={{ $json.slack_message }}\n",
        "otherOptions": {}
      },
      "id": "ebfa8fbb-4ccc-42b2-bee9-797e5b6c2e6e",
      "name": "Slack - Remediation Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        496,
        192
      ],
      "webhookId": "f7a4f0a1-b54e-4c73-ae05-0cd98f8decfd",
      "credentials": {
        "slackApi": {
          "id": "viv5vjBrnt9hNw4r",
          "name": "Slack API - CX Catalyst"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#support-alerts",
          "mode": "name"
        },
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "aca942c4-103a-4620-a146-d76ea68b0626",
      "name": "Slack - High Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        272,
        432
      ],
      "webhookId": "afb79c96-2bd5-4b78-8784-89f25117189a",
      "credentials": {
        "slackApi": {
          "id": "viv5vjBrnt9hNw4r",
          "name": "Slack API - CX Catalyst"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10035",
          "mode": "list",
          "cachedResultName": "Development"
        },
        "issueType": {
          "__rl": true,
          "value": "10050",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "Proactive Alert: {{ $('Format High Alert').first().json.ai_analysis.issue_type }} - {{ $('Format High Alert').first().json.ai_analysis.summary.substring(0, 80) }}",
        "additionalFields": {}
      },
      "id": "235a219a-bdb5-421a-a139-ff390112d19c",
      "name": "Create Jira - High",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        496,
        432
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "esdOjucGFFmZQRup",
          "name": "Jira SW Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO proactive_alerts (\n  alert_type,\n  severity,\n  description,\n  root_cause_hypothesis,\n  actions_taken,\n  prevented_cases_estimate,\n  jira_ticket_id,\n  metadata\n) VALUES (\n  '{{ $json.ai_analysis.issue_type }}',\n  '{{ $json.ai_analysis.severity }}',\n  '{{ $json.ai_analysis.summary.replace(/'/g, \"''\") }}',\n  '{{ $json.ai_analysis.root_cause_hypothesis.replace(/'/g, \"''\") }}',\n  ARRAY{{ JSON.stringify($json.ai_analysis.recommended_actions).replace(/\"/g, \"'\") }},\n  {{ Math.round($json.ai_analysis.confidence * 10) }},\n  '{{ $json.jira_ticket_id || 'N/A' }}',\n  '{{ JSON.stringify({ run_id: $json.run_id, anomalies: $json.anomalies, confidence: $json.ai_analysis.confidence }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "69d7ba4f-92ce-4598-b0e3-2ce18754b23e",
      "name": "Log Alert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (\n  workflow_name,\n  status,\n  start_time,\n  end_time,\n  metadata\n) VALUES (\n  'Proactive Issue Detection',\n  'success_anomaly_handled',\n  '{{ $('Build Alert Log Data').first().json.run_started_at }}',\n  NOW(),\n  '{{ JSON.stringify({ run_id: $('Build Alert Log Data').first().json.run_id, anomaly_detected: true, severity: $('Build Alert Log Data').first().json.ai_analysis.severity, actions_taken: $('Build Alert Log Data').first().json.ai_analysis.recommended_actions.length }) }}'::jsonb\n);\n",
        "options": {}
      },
      "id": "05696ec9-fd88-4de0-8537-357ac19e5b9b",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow 3: Proactive Issue Detection & Prevention\n\n**Purpose:** Monitor systems for anomalies, predict potential issues, and take preventive action before customers are affected.\n\n### Flow:\n1. Schedule trigger every 15 minutes\n2. Gather monitoring data:\n   - Error logs from log aggregator\n   - Health metrics from DB\n   - Case volume trends\n3. Detect anomalies using statistical analysis\n4. AI analyzes anomalies for root cause\n5. Route by severity:\n   - Critical → Immediate Slack + Jira\n   - Auto-remediable → Execute fix + notify\n   - High → Alert team + Jira\n   - Low → Log and monitor\n\n### Configuration Required:\n- LOG_AGGREGATOR_URL env variable\n- PostgreSQL credentials\n- Anthropic (Claude) credentials\n- Slack credentials\n- Jira credentials\n- JIRA_CLOUD_ID env variable",
        "height": 704,
        "width": 360
      },
      "id": "f106ba3d-375a-441b-a93c-9aa503189f80",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2480,
        96
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -752,
        352
      ],
      "id": "1a20f37e-b122-4bfe-9335-3dd2e27ce510",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "caOZqcSKNqvrFPhu",
          "name": "Anthropic API cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Site Reliability Engineer (SRE) analyzing system monitoring data for anomalies and potential incidents.\n\n## Current Anomaly Data:\n\n### Overall Status:\n- Anomaly Detected: {{ $json.anomalies.detected }}\n- Overall Severity: {{ $json.anomalies.overall_severity }}\n\n### Metric Anomalies:\n{{ JSON.stringify($json.anomalies.metric_anomalies, null, 2) }}\n\n### Case Volume Anomalies:\n{{ JSON.stringify($json.anomalies.case_anomalies, null, 2) }}\n\n### Critical Errors:\n{{ JSON.stringify($json.anomalies.error_anomalies, null, 2) }}\n\n### Recent Health Metrics:\n{{ JSON.stringify($json.monitoring_data.health_metrics.slice(0, 10), null, 2) }}\n\n## Your Analysis Task:\n\n1. **Assess the Situation**: Determine if this represents a real incident or a transient anomaly\n2. **Root Cause Analysis**: Based on the patterns, hypothesize the most likely root cause\n3. **Impact Assessment**: Estimate the potential customer impact\n4. **Recommendations**: Provide actionable recommendations for the team\n\n## Guidelines:\n- Be conservative - only flag as critical if there's clear evidence of customer impact\n- Look for correlated anomalies across different metrics\n- Consider time of day and known maintenance windows\n- Recommend specific, actionable steps rather than generic advice\n- If auto-remediation is safe (e.g., cache clear, service restart), recommend it\n\n## Severity Guidelines:\n- **Critical**: Customer-facing impact confirmed, immediate action required\n- **High**: Likely customer impact, investigation needed urgently\n- **Medium**: Potential issue, investigate within SLA\n- **Low**: Minor anomaly, monitor and investigate when convenient",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Site Reliability Engineer (SRE) analyzing system monitoring data for anomalies and potential incidents.\n\nYour task is to:\n1. Assess the Situation: Determine if this represents a real incident or a transient anomaly\n2. Root Cause Analysis: Based on the patterns, hypothesize the most likely root cause\n3. Impact Assessment: Estimate the potential customer impact\n4. Recommendations: Provide actionable recommendations for the team\n\nGuidelines:\n- Be conservative - only flag as critical if there's clear evidence of customer impact\n- Look for correlated anomalies across different metrics\n- Consider time of day and known maintenance windows\n- Recommend specific, actionable steps rather than generic advice\n- If auto-remediation is safe (e.g., cache clear, service restart), recommend it\n\nSeverity Guidelines:\n- Critical: Customer-facing impact confirmed, immediate action required\n- High: Likely customer impact, investigation needed urgently\n- Medium: Potential issue, investigate within SLA\n- Low: Minor anomaly, monitor and investigate when convenient"
        }
      },
      "id": "1491463d-6ca3-4e41-a740-2d198ddb30e4",
      "name": "AI Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -752,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  article_id,\n  title,\n  category,\n  subcategory,\n  content,\n  tags,\n  metadata\nFROM kb_articles\nWHERE \n  category ILIKE '%troubleshooting%'\n  OR category ILIKE '%system%'\n  OR category ILIKE '%monitoring%'\n  OR tags && ARRAY['proactive', 'monitoring', 'health', 'performance', 'alerts']\nORDER BY updated_at DESC\nLIMIT 10;\n",
        "options": {}
      },
      "id": "19a0f778-4523-4f3b-84dd-48fc410a2af3",
      "name": "Search Knowledge Base",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        224
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "akAuGKYi4ALrVnlP",
          "name": "cx-catalyst"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1424,
        304
      ],
      "id": "d6898755-e774-4f47-820f-ed2fb05a0030",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Get data from Combine Analysis (the source of truth)\nconst analysisData = $('Combine Analysis').first().json;\n\n// Get Jira ticket ID if created\nlet jiraTicketId = 'N/A';\ntry {\n  const jiraData = $input.first().json;\n  jiraTicketId = jiraData.key || jiraData.id || 'N/A';\n} catch (e) {\n  // No Jira data available\n}\n\nreturn {\n  json: {\n    ...analysisData,\n    jira_ticket_id: jiraTicketId\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        224
      ],
      "id": "38d4d6d0-dc41-43e4-ae97-e3e54943a793",
      "name": "Build Alert Log Data"
    },
    {
      "parameters": {
        "jsCode": "// Get data from Combine Analysis\nconst data = $('Combine Analysis').first().json;\n\nconst affectedServices = (data.ai_analysis.affected_services || []).join(', ') || 'Unknown';\nconst recommendedActions = (data.ai_analysis.recommended_actions || [])\n  .map((a, i) => `${i + 1}. ${a}`)\n  .join('\\n');\nconst confidence = Math.round(data.ai_analysis.confidence * 100);\n\nconst slackMessage = `:rotating_light: *CRITICAL SYSTEM ALERT*\n\n*Run ID:* ${data.run_id}\n*Detected At:* ${data.analysis_completed_at}\n*Severity:* CRITICAL :red_circle:\n\n*Issue Type:* ${data.ai_analysis.issue_type}\n*Summary:* ${data.ai_analysis.summary}\n\n*Root Cause Hypothesis:*\n${data.ai_analysis.root_cause_hypothesis}\n\n*Affected Services:* ${affectedServices}\n\n*Customer Impact:*\n${data.ai_analysis.estimated_customer_impact}\n\n*Recommended Actions:*\n${recommendedActions}\n\n*Confidence:* ${confidence}%\n\n@channel Please respond immediately!`;\n\nreturn {\n  json: {\n    ...data,\n    slack_message: slackMessage\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        0
      ],
      "id": "7473f4d8-5a05-4fbd-bdb9-8100a3f9e65b",
      "name": "Format Critical Alert"
    },
    {
      "parameters": {
        "jsCode": "// Get data from Execute Remediation\nconst data = $input.first().json;\n\nconst confidence = Math.round(data.ai_analysis.confidence * 100);\nconst success = data.remediation_result.success ? ':white_check_mark: Success' : ':x: Failed';\n\nconst slackMessage = `:robot_face: *Auto-Remediation Executed*\n\n*Run ID:* ${data.run_id}\n*Issue:* ${data.ai_analysis.issue_type}\n*Severity:* ${data.ai_analysis.severity}\n\n*Action Taken:*\n${data.remediation_result.script}\n\n*Result:* ${success}\n*Output:* ${data.remediation_result.output}\n\n*Next Steps:*\n- Monitor system metrics for the next 5-10 minutes\n- Verify the issue is resolved\n- Investigate root cause for permanent fix\n\n*Confidence:* ${confidence}%`;\n\nreturn {\n  json: {\n    ...data,\n    slack_message: slackMessage\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        192
      ],
      "id": "2c53530f-1c20-4b7c-aeeb-9f6d0119fdfd",
      "name": "Format Remediation Alert"
    },
    {
      "parameters": {
        "jsCode": "// Get data from Combine Analysis\nconst data = $('Combine Analysis').first().json;\n\nconst recommendedActions = (data.ai_analysis.recommended_actions || [])\n  .map((a, i) => `${i + 1}. ${a}`)\n  .join('\\n');\nconst confidence = Math.round(data.ai_analysis.confidence * 100);\n\nconst slackMessage = `:warning: *High Severity Alert*\n\n*Run ID:* ${data.run_id}\n*Detected At:* ${data.analysis_completed_at}\n*Severity:* HIGH :large_orange_circle:\n\n*Issue Type:* ${data.ai_analysis.issue_type}\n*Summary:* ${data.ai_analysis.summary}\n\n*Root Cause Hypothesis:*\n${data.ai_analysis.root_cause_hypothesis}\n\n*Customer Impact:*\n${data.ai_analysis.estimated_customer_impact}\n\n*Recommended Actions:*\n${recommendedActions}\n\n*Confidence:* ${confidence}%\n\nPlease investigate within the next hour.`;\n\nreturn {\n  json: {\n    ...data,\n    slack_message: slackMessage\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        432
      ],
      "id": "43377ca2-c349-4642-a2de-1ce8c3bccaeb",
      "name": "Format High Alert"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule - Every 15 min": {
      "main": [
        [
          {
            "node": "Set Run Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Run Context": {
      "main": [
        [
          {
            "node": "Query Health Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Case Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Health Metrics": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Query Case Trends": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Detect Anomalies": {
      "main": [
        [
          {
            "node": "Anomaly Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomaly Detected?": {
      "main": [
        [
          {
            "node": "AI Analysis Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - No Anomaly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis Agent": {
      "main": [
        [
          {
            "node": "Combine Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Combine Analysis": {
      "main": [
        [
          {
            "node": "Route by Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Severity": {
      "main": [
        [
          {
            "node": "Format Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Remediation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format High Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Alert Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Critical Alert": {
      "main": [
        [
          {
            "node": "Create Jira - Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira - Critical": {
      "main": [
        [
          {
            "node": "Build Alert Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Remediation": {
      "main": [
        [
          {
            "node": "Format Remediation Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Remediation Alert": {
      "main": [
        [
          {
            "node": "Build Alert Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - High Alert": {
      "main": [
        [
          {
            "node": "Create Jira - High",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira - High": {
      "main": [
        [
          {
            "node": "Build Alert Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Alert": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Knowledge Base": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Detect Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Log Data": {
      "main": [
        [
          {
            "node": "Log Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Critical Alert": {
      "main": [
        [
          {
            "node": "Slack - Critical Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format High Alert": {
      "main": [
        [
          {
            "node": "Slack - High Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Remediation Alert": {
      "main": [
        [
          {
            "node": "Slack - Remediation Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b13b3a57-0b54-47fe-a6ac-16be7af25e00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b01e799c8597a418342586f9fe42b57cf7798483b7d7540aea0ab43464ea70a2"
  },
  "id": "BLEWxFvuc2PyqHJBzB7Lf",
  "tags": [
    {
      "updatedAt": "2026-01-17T08:39:07.210Z",
      "createdAt": "2026-01-17T08:39:07.210Z",
      "id": "6mWcJfFsa5CEes18",
      "name": "proactive"
    },
    {
      "updatedAt": "2026-01-17T08:36:28.407Z",
      "createdAt": "2026-01-17T08:36:28.407Z",
      "id": "OtUeceTAP0XdAwUt",
      "name": "support"
    },
    {
      "updatedAt": "2026-01-17T08:39:07.180Z",
      "createdAt": "2026-01-17T08:39:07.180Z",
      "id": "RfmrgsH1XUvQ3ZZH",
      "name": "monitoring"
    }
  ]
}