n8n-workflows/Support - 5. Continuous Learning & Improvement (Batch).json
{
  "name": "Support - 5. Continuous Learning & Improvement (Batch)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 3 * * *" }] }
      },
      "id": "b5000001-0001-4000-8000-000000000001",
      "name": "Schedule - Daily 3 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [464, 544]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "run-id", "name": "run_id", "value": "={{ 'LEARN-' + new Date().toISOString().split('T')[0] + '-' + Math.random().toString(36).substr(2, 9) }}", "type": "string" },
            { "id": "run-date", "name": "analysis_date", "value": "={{ new Date(Date.now() - 86400000).toISOString().split('T')[0] }}", "type": "string" },
            { "id": "run-start", "name": "run_started_at", "value": "={{ new Date().toISOString() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "b5000001-0002-4000-8000-000000000002",
      "name": "Set Run Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [688, 544]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH daily_metrics AS (\n  SELECT \n    DATE(created_at) as date,\n    category,\n    COUNT(*) as total_cases,\n    COUNT(CASE WHEN status = 'resolved' THEN 1 END) as resolved_cases,\n    AVG(CASE WHEN status = 'resolved' \n        THEN EXTRACT(EPOCH FROM (resolved_at - created_at))/60 \n        END) as avg_resolution_minutes,\n    AVG(satisfaction_score) as avg_satisfaction,\n    COUNT(CASE WHEN resolution_type = 'self-service-automated' THEN 1 END) as automated_resolutions,\n    COUNT(CASE WHEN resolution_type = 'self-service-manual' THEN 1 END) as manual_self_service,\n    COUNT(CASE WHEN resolution_type = 'collaborative' THEN 1 END) as collaborative_resolutions,\n    COUNT(CASE WHEN escalated = true THEN 1 END) as escalations\n  FROM cases\n  WHERE created_at >= '{{ $json.analysis_date }}'::date\n    AND created_at < '{{ $json.analysis_date }}'::date + INTERVAL '1 day'\n  GROUP BY DATE(created_at), category\n)\nSELECT * FROM daily_metrics;",
        "options": {}
      },
      "id": "b5000001-0003-4000-8000-000000000003",
      "name": "Aggregate Daily Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [912, 192],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.case_id,\n  c.description,\n  c.category,\n  c.subcategory,\n  c.status,\n  c.satisfaction_score,\n  c.resolution_time_minutes,\n  ci.message as solution_provided\nFROM cases c\nLEFT JOIN case_interactions ci ON c.case_id = ci.case_id AND ci.interaction_type = 'solution'\nWHERE c.created_at >= '{{ $json.analysis_date }}'::date\n  AND c.created_at < '{{ $json.analysis_date }}'::date + INTERVAL '1 day'\n  AND c.status = 'resolved'\nORDER BY c.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "id": "b5000001-0004-4000-8000-000000000004",
      "name": "Fetch Resolved Cases",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [912, 384],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  af.agent_name,\n  af.feedback_type,\n  COUNT(*) as feedback_count,\n  af.agent_output,\n  af.human_correction,\n  MAX(af.created_at) as latest_feedback\nFROM agent_feedback af\nWHERE af.created_at >= '{{ $json.analysis_date }}'::date\n  AND af.created_at < '{{ $json.analysis_date }}'::date + INTERVAL '1 day'\nGROUP BY af.agent_name, af.feedback_type, af.agent_output, af.human_correction\nORDER BY latest_feedback DESC\nLIMIT 50;\n",
        "options": {}
      },
      "id": "b5000001-0005-4000-8000-000000000005",
      "name": "Fetch Agent Feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [912, 576],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  DATE(created_at) as date,\n  category,\n  COUNT(*) as case_count\nFROM cases\nWHERE created_at >= NOW() - INTERVAL '30 days'\nGROUP BY DATE(created_at), category\nORDER BY date DESC;",
        "options": {}
      },
      "id": "b5000001-0006-4000-8000-000000000006",
      "name": "Fetch Historical Trends",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [912, 768],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": { "numberInputs": 4 },
      "id": "b5000001-0007-4000-8000-000000000007",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1136, 512]
    },
    {
      "parameters": {
        "jsCode": "// Merge all daily data for analysis\nconst runContext = $('Set Run Context').first().json;\nconst allItems = $input.all().map(item => item.json);\n\nconst dailyMetrics = allItems.filter(item => item.date && item.total_cases !== undefined);\nconst resolvedCases = allItems.filter(item => item.case_id && item.solution_provided !== undefined);\nconst agentFeedback = allItems.filter(item => item.agent_name && item.feedback_type);\nconst historicalTrends = allItems.filter(item => item.date && item.case_count !== undefined && !item.total_cases);\n\nconst totals = dailyMetrics.reduce((acc, m) => ({\n  total_cases: (acc.total_cases || 0) + (m.total_cases || 0),\n  resolved_cases: (acc.resolved_cases || 0) + (m.resolved_cases || 0),\n  automated_resolutions: (acc.automated_resolutions || 0) + (m.automated_resolutions || 0),\n  escalations: (acc.escalations || 0) + (m.escalations || 0)\n}), {});\n\nconst avgResolutionTime = dailyMetrics\n  .filter(m => m.avg_resolution_minutes)\n  .reduce((acc, m) => acc + m.avg_resolution_minutes, 0) / (dailyMetrics.filter(m => m.avg_resolution_minutes).length || 1);\n\nconst avgSatisfaction = dailyMetrics\n  .filter(m => m.avg_satisfaction)\n  .reduce((acc, m) => acc + m.avg_satisfaction, 0) / (dailyMetrics.filter(m => m.avg_satisfaction).length || 1);\n\nreturn {\n  json: {\n    ...runContext,\n    daily_data: {\n      metrics_by_category: dailyMetrics,\n      resolved_cases: resolvedCases,\n      agent_feedback: agentFeedback,\n      historical_trends: historicalTrends\n    },\n    summary: {\n      total_cases: totals.total_cases || 0,\n      resolved_cases: totals.resolved_cases || 0,\n      resolution_rate: totals.total_cases > 0 ? (totals.resolved_cases / totals.total_cases * 100).toFixed(1) : 0,\n      automated_resolutions: totals.automated_resolutions || 0,\n      self_service_rate: totals.total_cases > 0 ? (totals.automated_resolutions / totals.total_cases * 100).toFixed(1) : 0,\n      escalations: totals.escalations || 0,\n      escalation_rate: totals.total_cases > 0 ? (totals.escalations / totals.total_cases * 100).toFixed(1) : 0,\n      avg_resolution_minutes: Math.round(avgResolutionTime) || 0,\n      avg_satisfaction: avgSatisfaction ? avgSatisfaction.toFixed(2) : '0.00'\n    }\n  }\n};\n"
      },
      "id": "b5000001-0008-4000-8000-000000000008",
      "name": "Merge Daily Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 544]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nconst systemPrompt = `You are a data analyst specializing in customer support operations.\n\nYour task is to:\n1. Common Issues: Identify the most frequent issues and their trends\n2. Documentation Gaps: Find topics that lack good KB coverage\n3. Product Bugs: Identify potential product defects reported multiple times\n4. Process Improvements: Suggest workflow or process improvements\n5. Training Needs: Identify areas where support staff need more training\n6. Agent Improvements: Based on feedback, suggest improvements to AI agents\n\nGuidelines:\n- Be specific with evidence from the data\n- Prioritize high-impact improvements\n- Consider trends over single-day anomalies\n- Suggest actionable improvements\n- For documentation gaps, suggest specific article titles\n\nYou MUST respond with valid JSON matching the required schema.`;\n\nconst userPrompt = `Analyze the following daily support data to identify patterns, gaps, and improvement opportunities.\n\n## Analysis Date: ${data.analysis_date}\n\n## Daily Summary:\n- Total Cases: ${data.summary.total_cases}\n- Resolved Cases: ${data.summary.resolved_cases} (${data.summary.resolution_rate}%)\n- Self-Service Rate: ${data.summary.self_service_rate}%\n- Escalation Rate: ${data.summary.escalation_rate}%\n- Avg Resolution Time: ${data.summary.avg_resolution_minutes} minutes\n- Avg Satisfaction: ${data.summary.avg_satisfaction}/5\n\n## Metrics by Category:\n${JSON.stringify(data.daily_data.metrics_by_category, null, 2)}\n\n## Sample Resolved Cases:\n${JSON.stringify(data.daily_data.resolved_cases.slice(0, 20), null, 2)}\n\n## Agent Feedback:\n${JSON.stringify(data.daily_data.agent_feedback.slice(0, 20), null, 2)}\n\n## Historical Trends (30 days):\n${JSON.stringify(data.daily_data.historical_trends.slice(0, 30), null, 2)}\n\nRespond with JSON containing: common_issues, documentation_gaps, product_bugs, process_improvements, training_needs, agent_improvement_suggestions, summary`;\n\nconst batchRequest = {\n  custom_id: data.run_id + '-pattern',\n  method: 'POST',\n  url: '/v1/chat/completions',\n  body: {\n    model: 'gpt-4o-mini',\n    temperature: 0.4,\n    max_tokens: 2048,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  }\n};\n\nreturn {\n  json: {\n    ...data,\n    batch_jsonl: JSON.stringify(batchRequest)\n  }\n};\n"
      },
      "id": "b5000001-0009-4000-8000-000000000009",
      "name": "Format Pattern Analysis Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1584, 544]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst binaryData = Buffer.from(data.batch_jsonl + '\\n', 'utf-8');\n\nreturn {\n  json: data,\n  binary: {\n    file: {\n      data: binaryData.toString('base64'),\n      mimeType: 'application/jsonl',\n      fileName: `batch_${data.run_id}_pattern.jsonl`\n    }\n  }\n};\n"
      },
      "id": "b5000001-000a-4000-8000-00000000000a",
      "name": "Prepare JSONL Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1808, 544]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "purpose", "value": "batch", "parameterType": "formData" },
            { "name": "file", "parameterType": "formBinaryData", "inputDataFieldName": "file" }
          ]
        },
        "options": {}
      },
      "id": "b5000001-000b-4000-8000-00000000000b",
      "name": "Upload JSONL to OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2032, 544],
      "credentials": { "openAiApi": { "id": "x6T6BlWTbq0xsdSm", "name": "OpenAi account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/batches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input_file_id\": \"{{ $json.id }}\",\n  \"endpoint\": \"/v1/chat/completions\",\n  \"completion_window\": \"24h\"\n}",
        "options": {}
      },
      "id": "b5000001-000c-4000-8000-00000000000c",
      "name": "Create OpenAI Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2256, 544],
      "credentials": { "openAiApi": { "id": "x6T6BlWTbq0xsdSm", "name": "OpenAi account" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO batch_jobs (batch_id, provider, workflow_name, workflow_stage, parent_run_id, input_file_id, resume_url, context_data)\nVALUES (\n  '{{ $json.id }}',\n  'openai',\n  'WF5',\n  'pattern_analysis',\n  '{{ $('Set Run Context').first().json.run_id }}',\n  '{{ $json.input_file_id }}',\n  '{{ $execution.resumeUrl }}',\n  '{{ JSON.stringify($('Merge Daily Data').first().json) }}'::jsonb\n);",
        "options": {}
      },
      "id": "b5000001-000d-4000-8000-00000000000d",
      "name": "Store Pattern Batch Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2480, 544],
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "b5000001-000e-4000-8000-00000000000e",
      "name": "Wait for Pattern Analysis",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2704, 544]
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.item.json;\nconst contextData = typeof webhookData.context_data === 'string' ? JSON.parse(webhookData.context_data) : webhookData.context_data;\nconst results = webhookData.results || [];\n\nconst llmOutput = results[0]?.content || '{}';\nconst aiAnalysis = typeof llmOutput === 'string' ? JSON.parse(llmOutput) : llmOutput;\n\nreturn {\n  json: {\n    ...contextData,\n    analysis: {\n      common_issues: aiAnalysis.common_issues || [],\n      documentation_gaps: aiAnalysis.documentation_gaps || [],\n      product_bugs: aiAnalysis.product_bugs || [],\n      process_improvements: aiAnalysis.process_improvements || [],\n      training_needs: aiAnalysis.training_needs || [],\n      agent_improvement_suggestions: aiAnalysis.agent_improvement_suggestions || [],\n      summary: aiAnalysis.summary || 'No summary available'\n    },\n    analysis_completed_at: new Date().toISOString()\n  }\n};\n"
      },
      "id": "b5000001-000f-4000-8000-00000000000f",
      "name": "Parse Pattern Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2928, 544]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "check-gaps", "leftValue": "={{ $json.analysis.documentation_gaps.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5000001-0010-4000-8000-000000000010",
      "name": "Has Doc Gaps?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3152, 160]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst gaps = data.analysis.documentation_gaps.filter(g => g.estimated_impact === 'high' || g.estimated_impact === 'medium');\n\nconst articles = gaps.slice(0, 3).map(gap => ({\n  json: {\n    ...data,\n    article_to_generate: {\n      topic: gap.topic,\n      title: gap.suggested_article_title,\n      evidence: gap.evidence,\n      impact: gap.estimated_impact\n    }\n  }\n}));\n\nreturn articles.length > 0 ? articles : [{ json: data }];"
      },
      "id": "b5000001-0011-4000-8000-000000000011",
      "name": "Prepare KB Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3376, 160]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst contextData = items[0].json;\n\nconst systemPrompt = `You are a technical writer creating a knowledge base article. Generate a comprehensive article based on the gap identified in support analysis.\n\nWrite in Confluence Storage Format (HTML-like markup).\n\nRequired Structure:\n1. Title - Clear, descriptive (use in <h1> tag)\n2. Overview - Brief summary paragraph\n3. Problem Description - What issue does this solve?\n4. Solution - Step-by-step instructions with specific examples\n5. Troubleshooting - Common issues and fixes\n6. Related Resources - Links to related topics\n\nFormat Guidelines:\n- Use Confluence storage format: <p>, <h2>, <h3>, <ul>, <li>, <code>, <ac:structured-macro>\n- Use <ac:structured-macro ac:name=\"info\"> for info panels\n- Use <ac:structured-macro ac:name=\"warning\"> for warnings\n- Use <ac:structured-macro ac:name=\"code\"> for code blocks\n- Include specific commands, error messages, or examples\n- Add verification steps after major actions\n\nProvide ONLY the article HTML content, nothing else.`;\n\nconst requests = items\n  .filter(item => item.json.article_to_generate)\n  .map((item, i) => {\n    const article = item.json.article_to_generate;\n    return {\n      custom_id: `${contextData.run_id}-article-${i}`,\n      params: {\n        model: 'claude-sonnet-4-5-20250929',\n        max_tokens: 4096,\n        temperature: 0.5,\n        system: systemPrompt,\n        messages: [{\n          role: 'user',\n          content: `## Article Topic:\\n${article.topic}\\n\\n## Suggested Title:\\n${article.title}\\n\\n## Evidence/Context:\\n${article.evidence}\\n\\n## Impact Level:\\n${article.impact}`\n        }]\n      }\n    };\n  });\n\nreturn {\n  json: {\n    ...contextData,\n    batch_requests: requests,\n    article_count: requests.length\n  }\n};\n"
      },
      "id": "b5000001-0012-4000-8000-000000000012",
      "name": "Format Article Batch Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages/batches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "anthropic-beta", "value": "message-batches-2024-09-24" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: $json.batch_requests }) }}",
        "options": {}
      },
      "id": "b5000001-0013-4000-8000-000000000013",
      "name": "Submit Anthropic Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3824, 160],
      "credentials": { "httpHeaderAuth": { "id": "b05207", "name": "Anthropic API - Header Auth" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO batch_jobs (batch_id, provider, workflow_name, workflow_stage, parent_run_id, resume_url, context_data)\nVALUES (\n  '{{ $json.id }}',\n  'anthropic',\n  'WF5',\n  'article_generation',\n  '{{ $('Set Run Context').first().json.run_id }}',\n  '{{ $execution.resumeUrl }}',\n  '{{ JSON.stringify($('Parse Pattern Results').first().json) }}'::jsonb\n);",
        "options": {}
      },
      "id": "b5000001-0014-4000-8000-000000000014",
      "name": "Store Article Batch Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [4048, 160],
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "b5000001-0015-4000-8000-000000000015",
      "name": "Wait for Articles",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4272, 160]
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.item.json;\nconst contextData = typeof webhookData.context_data === 'string' ? JSON.parse(webhookData.context_data) : webhookData.context_data;\nconst results = webhookData.results || [];\n\n// Create one output item per article result\nconst articles = results.map((r, i) => {\n  const articleMeta = contextData.analysis.documentation_gaps\n    .filter(g => g.estimated_impact === 'high' || g.estimated_impact === 'medium')\n    .slice(0, 3)[i] || {};\n\n  const cleanContent = (r.content || '')\n    .replace(/```html\\n/g, '')\n    .replace(/```\\n/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  const jsonSafeContent = cleanContent\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\n/g, '\\\\n')\n    .replace(/\\r/g, '\\\\r')\n    .replace(/\\t/g, '\\\\t');\n\n  return {\n    json: {\n      ...contextData,\n      article_content: cleanContent,\n      article_content_escaped: jsonSafeContent,\n      article_title: articleMeta.suggested_article_title || `Article ${i + 1}`,\n      article_title_escaped: (articleMeta.suggested_article_title || `Article ${i + 1}`).replace(/\"/g, '\\\\\"'),\n      article_to_generate: {\n        topic: articleMeta.topic || '',\n        title: articleMeta.suggested_article_title || '',\n        evidence: articleMeta.evidence || '',\n        impact: articleMeta.estimated_impact || 'medium'\n      }\n    }\n  };\n});\n\nreturn articles.length > 0 ? articles : [{ json: contextData }];\n"
      },
      "id": "b5000001-0016-4000-8000-000000000016",
      "name": "Parse Article Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4496, 160]
    },
    {
      "parameters": { "options": { "reset": false } },
      "id": "b5000001-0017-4000-8000-000000000017",
      "name": "Loop Articles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [4720, 160]
    },
    {
      "parameters": {
        "url": "https://shawnbrianray-1765049461409.atlassian.net/wiki/rest/api/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "spaceKey", "value": "PKB" },
            { "name": "title", "value": "={{ $json.article_title.trim().replace(/\\n/g, '') }}" },
            { "name": "expand", "value": "version" }
          ]
        },
        "options": {}
      },
      "id": "b5000001-0018-4000-8000-000000000018",
      "name": "Check Page Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [4944, 160],
      "alwaysOutputData": true,
      "credentials": { "httpBasicAuth": { "id": "ftZ4KeeucUPPSH6j", "name": "Atlassian API" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [{ "id": "page-exists", "leftValue": "={{ $json.results.length }} ", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "b5000001-0019-4000-8000-000000000019",
      "name": "Page Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [5168, 160]
    },
    {
      "parameters": {
        "jsCode": "const pageData = $input.item.json;\nconst content = $('Loop Articles').first().json;\n\nconst existingPage = pageData.results[0];\n\nreturn {\n  json: {\n    page_id: existingPage.id,\n    update_body: {\n      version: { number: existingPage.version.number + 1 },\n      title: content.article_title,\n      type: 'page',\n      body: {\n        storage: {\n          value: content.article_content,\n          representation: 'storage'\n        }\n      }\n    }\n  }\n};\n"
      },
      "id": "b5000001-001a-4000-8000-00000000001a",
      "name": "Prepare Update Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5392, 32]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://shawnbrianray-1765049461409.atlassian.net/wiki/rest/api/content/{{ $json.page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.update_body) }}\n",
        "options": {}
      },
      "id": "b5000001-001b-4000-8000-00000000001b",
      "name": "Update Confluence Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [5616, 32],
      "credentials": { "httpBasicAuth": { "id": "ftZ4KeeucUPPSH6j", "name": "Atlassian API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://shawnbrianray-1765049461409.atlassian.net/wiki/rest/api/content/{{ $json.id }}/label",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  { \"prefix\": \"global\", \"name\": \"ai-generated\" },\n  { \"prefix\": \"global\", \"name\": \"kb-article\" },\n  { \"prefix\": \"global\", \"name\": \"topic-{{ $('Loop Articles').first().json.article_to_generate.topic.toLowerCase().replace(/ /g, '-') }}\" },\n  { \"prefix\": \"global\", \"name\": \"impact-{{ $('Loop Articles').first().json.article_to_generate.impact }}\" },\n  { \"prefix\": \"global\", \"name\": \"needs-review\" }\n]",
        "options": {}
      },
      "id": "b5000001-001c-4000-8000-00000000001c",
      "name": "Add Labels to Page1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [5840, 32],
      "credentials": { "httpBasicAuth": { "id": "ftZ4KeeucUPPSH6j", "name": "Atlassian API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://shawnbrianray-1765049461409.atlassian.net/wiki/rest/api/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"page\",\n  \"title\": \"{{ $('Loop Articles').first().json.article_title_escaped }}\",\n  \"space\": { \"key\": \"PKB\" },\n  \"body\": {\n    \"storage\": {\n      \"value\": \"{{ $('Loop Articles').first().json.article_content_escaped }}\",\n      \"representation\": \"storage\"\n    }\n  },\n  \"status\": \"current\",\n  \"metadata\": { \"properties\": { \"editor\": { \"key\": \"editor\", \"value\": \"v2\" } } }\n}\n",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "b5000001-001d-4000-8000-00000000001d",
      "name": "Create Confluence Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5392, 288],
      "credentials": { "httpBasicAuth": { "id": "ftZ4KeeucUPPSH6j", "name": "Atlassian API" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://shawnbrianray-1765049461409.atlassian.net/wiki/rest/api/content/{{ $json.id }}/label",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  { \"prefix\": \"global\", \"name\": \"ai-generated\" },\n  { \"prefix\": \"global\", \"name\": \"kb-article\" },\n  { \"prefix\": \"global\", \"name\": \"topic-{{ $('Loop Articles').first().json.article_to_generate.topic.toLowerCase().replace(/ /g, '-') }}\" },\n  { \"prefix\": \"global\", \"name\": \"impact-{{ $('Loop Articles').first().json.article_to_generate.impact }}\" },\n  { \"prefix\": \"global\", \"name\": \"needs-review\" }\n]",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "b5000001-001e-4000-8000-00000000001e",
      "name": "Add Labels to Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5616, 288],
      "credentials": { "httpBasicAuth": { "id": "ftZ4KeeucUPPSH6j", "name": "Atlassian API" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kb_articles (\n  title, category, confluence_page_id, auto_generated, human_validated, metadata\n) VALUES (\n  '{{ $('Loop Articles').first().json.article_title.replace(/'/g, \"''\") }}',\n  '{{ $('Loop Articles').first().json.article_to_generate.topic.replace(/'/g, \"''\") }}',\n  '{{ $json.id }}',\n  true, false,\n  '{\"impact\": \"{{ $('Loop Articles').first().json.article_to_generate.impact }}\", \"evidence\": \"{{ $('Loop Articles').first().json.article_to_generate.evidence.replace(/\"/g, '\\\\\"').replace(/'/g, \"''\") }}\", \"generated_at\": \"{{ new Date().toISOString() }}\", \"confluence_space\": \"PKB\", \"labels\": [\"ai-generated\", \"kb-article\", \"needs-review\"], \"batch_generated\": true}'::jsonb\n)\nON CONFLICT (confluence_page_id) DO UPDATE SET\n  title = EXCLUDED.title,\n  category = EXCLUDED.category,\n  metadata = EXCLUDED.metadata,\n  updated_at = NOW()\nRETURNING article_id;\n",
        "options": {}
      },
      "id": "b5000001-001f-4000-8000-00000000001f",
      "name": "Log to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [6064, 160],
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "check-bugs", "leftValue": "={{ $json.analysis.product_bugs.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5000001-0020-4000-8000-000000000020",
      "name": "Has Product Bugs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3152, 544]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst bugs = data.analysis.product_bugs.filter(b => b.severity === 'critical' || b.severity === 'high');\n\nconst tickets = bugs.slice(0, 5).map(bug => ({\n  json: { ...data, bug_to_report: bug }\n}));\n\nreturn tickets.length > 0 ? tickets : [{ json: data }];"
      },
      "id": "b5000001-0021-4000-8000-000000000021",
      "name": "Prepare Bug Tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3376, 544]
    },
    {
      "parameters": { "options": {} },
      "id": "b5000001-0022-4000-8000-000000000022",
      "name": "Loop Bugs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [3600, 544]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst bug = input.bug_to_report;\n\nconst description = `**Severity:** ${bug.severity || 'Unknown'}\n\n**Affected Customers:** ${bug.affected_customers || 'Unknown'}\n\n**Description:**\n${bug.description || 'No description provided'}\n\n**Root Cause Hypothesis:**\n${bug.root_cause_hypothesis || 'To be investigated'}\n\n**Related Case IDs:**\n${(bug.case_ids || []).join(', ') || 'None identified'}\n\n---\n*This bug was automatically identified by the CX-Catalyst Continuous Learning system based on support case analysis.*`;\n\nreturn {\n  json: {\n    summary: `Support-Identified: ${(bug.description || 'Unknown Issue').substring(0, 100)}`,\n    description: description,\n    severity: bug.severity || 'medium',\n    bug_to_report: bug\n  }\n};\n"
      },
      "id": "b5000001-0023-4000-8000-000000000023",
      "name": "Format Bug Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3824, 544]
    },
    {
      "parameters": {
        "project": { "__rl": true, "value": "10035", "mode": "list", "cachedResultName": "Development" },
        "issueType": { "__rl": true, "value": "10050", "mode": "list", "cachedResultName": "Bug" },
        "summary": "={{ $json.summary }}",
        "additionalFields": { "description": "={{ $json.description }}" }
      },
      "id": "b5000001-0024-4000-8000-000000000024",
      "name": "Create Jira Bug",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [4048, 544],
      "credentials": { "jiraSoftwareCloudApi": { "id": "esdOjucGFFmZQRup", "name": "Jira SW Cloud account 2" } }
    },
    {
      "parameters": {
        "jsCode": "// Generate leadership report\nconst data = $input.item.json;\nconst summary = data.summary;\nconst analysis = data.analysis;\n\nconst report = `\n# Daily Support Insights Report\n## ${data.analysis_date}\n\n---\n\n## Executive Summary\n${analysis.summary}\n\n---\n\n## Key Metrics\n\n| Metric | Value | Status |\n|--------|-------|--------|\n| Total Cases | ${summary.total_cases} | ${summary.total_cases > 50 ? '📈 High Volume' : '✅ Normal'} |\n| Resolution Rate | ${summary.resolution_rate}% | ${parseFloat(summary.resolution_rate) > 80 ? '✅ Good' : '⚠️ Needs Attention'} |\n| Self-Service Rate | ${summary.self_service_rate}% | ${parseFloat(summary.self_service_rate) > 50 ? '✅ Good' : '📊 Improving'} |\n| Avg Resolution Time | ${summary.avg_resolution_minutes} min | ${summary.avg_resolution_minutes < 30 ? '✅ Fast' : '⚠️ Review Process'} |\n| Avg Satisfaction | ${summary.avg_satisfaction}/5 | ${parseFloat(summary.avg_satisfaction) > 4 ? '✅ Excellent' : '⚠️ Monitor'} |\n| Escalation Rate | ${summary.escalation_rate}% | ${parseFloat(summary.escalation_rate) < 10 ? '✅ Low' : '⚠️ High'} |\n\n---\n\n## Actions Taken\n\n### Knowledge Base Updates\n- ${analysis.documentation_gaps.length} documentation gaps identified\n- Articles submitted via batch API for generation\n- All new articles tagged with #needs-review\n\n### Product Bugs Reported\n- ${analysis.product_bugs.length} potential bugs identified\n- ${analysis.product_bugs.filter(b => b.severity === 'critical' || b.severity === 'high').length} high-severity bugs reported\n\n---\n\n*Report generated by Continuous Learning System (Batch)*\n*Run ID: ${data.run_id}*\n`;\n\nreturn {\n  json: {\n    ...data,\n    report: report,\n    report_generated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "b5000001-0025-4000-8000-000000000025",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3152, 784]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Generate Report').first().json;\nconst summary = data.summary;\nconst analysis = data.analysis;\n\nconst htmlEmail = `<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333;max-width:800px;margin:0 auto;padding:20px}h1{color:#1a56db;border-bottom:2px solid #1a56db;padding-bottom:10px}h2{color:#374151;margin-top:30px}table{border-collapse:collapse;width:100%;margin:15px 0}th,td{border:1px solid #e5e7eb;padding:12px;text-align:left}th{background-color:#f9fafb;font-weight:600}.good{color:#059669}.warning{color:#d97706}.metric-value{font-weight:600;font-size:1.1em}.summary-box{background-color:#f3f4f6;padding:15px;border-radius:8px;margin:15px 0}.footer{margin-top:40px;padding-top:20px;border-top:1px solid #e5e7eb;font-size:0.9em;color:#6b7280}</style></head><body><h1>📊 Daily Support Insights Report</h1><p><strong>Date:</strong> ${data.analysis_date}</p><div class=\"summary-box\"><h2>Executive Summary</h2><p>${analysis.summary}</p></div><h2>Key Metrics</h2><table><tr><th>Metric</th><th>Value</th><th>Status</th></tr><tr><td>Total Cases</td><td class=\"metric-value\">${summary.total_cases}</td><td>${summary.total_cases > 50 ? '<span class=\"warning\">📈 High Volume</span>' : '<span class=\"good\">✅ Normal</span>'}</td></tr><tr><td>Resolution Rate</td><td class=\"metric-value\">${summary.resolution_rate}%</td><td>${parseFloat(summary.resolution_rate) > 80 ? '<span class=\"good\">✅ Good</span>' : '<span class=\"warning\">⚠️ Needs Attention</span>'}</td></tr><tr><td>Self-Service Rate</td><td class=\"metric-value\">${summary.self_service_rate}%</td><td>${parseFloat(summary.self_service_rate) > 50 ? '<span class=\"good\">✅ Good</span>' : '<span class=\"warning\">📊 Improving</span>'}</td></tr><tr><td>Avg Resolution Time</td><td class=\"metric-value\">${summary.avg_resolution_minutes} min</td><td>${summary.avg_resolution_minutes < 30 ? '<span class=\"good\">✅ Fast</span>' : '<span class=\"warning\">⚠️ Review Process</span>'}</td></tr><tr><td>Avg Satisfaction</td><td class=\"metric-value\">${summary.avg_satisfaction}/5</td><td>${parseFloat(summary.avg_satisfaction) > 4 ? '<span class=\"good\">✅ Excellent</span>' : '<span class=\"warning\">⚠️ Monitor</span>'}</td></tr><tr><td>Escalation Rate</td><td class=\"metric-value\">${summary.escalation_rate}%</td><td>${parseFloat(summary.escalation_rate) < 10 ? '<span class=\"good\">✅ Low</span>' : '<span class=\"warning\">⚠️ High</span>'}</td></tr></table><h2>Actions Taken</h2><ul><li>${analysis.documentation_gaps.length} documentation gaps identified - articles submitted via batch generation</li><li>${analysis.product_bugs.length} potential bugs identified</li></ul><div class=\"footer\"><p><em>Report generated by Continuous Learning System (Batch)</em><br><strong>Run ID:</strong> ${data.run_id}</p></div></body></html>`;\n\nreturn {\n  json: {\n    ...data,\n    email_subject: `Daily Support Insights - ${data.analysis_date}`,\n    email_html: htmlEmail\n  }\n};\n"
      },
      "id": "b5000001-0026-4000-8000-000000000026",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3376, 784]
    },
    {
      "parameters": {
        "sendTo": "shawnbrianray@gmail.com",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_html }}\n",
        "options": {}
      },
      "id": "b5000001-0027-4000-8000-000000000027",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3600, 784],
      "credentials": { "gmailOAuth2": { "id": "FD4ccXskpie7ZLhN", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Generate Report').first().json;\n\nconst slackMessage = `:bar_chart: *Daily Support Insights - ${data.analysis_date}*\n\n${data.analysis.summary}\n\n*Key Metrics:*\n• Total Cases: ${data.summary.total_cases}\n• Resolution Rate: ${data.summary.resolution_rate}%\n• Self-Service Rate: ${data.summary.self_service_rate}%\n• Avg Satisfaction: ${data.summary.avg_satisfaction}/5\n\n*Actions:*\n• ${data.analysis.documentation_gaps.length} KB articles submitted for batch generation\n• ${data.analysis.product_bugs.length} bugs reported\n• ${data.analysis.process_improvements.length} improvements suggested\n\nFull report sent to leadership email.`;\n\nreturn {\n  json: { ...data, slack_message: slackMessage }\n};\n"
      },
      "id": "b5000001-0028-4000-8000-000000000028",
      "name": "Format Slack Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3824, 784]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "#support-metrics", "mode": "name" },
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "b5000001-0029-4000-8000-000000000029",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [4048, 784],
      "credentials": { "slackApi": { "id": "viv5vjBrnt9hNw4r", "name": "Slack API - CX Catalyst" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (\n  workflow_name, status, start_time, end_time, metadata\n) VALUES (\n  'Continuous Learning & Improvement (Batch)',\n  'success',\n  '{{ $('Parse Pattern Results').first().json.run_started_at }}',\n  NOW(),\n  '{{ JSON.stringify({\n    run_id: $('Parse Pattern Results').first().json.run_id,\n    analysis_date: $('Parse Pattern Results').first().json.analysis_date,\n    total_cases: $('Parse Pattern Results').first().json.summary.total_cases,\n    batch_mode: true\n  }) }}'::jsonb\n);\n",
        "options": {}
      },
      "id": "b5000001-002a-4000-8000-00000000002a",
      "name": "Log Workflow Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [4272, 784],
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "content": "## WF5: Continuous Learning & Improvement (BATCH)\n\n**Purpose:** Analyze support patterns, create KB articles, identify product improvements using batch API for 50% cost savings.\n\n### Flow:\n1. Daily schedule at 3 AM\n2. Collect yesterday's data (4 parallel queries)\n3. Submit pattern analysis as OpenAI batch\n4. **WAIT** for Batch Poller to resume\n5. Process pattern results → route to:\n   a. Doc Gaps → Submit article generation as Anthropic batch → **WAIT** → Process articles → Confluence upsert\n   b. Product Bugs → Create Jira tickets\n   c. Generate Report → Email → Slack\n\n### Key Difference from Synchronous Version:\n- LangChain Agent nodes replaced with HTTP Request batch submissions\n- Wait nodes pause execution until Batch Poller resumes via $execution.resumeUrl\n- 50% token cost reduction on all LLM calls\n\n### Credentials Required:\n- PostgreSQL (cx-catalyst)\n- OpenAI API - Header Auth\n- Anthropic API - Header Auth\n- Atlassian API (HTTP Basic Auth)\n- Jira SW Cloud\n- Gmail\n- Slack API",
        "height": 800,
        "width": 400
      },
      "id": "b5000001-002b-4000-8000-00000000002b",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    }
  ],
  "connections": {
    "Schedule - Daily 3 AM": { "main": [[{ "node": "Set Run Context", "type": "main", "index": 0 }]] },
    "Set Run Context": { "main": [[
      { "node": "Aggregate Daily Metrics", "type": "main", "index": 0 },
      { "node": "Fetch Resolved Cases", "type": "main", "index": 0 },
      { "node": "Fetch Agent Feedback", "type": "main", "index": 0 },
      { "node": "Fetch Historical Trends", "type": "main", "index": 0 }
    ]] },
    "Aggregate Daily Metrics": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Fetch Resolved Cases": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Fetch Agent Feedback": { "main": [[{ "node": "Merge", "type": "main", "index": 2 }]] },
    "Fetch Historical Trends": { "main": [[{ "node": "Merge", "type": "main", "index": 3 }]] },
    "Merge": { "main": [[{ "node": "Merge Daily Data", "type": "main", "index": 0 }]] },
    "Merge Daily Data": { "main": [[{ "node": "Format Pattern Analysis Batch", "type": "main", "index": 0 }]] },
    "Format Pattern Analysis Batch": { "main": [[{ "node": "Prepare JSONL Binary", "type": "main", "index": 0 }]] },
    "Prepare JSONL Binary": { "main": [[{ "node": "Upload JSONL to OpenAI", "type": "main", "index": 0 }]] },
    "Upload JSONL to OpenAI": { "main": [[{ "node": "Create OpenAI Batch", "type": "main", "index": 0 }]] },
    "Create OpenAI Batch": { "main": [[{ "node": "Store Pattern Batch Job", "type": "main", "index": 0 }]] },
    "Store Pattern Batch Job": { "main": [[{ "node": "Wait for Pattern Analysis", "type": "main", "index": 0 }]] },
    "Wait for Pattern Analysis": { "main": [[{ "node": "Parse Pattern Results", "type": "main", "index": 0 }]] },
    "Parse Pattern Results": { "main": [[
      { "node": "Has Doc Gaps?", "type": "main", "index": 0 },
      { "node": "Has Product Bugs?", "type": "main", "index": 0 },
      { "node": "Generate Report", "type": "main", "index": 0 }
    ]] },
    "Has Doc Gaps?": { "main": [[{ "node": "Prepare KB Articles", "type": "main", "index": 0 }]] },
    "Prepare KB Articles": { "main": [[{ "node": "Format Article Batch Requests", "type": "main", "index": 0 }]] },
    "Format Article Batch Requests": { "main": [[{ "node": "Submit Anthropic Batch", "type": "main", "index": 0 }]] },
    "Submit Anthropic Batch": { "main": [[{ "node": "Store Article Batch Job", "type": "main", "index": 0 }]] },
    "Store Article Batch Job": { "main": [[{ "node": "Wait for Articles", "type": "main", "index": 0 }]] },
    "Wait for Articles": { "main": [[{ "node": "Parse Article Results", "type": "main", "index": 0 }]] },
    "Parse Article Results": { "main": [[{ "node": "Loop Articles", "type": "main", "index": 0 }]] },
    "Loop Articles": { "main": [[], [{ "node": "Check Page Exists", "type": "main", "index": 0 }]] },
    "Check Page Exists": { "main": [[{ "node": "Page Exists?", "type": "main", "index": 0 }]] },
    "Page Exists?": { "main": [
      [{ "node": "Prepare Update Body", "type": "main", "index": 0 }],
      [{ "node": "Create Confluence Page", "type": "main", "index": 0 }]
    ] },
    "Prepare Update Body": { "main": [[{ "node": "Update Confluence Page", "type": "main", "index": 0 }]] },
    "Update Confluence Page": { "main": [[{ "node": "Add Labels to Page1", "type": "main", "index": 0 }]] },
    "Add Labels to Page1": { "main": [[{ "node": "Log to PostgreSQL", "type": "main", "index": 0 }]] },
    "Create Confluence Page": { "main": [[{ "node": "Add Labels to Page", "type": "main", "index": 0 }]] },
    "Add Labels to Page": { "main": [[{ "node": "Log to PostgreSQL", "type": "main", "index": 0 }]] },
    "Log to PostgreSQL": { "main": [[{ "node": "Loop Articles", "type": "main", "index": 0 }]] },
    "Has Product Bugs?": { "main": [[{ "node": "Prepare Bug Tickets", "type": "main", "index": 0 }]] },
    "Prepare Bug Tickets": { "main": [[{ "node": "Loop Bugs", "type": "main", "index": 0 }]] },
    "Loop Bugs": { "main": [[], [{ "node": "Format Bug Ticket", "type": "main", "index": 0 }]] },
    "Format Bug Ticket": { "main": [[{ "node": "Create Jira Bug", "type": "main", "index": 0 }]] },
    "Create Jira Bug": { "main": [[{ "node": "Loop Bugs", "type": "main", "index": 0 }]] },
    "Generate Report": { "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]] },
    "Code in JavaScript": { "main": [[{ "node": "Send Report Email", "type": "main", "index": 0 }]] },
    "Send Report Email": { "main": [[{ "node": "Format Slack Report", "type": "main", "index": 0 }]] },
    "Format Slack Report": { "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]] },
    "Post to Slack": { "main": [[{ "node": "Log Workflow Execution", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b01e799c8597a418342586f9fe42b57cf7798483b7d7540aea0ab43464ea70a2"
  },
  "tags": [
    { "name": "support" },
    { "name": "learning" },
    { "name": "analytics" },
    { "name": "confluence" },
    { "name": "batch" }
  ]
}
