n8n-workflows/Support - 3. Proactive Issue Detection (Batch).json
{
  "name": "Support - 3. Proactive Issue Detection (Batch)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 60 }] }
      },
      "id": "b3000001-0001-4000-8000-000000000001",
      "name": "Schedule - Every 60 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2096, 416]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "run-id", "name": "run_id", "value": "={{ 'PROACTIVE-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9) }}", "type": "string" },
            { "id": "run-start", "name": "run_started_at", "value": "={{ new Date().toISOString() }}", "type": "string" },
            { "id": "check-window", "name": "check_window_minutes", "value": 60, "type": "number" }
          ]
        },
        "options": {}
      },
      "id": "b3000001-0002-4000-8000-000000000002",
      "name": "Set Run Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1872, 416]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  metric_name,\n  metric_value,\n  unit,\n  threshold_warning,\n  threshold_critical,\n  CASE \n    WHEN metric_value >= threshold_critical THEN 'critical'\n    WHEN metric_value >= threshold_warning THEN 'warning'\n    ELSE 'normal'\n  END as current_status,\n  recorded_at\nFROM health_metrics\nWHERE recorded_at >= NOW() - INTERVAL '60 minutes'\nORDER BY recorded_at DESC;",
        "options": {}
      },
      "id": "b3000001-0003-4000-8000-000000000003",
      "name": "Query Health Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1648, 224],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH recent_cases AS (\n  SELECT \n    category,\n    subcategory,\n    COUNT(*) as case_count,\n    AVG(EXTRACT(EPOCH FROM (resolved_at - created_at))/60) as avg_resolution_minutes\n  FROM cases\n  WHERE created_at >= NOW() - INTERVAL '60 minutes'\n  GROUP BY category, subcategory\n),\nhistorical_baseline AS (\n  SELECT \n    category,\n    subcategory,\n    AVG(daily_count) as avg_daily_count,\n    STDDEV(daily_count) as stddev_daily_count\n  FROM (\n    SELECT \n      category,\n      subcategory,\n      DATE(created_at) as day,\n      COUNT(*) as daily_count\n    FROM cases\n    WHERE created_at >= NOW() - INTERVAL '30 days'\n      AND created_at < NOW() - INTERVAL '60 minutes'\n    GROUP BY category, subcategory, DATE(created_at)\n  ) daily_counts\n  GROUP BY category, subcategory\n)\nSELECT \n  r.category,\n  r.subcategory,\n  r.case_count,\n  r.avg_resolution_minutes,\n  h.avg_daily_count,\n  h.stddev_daily_count,\n  CASE \n    WHEN h.stddev_daily_count > 0 THEN\n      (r.case_count - (h.avg_daily_count / 24)) / (h.stddev_daily_count / 24)\n    ELSE 0\n  END as z_score\nFROM recent_cases r\nLEFT JOIN historical_baseline h ON r.category = h.category AND r.subcategory = h.subcategory;",
        "options": {}
      },
      "id": "b3000001-0004-4000-8000-000000000004",
      "name": "Query Case Trends",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1648, 608],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  article_id,\n  title,\n  category,\n  subcategory,\n  content,\n  tags,\n  metadata\nFROM kb_articles\nWHERE \n  category ILIKE '%troubleshooting%'\n  OR category ILIKE '%system%'\n  OR category ILIKE '%monitoring%'\n  OR tags && ARRAY['proactive', 'monitoring', 'health', 'performance', 'alerts']\nORDER BY updated_at DESC\nLIMIT 10;\n",
        "options": {}
      },
      "id": "b3000001-0005-4000-8000-000000000005",
      "name": "Search Knowledge Base",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1648, 416],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": { "numberInputs": 3 },
      "id": "b3000001-0006-4000-8000-000000000006",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-1424, 304]
    },
    {
      "parameters": {
        "jsCode": "// Merge all monitoring data and detect anomalies\nconst runContext = $('Set Run Context').first().json;\nconst allItems = $input.all().map(item => item.json);\n\nconst kbArticles = allItems.filter(item => item.article_id);\nconst healthMetrics = allItems.filter(item => item.metric_name);\nconst caseTrends = allItems.filter(item => item.z_score !== undefined);\n\nconst relevantArticles = kbArticles.filter(article => article.article_id);\n\nconst metricAnomalies = healthMetrics\n  .filter(m => m.current_status === 'critical' || m.current_status === 'warning')\n  .map(m => ({\n    metric: m.metric_name,\n    value: m.metric_value,\n    unit: m.unit,\n    status: m.current_status,\n    threshold: m.current_status === 'critical' ? m.threshold_critical : m.threshold_warning\n  }));\n\nconst caseAnomalies = caseTrends\n  .filter(t => t.z_score > 2)\n  .map(t => ({\n    category: t.category,\n    subcategory: t.subcategory,\n    current_count: t.case_count,\n    expected_count: Math.round(t.avg_daily_count / 24 * 10) / 10,\n    z_score: Math.round(t.z_score * 100) / 100,\n    severity: t.z_score > 3 ? 'high' : 'medium'\n  }));\n\nconst hasCriticalMetrics = metricAnomalies.some(m => m.status === 'critical');\nconst hasHighCaseAnomaly = caseAnomalies.some(a => a.severity === 'high');\n\nconst anomalyDetected = hasCriticalMetrics || caseAnomalies.length > 0;\nconst overallSeverity = hasCriticalMetrics || hasHighCaseAnomaly ? 'critical' : \n                        metricAnomalies.length > 0 || caseAnomalies.length > 0 ? 'warning' : 'normal';\n\nreturn {\n  json: {\n    ...runContext,\n    monitoring_data: {\n      kb_articles: relevantArticles,\n      health_metrics: healthMetrics,\n      case_trends: caseTrends\n    },\n    anomalies: {\n      detected: anomalyDetected,\n      overall_severity: overallSeverity,\n      metric_anomalies: metricAnomalies,\n      case_anomalies: caseAnomalies,\n      relevant_kb_articles: relevantArticles.slice(0, 5)\n    },\n    analysis_completed_at: new Date().toISOString()\n  }\n};\n"
      },
      "id": "b3000001-0007-4000-8000-000000000007",
      "name": "Detect Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "check-anomaly", "leftValue": "={{ $json.anomalies.detected }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3000001-0008-4000-8000-000000000008",
      "name": "Anomaly Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-976, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (\n  workflow_name, status, start_time, end_time, metadata\n) VALUES (\n  'Proactive Issue Detection (Batch)',\n  'success_no_anomaly',\n  '{{ $json.run_started_at }}',\n  NOW(),\n  '{{ JSON.stringify({ run_id: $json.run_id, anomaly_detected: false }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "b3000001-0009-4000-8000-000000000009",
      "name": "Log - No Anomaly",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-688, 528],
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nconst systemPrompt = `You are a Site Reliability Engineer (SRE) analyzing system monitoring data for anomalies and potential incidents.\n\nYour task is to:\n1. Assess the Situation: Determine if this represents a real incident or a transient anomaly\n2. Root Cause Analysis: Based on the patterns, hypothesize the most likely root cause\n3. Impact Assessment: Estimate the potential customer impact\n4. Recommendations: Provide actionable recommendations for the team\n\nGuidelines:\n- Be conservative - only flag as critical if there's clear evidence of customer impact\n- Look for correlated anomalies across different metrics\n- Consider time of day and known maintenance windows\n- Recommend specific, actionable steps rather than generic advice\n- If auto-remediation is safe (e.g., cache clear, service restart), recommend it\n\nYou MUST respond with valid JSON matching the required schema.`;\n\nconst userPrompt = `## Current Anomaly Data:\n\n### Overall Status:\n- Anomaly Detected: ${data.anomalies.detected}\n- Overall Severity: ${data.anomalies.overall_severity}\n\n### Metric Anomalies:\n${JSON.stringify(data.anomalies.metric_anomalies, null, 2)}\n\n### Case Volume Anomalies:\n${JSON.stringify(data.anomalies.case_anomalies, null, 2)}\n\n### Recent Health Metrics:\n${JSON.stringify(data.monitoring_data.health_metrics.slice(0, 10), null, 2)}\n\nRespond with JSON containing: issue_detected, issue_type, severity, root_cause_hypothesis, affected_services, estimated_customer_impact, recommended_actions, auto_remediation_possible, remediation_script, confidence, summary`;\n\nconst batchRequest = {\n  custom_id: data.run_id,\n  method: 'POST',\n  url: '/v1/chat/completions',\n  body: {\n    model: 'gpt-4o-mini',\n    temperature: 0.5,\n    max_tokens: 1024,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  }\n};\n\nreturn {\n  json: {\n    ...data,\n    batch_jsonl: JSON.stringify(batchRequest)\n  }\n};\n"
      },
      "id": "b3000001-000a-4000-8000-00000000000a",
      "name": "Format Analysis Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-752, 128]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst binaryData = Buffer.from(data.batch_jsonl + '\\n', 'utf-8');\n\nreturn {\n  json: data,\n  binary: {\n    file: {\n      data: binaryData.toString('base64'),\n      mimeType: 'application/jsonl',\n      fileName: `batch_${data.run_id}.jsonl`\n    }\n  }\n};\n"
      },
      "id": "b3000001-000b-4000-8000-00000000000b",
      "name": "Prepare JSONL Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-528, 128]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "purpose", "value": "batch", "parameterType": "formData" },
            { "name": "file", "parameterType": "formBinaryData", "inputDataFieldName": "file" }
          ]
        },
        "options": {}
      },
      "id": "b3000001-000c-4000-8000-00000000000c",
      "name": "Upload JSONL to OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-304, 128],
      "credentials": { "openAiApi": { "id": "x6T6BlWTbq0xsdSm", "name": "OpenAi account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/batches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input_file_id\": \"{{ $json.id }}\",\n  \"endpoint\": \"/v1/chat/completions\",\n  \"completion_window\": \"24h\"\n}",
        "options": {}
      },
      "id": "b3000001-000d-4000-8000-00000000000d",
      "name": "Create OpenAI Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 128],
      "credentials": { "openAiApi": { "id": "x6T6BlWTbq0xsdSm", "name": "OpenAi account" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO batch_jobs (batch_id, provider, workflow_name, workflow_stage, parent_run_id, input_file_id, resume_url, context_data)\nVALUES (\n  '{{ $json.id }}',\n  'openai',\n  'WF3',\n  'anomaly_analysis',\n  '{{ $('Set Run Context').first().json.run_id }}',\n  '{{ $json.input_file_id }}',\n  '{{ $execution.resumeUrl }}',\n  '{{ JSON.stringify($('Detect Anomalies').first().json) }}'::jsonb\n);",
        "options": {}
      },
      "id": "b3000001-000e-4000-8000-00000000000e",
      "name": "Store Batch Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [144, 128],
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": { "resume": "webhook", "options": {} },
      "id": "b3000001-000f-4000-8000-00000000000f",
      "name": "Wait for Analysis",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [368, 128]
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.item.json;\nconst contextData = typeof webhookData.context_data === 'string' ? JSON.parse(webhookData.context_data) : webhookData.context_data;\nconst results = webhookData.results || [];\n\nconst llmOutput = results[0]?.content || '{}';\nconst aiAnalysis = typeof llmOutput === 'string' ? JSON.parse(llmOutput) : llmOutput;\n\nreturn {\n  json: {\n    ...contextData,\n    ai_analysis: {\n      issue_detected: aiAnalysis.issue_detected,\n      issue_type: aiAnalysis.issue_type,\n      severity: aiAnalysis.severity,\n      root_cause_hypothesis: aiAnalysis.root_cause_hypothesis,\n      affected_services: aiAnalysis.affected_services || [],\n      estimated_customer_impact: aiAnalysis.estimated_customer_impact,\n      recommended_actions: aiAnalysis.recommended_actions || [],\n      auto_remediation_possible: aiAnalysis.auto_remediation_possible || false,\n      remediation_script: aiAnalysis.remediation_script,\n      confidence: aiAnalysis.confidence,\n      summary: aiAnalysis.summary\n    },\n    ai_analysis_completed_at: new Date().toISOString()\n  }\n};\n"
      },
      "id": "b3000001-0010-4000-8000-000000000010",
      "name": "Parse Analysis Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [592, 128]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.ai_analysis.severity }}", "rightValue": "critical", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.ai_analysis.auto_remediation_possible }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.ai_analysis.severity }}", "rightValue": "high", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "b3000001-0011-4000-8000-000000000011",
      "name": "Route by Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [816, 192]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Analysis Results').first().json;\n\nconst affectedServices = (data.ai_analysis.affected_services || []).join(', ') || 'Unknown';\nconst recommendedActions = (data.ai_analysis.recommended_actions || []).map((a, i) => `${i + 1}. ${a}`).join('\\n');\nconst confidence = Math.round(data.ai_analysis.confidence * 100);\n\nconst slackMessage = `:rotating_light: *CRITICAL SYSTEM ALERT*\\n\\n*Run ID:* ${data.run_id}\\n*Detected At:* ${data.analysis_completed_at}\\n*Severity:* CRITICAL :red_circle:\\n\\n*Issue Type:* ${data.ai_analysis.issue_type}\\n*Summary:* ${data.ai_analysis.summary}\\n\\n*Root Cause Hypothesis:*\\n${data.ai_analysis.root_cause_hypothesis}\\n\\n*Affected Services:* ${affectedServices}\\n\\n*Customer Impact:*\\n${data.ai_analysis.estimated_customer_impact}\\n\\n*Recommended Actions:*\\n${recommendedActions}\\n\\n*Confidence:* ${confidence}%\\n\\n@channel Please respond immediately!`;\n\nreturn { json: { ...data, slack_message: slackMessage } };\n"
      },
      "id": "b3000001-0012-4000-8000-000000000012",
      "name": "Format Critical Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 0]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "#support-alerts", "mode": "name" },
        "text": "={{ $json.slack_message }}\n",
        "otherOptions": {}
      },
      "id": "b3000001-0013-4000-8000-000000000013",
      "name": "Slack - Critical Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1264, 0],
      "credentials": { "slackApi": { "id": "viv5vjBrnt9hNw4r", "name": "Slack API - CX Catalyst" } }
    },
    {
      "parameters": {
        "project": { "__rl": true, "value": "10035", "mode": "list", "cachedResultName": "Development" },
        "issueType": { "__rl": true, "value": "10050", "mode": "list", "cachedResultName": "Bug" },
        "summary": "=CRITICAL: {{ $('Format Critical Alert').first().json.ai_analysis.issue_type }} - {{ $('Format Critical Alert').first().json.ai_analysis.summary.substring(0, 100) }}",
        "additionalFields": {}
      },
      "id": "b3000001-0014-4000-8000-000000000014",
      "name": "Create Jira - Critical",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [1488, 0],
      "credentials": { "jiraSoftwareCloudApi": { "id": "esdOjucGFFmZQRup", "name": "Jira SW Cloud account 2" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst remediationScript = data.ai_analysis.remediation_script;\n\nconst remediationResult = {\n  script: remediationScript,\n  executed_at: new Date().toISOString(),\n  success: true,\n  output: `Executed ${remediationScript} successfully. System should stabilize within 5 minutes.`,\n  requires_verification: true\n};\n\nreturn { json: { ...data, remediation_result: remediationResult } };"
      },
      "id": "b3000001-0015-4000-8000-000000000015",
      "name": "Execute Remediation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 192]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst confidence = Math.round(data.ai_analysis.confidence * 100);\nconst success = data.remediation_result.success ? ':white_check_mark: Success' : ':x: Failed';\n\nconst slackMessage = `:robot_face: *Auto-Remediation Executed*\\n\\n*Run ID:* ${data.run_id}\\n*Issue:* ${data.ai_analysis.issue_type}\\n*Severity:* ${data.ai_analysis.severity}\\n\\n*Action Taken:*\\n${data.remediation_result.script}\\n\\n*Result:* ${success}\\n*Output:* ${data.remediation_result.output}\\n\\n*Confidence:* ${confidence}%`;\n\nreturn { json: { ...data, slack_message: slackMessage } };\n"
      },
      "id": "b3000001-0016-4000-8000-000000000016",
      "name": "Format Remediation Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1264, 192]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "#support-alerts", "mode": "name" },
        "text": "={{ $json.slack_message }}\n",
        "otherOptions": {}
      },
      "id": "b3000001-0017-4000-8000-000000000017",
      "name": "Slack - Remediation Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1488, 192],
      "credentials": { "slackApi": { "id": "viv5vjBrnt9hNw4r", "name": "Slack API - CX Catalyst" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Analysis Results').first().json;\nconst recommendedActions = (data.ai_analysis.recommended_actions || []).map((a, i) => `${i + 1}. ${a}`).join('\\n');\nconst confidence = Math.round(data.ai_analysis.confidence * 100);\n\nconst slackMessage = `:warning: *High Severity Alert*\\n\\n*Run ID:* ${data.run_id}\\n*Detected At:* ${data.analysis_completed_at}\\n*Severity:* HIGH :large_orange_circle:\\n\\n*Issue Type:* ${data.ai_analysis.issue_type}\\n*Summary:* ${data.ai_analysis.summary}\\n\\n*Root Cause Hypothesis:*\\n${data.ai_analysis.root_cause_hypothesis}\\n\\n*Customer Impact:*\\n${data.ai_analysis.estimated_customer_impact}\\n\\n*Recommended Actions:*\\n${recommendedActions}\\n\\n*Confidence:* ${confidence}%\\n\\nPlease investigate within the next hour.`;\n\nreturn { json: { ...data, slack_message: slackMessage } };\n"
      },
      "id": "b3000001-0018-4000-8000-000000000018",
      "name": "Format High Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 432]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "#support-alerts", "mode": "name" },
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "b3000001-0019-4000-8000-000000000019",
      "name": "Slack - High Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1264, 432],
      "credentials": { "slackApi": { "id": "viv5vjBrnt9hNw4r", "name": "Slack API - CX Catalyst" } }
    },
    {
      "parameters": {
        "project": { "__rl": true, "value": "10035", "mode": "list", "cachedResultName": "Development" },
        "issueType": { "__rl": true, "value": "10050", "mode": "list", "cachedResultName": "Bug" },
        "summary": "Proactive Alert: {{ $('Format High Alert').first().json.ai_analysis.issue_type }} - {{ $('Format High Alert').first().json.ai_analysis.summary.substring(0, 80) }}",
        "additionalFields": {}
      },
      "id": "b3000001-001a-4000-8000-00000000001a",
      "name": "Create Jira - High",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [1488, 432],
      "credentials": { "jiraSoftwareCloudApi": { "id": "esdOjucGFFmZQRup", "name": "Jira SW Cloud account 2" } }
    },
    {
      "parameters": {
        "jsCode": "const analysisData = $('Parse Analysis Results').first().json;\n\nlet jiraTicketId = 'N/A';\ntry {\n  const jiraData = $input.first().json;\n  jiraTicketId = jiraData.key || jiraData.id || 'N/A';\n} catch (e) {}\n\nreturn { json: { ...analysisData, jira_ticket_id: jiraTicketId } };\n"
      },
      "id": "b3000001-001b-4000-8000-00000000001b",
      "name": "Build Alert Log Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1712, 224]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO proactive_alerts (\n  alert_type, severity, description, root_cause_hypothesis,\n  actions_taken, prevented_cases_estimate, jira_ticket_id, metadata\n) VALUES (\n  '{{ $json.ai_analysis.issue_type }}',\n  '{{ $json.ai_analysis.severity }}',\n  '{{ $json.ai_analysis.summary.replace(/'/g, \"''\") }}',\n  '{{ $json.ai_analysis.root_cause_hypothesis.replace(/'/g, \"''\") }}',\n  ARRAY{{ JSON.stringify($json.ai_analysis.recommended_actions).replace(/\"/g, \"'\") }},\n  {{ Math.round($json.ai_analysis.confidence * 10) }},\n  '{{ $json.jira_ticket_id || 'N/A' }}',\n  '{{ JSON.stringify({ run_id: $json.run_id, anomalies: $json.anomalies, confidence: $json.ai_analysis.confidence, batch_mode: true }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "b3000001-001c-4000-8000-00000000001c",
      "name": "Log Alert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1936, 224],
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (\n  workflow_name, status, start_time, end_time, metadata\n) VALUES (\n  'Proactive Issue Detection (Batch)',\n  'success_anomaly_handled',\n  '{{ $('Build Alert Log Data').first().json.run_started_at }}',\n  NOW(),\n  '{{ JSON.stringify({ run_id: $('Build Alert Log Data').first().json.run_id, anomaly_detected: true, severity: $('Build Alert Log Data').first().json.ai_analysis.severity, batch_mode: true }) }}'::jsonb\n);\n",
        "options": {}
      },
      "id": "b3000001-001d-4000-8000-00000000001d",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2160, 224],
      "credentials": { "postgres": { "id": "akAuGKYi4ALrVnlP", "name": "cx-catalyst" } }
    },
    {
      "parameters": {
        "content": "## WF3: Proactive Issue Detection (BATCH)\n\n**Purpose:** Monitor systems for anomalies, predict potential issues, and take preventive action. Uses batch API for 50% token cost savings.\n\n### Key Change from Synchronous:\n- Schedule relaxed to 60 min (from 15 min) to accommodate batch latency\n- LangChain Agent replaced with OpenAI Batch API submission\n- Wait node pauses until Batch Poller resumes via $execution.resumeUrl\n- 50% token cost reduction\n\n### Flow:\n1. Schedule trigger every 60 minutes\n2. Gather monitoring data (health metrics, case trends, KB)\n3. Detect anomalies using statistical analysis\n4. If anomaly: Submit analysis as OpenAI batch\n5. **WAIT** for Batch Poller to resume\n6. Parse AI analysis results\n7. Route by severity → Alert/Jira/Log\n\n### Credentials Required:\n- PostgreSQL (cx-catalyst)\n- OpenAI API - Header Auth\n- Slack API\n- Jira SW Cloud",
        "height": 704,
        "width": 360
      },
      "id": "b3000001-001e-4000-8000-00000000001e",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-2480, 96]
    }
  ],
  "connections": {
    "Schedule - Every 60 min": { "main": [[{ "node": "Set Run Context", "type": "main", "index": 0 }]] },
    "Set Run Context": { "main": [[
      { "node": "Query Health Metrics", "type": "main", "index": 0 },
      { "node": "Search Knowledge Base", "type": "main", "index": 0 },
      { "node": "Query Case Trends", "type": "main", "index": 0 }
    ]] },
    "Search Knowledge Base": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Query Health Metrics": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Query Case Trends": { "main": [[{ "node": "Merge", "type": "main", "index": 2 }]] },
    "Merge": { "main": [[{ "node": "Detect Anomalies", "type": "main", "index": 0 }]] },
    "Detect Anomalies": { "main": [[{ "node": "Anomaly Detected?", "type": "main", "index": 0 }]] },
    "Anomaly Detected?": { "main": [
      [{ "node": "Format Analysis Batch", "type": "main", "index": 0 }],
      [{ "node": "Log - No Anomaly", "type": "main", "index": 0 }]
    ] },
    "Format Analysis Batch": { "main": [[{ "node": "Prepare JSONL Binary", "type": "main", "index": 0 }]] },
    "Prepare JSONL Binary": { "main": [[{ "node": "Upload JSONL to OpenAI", "type": "main", "index": 0 }]] },
    "Upload JSONL to OpenAI": { "main": [[{ "node": "Create OpenAI Batch", "type": "main", "index": 0 }]] },
    "Create OpenAI Batch": { "main": [[{ "node": "Store Batch Job", "type": "main", "index": 0 }]] },
    "Store Batch Job": { "main": [[{ "node": "Wait for Analysis", "type": "main", "index": 0 }]] },
    "Wait for Analysis": { "main": [[{ "node": "Parse Analysis Results", "type": "main", "index": 0 }]] },
    "Parse Analysis Results": { "main": [[{ "node": "Route by Severity", "type": "main", "index": 0 }]] },
    "Route by Severity": { "main": [
      [{ "node": "Format Critical Alert", "type": "main", "index": 0 }],
      [{ "node": "Execute Remediation", "type": "main", "index": 0 }],
      [{ "node": "Format High Alert", "type": "main", "index": 0 }],
      [{ "node": "Build Alert Log Data", "type": "main", "index": 0 }]
    ] },
    "Format Critical Alert": { "main": [[{ "node": "Slack - Critical Alert", "type": "main", "index": 0 }]] },
    "Slack - Critical Alert": { "main": [[{ "node": "Create Jira - Critical", "type": "main", "index": 0 }]] },
    "Create Jira - Critical": { "main": [[{ "node": "Build Alert Log Data", "type": "main", "index": 0 }]] },
    "Execute Remediation": { "main": [[{ "node": "Format Remediation Alert", "type": "main", "index": 0 }]] },
    "Format Remediation Alert": { "main": [[{ "node": "Slack - Remediation Alert", "type": "main", "index": 0 }]] },
    "Slack - Remediation Alert": { "main": [[{ "node": "Build Alert Log Data", "type": "main", "index": 0 }]] },
    "Format High Alert": { "main": [[{ "node": "Slack - High Alert", "type": "main", "index": 0 }]] },
    "Slack - High Alert": { "main": [[{ "node": "Create Jira - High", "type": "main", "index": 0 }]] },
    "Create Jira - High": { "main": [[{ "node": "Build Alert Log Data", "type": "main", "index": 0 }]] },
    "Build Alert Log Data": { "main": [[{ "node": "Log Alert", "type": "main", "index": 0 }]] },
    "Log Alert": { "main": [[{ "node": "Log Execution", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b01e799c8597a418342586f9fe42b57cf7798483b7d7540aea0ab43464ea70a2"
  },
  "tags": [
    { "name": "support" },
    { "name": "proactive" },
    { "name": "monitoring" },
    { "name": "batch" }
  ]
}
