n8n-workflows/workflow-3-proactive-detection.json
{
  "name": "Support - 3. Proactive Issue Detection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-id",
              "name": "run_id",
              "value": "={{ 'PROACTIVE-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            },
            {
              "id": "run-start",
              "name": "run_started_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "check-window",
              "name": "check_window_minutes",
              "value": 15,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-run-context",
      "name": "Set Run Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOG_AGGREGATOR_URL || 'http://localhost:9200' }}/logs/_search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "level:error OR level:critical"
            },
            {
              "name": "size",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "query-error-logs",
      "name": "Query Error Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  metric_name,\n  metric_value,\n  unit,\n  threshold_warning,\n  threshold_critical,\n  CASE \n    WHEN metric_value >= threshold_critical THEN 'critical'\n    WHEN metric_value >= threshold_warning THEN 'warning'\n    ELSE 'normal'\n  END as current_status,\n  recorded_at\nFROM health_metrics\nWHERE recorded_at >= NOW() - INTERVAL '15 minutes'\nORDER BY recorded_at DESC;",
        "options": {}
      },
      "id": "query-health-metrics",
      "name": "Query Health Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 400],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH recent_cases AS (\n  SELECT \n    category,\n    subcategory,\n    COUNT(*) as case_count,\n    AVG(EXTRACT(EPOCH FROM (resolved_at - created_at))/60) as avg_resolution_minutes\n  FROM cases\n  WHERE created_at >= NOW() - INTERVAL '15 minutes'\n  GROUP BY category, subcategory\n),\nhistorical_baseline AS (\n  SELECT \n    category,\n    subcategory,\n    AVG(daily_count) as avg_daily_count,\n    STDDEV(daily_count) as stddev_daily_count\n  FROM (\n    SELECT \n      category,\n      subcategory,\n      DATE(created_at) as day,\n      COUNT(*) as daily_count\n    FROM cases\n    WHERE created_at >= NOW() - INTERVAL '30 days'\n      AND created_at < NOW() - INTERVAL '15 minutes'\n    GROUP BY category, subcategory, DATE(created_at)\n  ) daily_counts\n  GROUP BY category, subcategory\n)\nSELECT \n  r.category,\n  r.subcategory,\n  r.case_count,\n  r.avg_resolution_minutes,\n  h.avg_daily_count,\n  h.stddev_daily_count,\n  CASE \n    WHEN h.stddev_daily_count > 0 THEN\n      (r.case_count - (h.avg_daily_count / 96)) / (h.stddev_daily_count / 96)\n    ELSE 0\n  END as z_score\nFROM recent_cases r\nLEFT JOIN historical_baseline h ON r.category = h.category AND r.subcategory = h.subcategory;",
        "options": {}
      },
      "id": "query-case-trends",
      "name": "Query Case Trends",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 600],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge all monitoring data and detect anomalies\nconst runContext = $('Set Run Context').first().json;\nconst errorLogs = $('Query Error Logs').first().json;\nconst healthMetrics = $('Query Health Metrics').all().map(item => item.json);\nconst caseTrends = $('Query Case Trends').all().map(item => item.json);\n\n// Parse error logs (handle different log aggregator formats)\nlet errorCount = 0;\nlet criticalErrors = [];\nif (errorLogs && errorLogs.hits && errorLogs.hits.hits) {\n  errorCount = errorLogs.hits.total?.value || errorLogs.hits.hits.length;\n  criticalErrors = errorLogs.hits.hits\n    .filter(hit => hit._source?.level === 'critical')\n    .map(hit => ({\n      message: hit._source?.message,\n      timestamp: hit._source?.['@timestamp'],\n      service: hit._source?.service\n    }));\n}\n\n// Detect health metric anomalies\nconst metricAnomalies = healthMetrics\n  .filter(m => m.current_status === 'critical' || m.current_status === 'warning')\n  .map(m => ({\n    metric: m.metric_name,\n    value: m.metric_value,\n    unit: m.unit,\n    status: m.current_status,\n    threshold: m.current_status === 'critical' ? m.threshold_critical : m.threshold_warning\n  }));\n\n// Detect case volume anomalies (z-score > 2 is significant)\nconst caseAnomalies = caseTrends\n  .filter(t => t.z_score > 2)\n  .map(t => ({\n    category: t.category,\n    subcategory: t.subcategory,\n    current_count: t.case_count,\n    expected_count: Math.round(t.avg_daily_count / 96 * 10) / 10, // per 15 min\n    z_score: Math.round(t.z_score * 100) / 100,\n    severity: t.z_score > 3 ? 'high' : 'medium'\n  }));\n\n// Determine overall anomaly status\nconst hasCriticalMetrics = metricAnomalies.some(m => m.status === 'critical');\nconst hasCriticalErrors = criticalErrors.length > 0;\nconst hasHighCaseAnomaly = caseAnomalies.some(a => a.severity === 'high');\n\nconst anomalyDetected = hasCriticalMetrics || hasCriticalErrors || caseAnomalies.length > 0;\nconst overallSeverity = hasCriticalMetrics || hasCriticalErrors || hasHighCaseAnomaly ? 'critical' : \n                        metricAnomalies.length > 0 || caseAnomalies.length > 0 ? 'warning' : 'normal';\n\nreturn {\n  json: {\n    ...runContext,\n    monitoring_data: {\n      error_count: errorCount,\n      critical_errors: criticalErrors,\n      health_metrics: healthMetrics,\n      case_trends: caseTrends\n    },\n    anomalies: {\n      detected: anomalyDetected,\n      overall_severity: overallSeverity,\n      metric_anomalies: metricAnomalies,\n      case_anomalies: caseAnomalies,\n      error_anomalies: criticalErrors.slice(0, 5) // Top 5 critical errors\n    },\n    analysis_completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "detect-anomalies",
      "name": "Detect Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-anomaly",
              "leftValue": "={{ $json.anomalies.detected }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "anomaly-detected",
      "name": "Anomaly Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1160, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (\n  workflow_name,\n  status,\n  start_time,\n  end_time,\n  metadata\n) VALUES (\n  'Proactive Issue Detection',\n  'success_no_anomaly',\n  '{{ $json.run_started_at }}',\n  NOW(),\n  '{{ JSON.stringify({ run_id: $json.run_id, anomaly_detected: false }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "log-no-anomaly",
      "name": "Log - No Anomaly",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1380, 560],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a Site Reliability Engineer (SRE) analyzing system monitoring data for anomalies and potential incidents.\n\n## Current Anomaly Data:\n\n### Overall Status:\n- Anomaly Detected: {{ $json.anomalies.detected }}\n- Overall Severity: {{ $json.anomalies.overall_severity }}\n\n### Metric Anomalies:\n{{ JSON.stringify($json.anomalies.metric_anomalies, null, 2) }}\n\n### Case Volume Anomalies:\n{{ JSON.stringify($json.anomalies.case_anomalies, null, 2) }}\n\n### Critical Errors:\n{{ JSON.stringify($json.anomalies.error_anomalies, null, 2) }}\n\n### Recent Health Metrics:\n{{ JSON.stringify($json.monitoring_data.health_metrics.slice(0, 10), null, 2) }}\n\n## Your Analysis Task:\n\n1. **Assess the Situation**: Determine if this represents a real incident or a transient anomaly\n2. **Root Cause Analysis**: Based on the patterns, hypothesize the most likely root cause\n3. **Impact Assessment**: Estimate the potential customer impact\n4. **Recommendations**: Provide actionable recommendations for the team\n\n## Guidelines:\n- Be conservative - only flag as critical if there's clear evidence of customer impact\n- Look for correlated anomalies across different metrics\n- Consider time of day and known maintenance windows\n- Recommend specific, actionable steps rather than generic advice\n- If auto-remediation is safe (e.g., cache clear, service restart), recommend it\n\n## Severity Guidelines:\n- **Critical**: Customer-facing impact confirmed, immediate action required\n- **High**: Likely customer impact, investigation needed urgently\n- **Medium**: Potential issue, investigate within SLA\n- **Low**: Minor anomaly, monitor and investigate when convenient",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "ai-analysis-agent",
      "name": "AI Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1380, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.3
        }
      },
      "id": "claude-model-analysis",
      "name": "Claude Sonnet - Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1380, 520],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"issue_detected\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether a significant issue was detected\"\n    },\n    \"issue_type\": {\n      \"type\": \"string\",\n      \"description\": \"Type of issue (performance, availability, error_spike, capacity, security)\"\n    },\n    \"severity\": {\n      \"type\": \"string\",\n      \"enum\": [\"critical\", \"high\", \"medium\", \"low\"],\n      \"description\": \"Severity of the detected issue\"\n    },\n    \"root_cause_hypothesis\": {\n      \"type\": \"string\",\n      \"description\": \"Hypothesis about the root cause based on available data\"\n    },\n    \"affected_services\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"List of potentially affected services or components\"\n    },\n    \"estimated_customer_impact\": {\n      \"type\": \"string\",\n      \"description\": \"Description of potential customer impact\"\n    },\n    \"recommended_actions\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Recommended immediate actions to take\"\n    },\n    \"auto_remediation_possible\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether automated remediation can be applied\"\n    },\n    \"remediation_script\": {\n      \"type\": \"string\",\n      \"description\": \"Name of remediation script if auto-remediation is possible\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence in the analysis (0-1)\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Brief summary of the situation for stakeholders\"\n    }\n  },\n  \"required\": [\"issue_detected\", \"severity\", \"root_cause_hypothesis\", \"recommended_actions\", \"confidence\", \"summary\"]\n}"
      },
      "id": "analysis-output-parser",
      "name": "Analysis Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1580, 520]
    },
    {
      "parameters": {
        "jsCode": "// Combine anomaly data with AI analysis\nconst anomalyData = $('Detect Anomalies').first().json;\nconst aiAnalysis = $input.item.json.output || $input.item.json;\n\nreturn {\n  json: {\n    ...anomalyData,\n    ai_analysis: {\n      issue_detected: aiAnalysis.issue_detected,\n      issue_type: aiAnalysis.issue_type,\n      severity: aiAnalysis.severity,\n      root_cause_hypothesis: aiAnalysis.root_cause_hypothesis,\n      affected_services: aiAnalysis.affected_services || [],\n      estimated_customer_impact: aiAnalysis.estimated_customer_impact,\n      recommended_actions: aiAnalysis.recommended_actions || [],\n      auto_remediation_possible: aiAnalysis.auto_remediation_possible || false,\n      remediation_script: aiAnalysis.remediation_script,\n      confidence: aiAnalysis.confidence,\n      summary: aiAnalysis.summary\n    },\n    ai_analysis_completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "combine-analysis",
      "name": "Combine Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_analysis.severity }}",
                    "rightValue": "critical",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "output": 0,
              "renameOutput": true,
              "outputLabel": "Critical - Immediate Action"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_analysis.auto_remediation_possible }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "output": 1,
              "renameOutput": true,
              "outputLabel": "Auto-Remediate"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_analysis.severity }}",
                    "rightValue": "high",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "output": 2,
              "renameOutput": true,
              "outputLabel": "High - Alert Team"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-by-severity",
      "name": "Route by Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1820, 300]
    },
    {
      "parameters": {
        "channel": "#support-alerts",
        "text": ":rotating_light: *CRITICAL SYSTEM ALERT*\n\n*Run ID:* {{ $json.run_id }}\n*Detected At:* {{ $json.analysis_completed_at }}\n*Severity:* CRITICAL :red_circle:\n\n*Issue Type:* {{ $json.ai_analysis.issue_type }}\n*Summary:* {{ $json.ai_analysis.summary }}\n\n*Root Cause Hypothesis:*\n{{ $json.ai_analysis.root_cause_hypothesis }}\n\n*Affected Services:* {{ $json.ai_analysis.affected_services.join(', ') || 'Unknown' }}\n\n*Customer Impact:*\n{{ $json.ai_analysis.estimated_customer_impact }}\n\n*Recommended Actions:*\n{{ $json.ai_analysis.recommended_actions.map((a, i) => (i+1) + '. ' + a).join('\\n') }}\n\n*Confidence:* {{ Math.round($json.ai_analysis.confidence * 100) }}%\n\n@channel Please respond immediately!",
        "otherOptions": {}
      },
      "id": "slack-critical",
      "name": "Slack - Critical Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2040, 100],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "cloudId": "={{ $env.JIRA_CLOUD_ID }}",
        "projectKey": "SUP",
        "issueTypeName": "Incident",
        "summary": "CRITICAL: {{ $json.ai_analysis.issue_type }} - {{ $json.ai_analysis.summary.substring(0, 100) }}",
        "description": "## Proactive Alert - Critical Incident\n\n**Run ID:** {{ $json.run_id }}\n**Detected At:** {{ $json.analysis_completed_at }}\n\n### Summary\n{{ $json.ai_analysis.summary }}\n\n### Root Cause Hypothesis\n{{ $json.ai_analysis.root_cause_hypothesis }}\n\n### Affected Services\n{{ $json.ai_analysis.affected_services.join(', ') || 'Unknown' }}\n\n### Customer Impact\n{{ $json.ai_analysis.estimated_customer_impact }}\n\n### Recommended Actions\n{{ $json.ai_analysis.recommended_actions.map((a, i) => (i+1) + '. ' + a).join('\\n') }}\n\n### Raw Anomaly Data\n```json\n{{ JSON.stringify($json.anomalies, null, 2) }}\n```\n\n*Confidence:* {{ Math.round($json.ai_analysis.confidence * 100) }}%\n\n---\n*This ticket was auto-generated by the Proactive Issue Detection system.*",
        "additional_fields": {}
      },
      "id": "create-jira-critical",
      "name": "Create Jira - Critical",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [2260, 100],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "YOUR_JIRA_CREDENTIAL_ID",
          "name": "Jira"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Execute auto-remediation based on the recommendation\nconst data = $input.item.json;\nconst remediationScript = data.ai_analysis.remediation_script;\n\n// In a real implementation, this would call an API to execute the remediation\n// Common auto-remediation actions:\n// - restart_service\n// - clear_cache\n// - scale_up\n// - rollback_deployment\n\nconst remediationResult = {\n  script: remediationScript,\n  executed_at: new Date().toISOString(),\n  success: true, // In real implementation, this would be the actual result\n  output: `Executed ${remediationScript} successfully. System should stabilize within 5 minutes.`,\n  requires_verification: true\n};\n\nreturn {\n  json: {\n    ...data,\n    remediation_result: remediationResult\n  }\n};"
      },
      "id": "execute-remediation",
      "name": "Execute Remediation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 260]
    },
    {
      "parameters": {
        "channel": "#support-alerts",
        "text": ":robot_face: *Auto-Remediation Executed*\n\n*Run ID:* {{ $json.run_id }}\n*Issue:* {{ $json.ai_analysis.issue_type }}\n*Severity:* {{ $json.ai_analysis.severity }}\n\n*Action Taken:*\n{{ $json.remediation_result.script }}\n\n*Result:* {{ $json.remediation_result.success ? ':white_check_mark: Success' : ':x: Failed' }}\n*Output:* {{ $json.remediation_result.output }}\n\n*Next Steps:*\n- Monitor system metrics for the next 5-10 minutes\n- Verify the issue is resolved\n- Investigate root cause for permanent fix\n\n*Confidence:* {{ Math.round($json.ai_analysis.confidence * 100) }}%",
        "otherOptions": {}
      },
      "id": "slack-remediation",
      "name": "Slack - Remediation Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2260, 260],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#support-alerts",
        "text": ":warning: *High Severity Alert*\n\n*Run ID:* {{ $json.run_id }}\n*Detected At:* {{ $json.analysis_completed_at }}\n*Severity:* HIGH :large_orange_circle:\n\n*Issue Type:* {{ $json.ai_analysis.issue_type }}\n*Summary:* {{ $json.ai_analysis.summary }}\n\n*Root Cause Hypothesis:*\n{{ $json.ai_analysis.root_cause_hypothesis }}\n\n*Customer Impact:*\n{{ $json.ai_analysis.estimated_customer_impact }}\n\n*Recommended Actions:*\n{{ $json.ai_analysis.recommended_actions.map((a, i) => (i+1) + '. ' + a).join('\\n') }}\n\n*Confidence:* {{ Math.round($json.ai_analysis.confidence * 100) }}%\n\nPlease investigate within the next hour.",
        "otherOptions": {}
      },
      "id": "slack-high",
      "name": "Slack - High Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2040, 420],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "cloudId": "={{ $env.JIRA_CLOUD_ID }}",
        "projectKey": "SUP",
        "issueTypeName": "Task",
        "summary": "Proactive Alert: {{ $json.ai_analysis.issue_type }} - {{ $json.ai_analysis.summary.substring(0, 80) }}",
        "description": "## Proactive Alert - High Severity\n\n**Run ID:** {{ $json.run_id }}\n**Detected At:** {{ $json.analysis_completed_at }}\n**Severity:** HIGH\n\n### Summary\n{{ $json.ai_analysis.summary }}\n\n### Root Cause Hypothesis\n{{ $json.ai_analysis.root_cause_hypothesis }}\n\n### Recommended Actions\n{{ $json.ai_analysis.recommended_actions.map((a, i) => (i+1) + '. ' + a).join('\\n') }}\n\n### Anomaly Details\n```json\n{{ JSON.stringify($json.anomalies, null, 2) }}\n```\n\n*Confidence:* {{ Math.round($json.ai_analysis.confidence * 100) }}%",
        "additional_fields": {}
      },
      "id": "create-jira-high",
      "name": "Create Jira - High",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [2260, 420],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "YOUR_JIRA_CREDENTIAL_ID",
          "name": "Jira"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO proactive_alerts (\n  alert_type,\n  severity,\n  description,\n  root_cause_hypothesis,\n  actions_taken,\n  prevented_cases_estimate,\n  jira_ticket_id,\n  metadata\n) VALUES (\n  '{{ $json.ai_analysis.issue_type }}',\n  '{{ $json.ai_analysis.severity }}',\n  '{{ $json.ai_analysis.summary.replace(/'/g, \"''\") }}',\n  '{{ $json.ai_analysis.root_cause_hypothesis.replace(/'/g, \"''\") }}',\n  ARRAY{{ JSON.stringify($json.ai_analysis.recommended_actions).replace(/\"/g, \"'\") }},\n  {{ Math.round($json.ai_analysis.confidence * 10) }},\n  '{{ $json.jira_ticket_id || 'N/A' }}',\n  '{{ JSON.stringify({ run_id: $json.run_id, anomalies: $json.anomalies, confidence: $json.ai_analysis.confidence }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "log-alert",
      "name": "Log Alert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2480, 300],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (\n  workflow_name,\n  status,\n  start_time,\n  end_time,\n  metadata\n) VALUES (\n  'Proactive Issue Detection',\n  'success_anomaly_handled',\n  '{{ $json.run_started_at }}',\n  NOW(),\n  '{{ JSON.stringify({ run_id: $json.run_id, anomaly_detected: true, severity: $json.ai_analysis.severity, actions_taken: $json.ai_analysis.recommended_actions.length }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2700, 300],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow 3: Proactive Issue Detection & Prevention\n\n**Purpose:** Monitor systems for anomalies, predict potential issues, and take preventive action before customers are affected.\n\n### Flow:\n1. Schedule trigger every 15 minutes\n2. Gather monitoring data:\n   - Error logs from log aggregator\n   - Health metrics from DB\n   - Case volume trends\n3. Detect anomalies using statistical analysis\n4. AI analyzes anomalies for root cause\n5. Route by severity:\n   - Critical → Immediate Slack + Jira\n   - Auto-remediable → Execute fix + notify\n   - High → Alert team + Jira\n   - Low → Log and monitor\n\n### Configuration Required:\n- LOG_AGGREGATOR_URL env variable\n- PostgreSQL credentials\n- Anthropic (Claude) credentials\n- Slack credentials\n- Jira credentials\n- JIRA_CLOUD_ID env variable",
        "height": 480,
        "width": 360
      },
      "id": "sticky-note-info",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 80]
    }
  ],
  "connections": {
    "Schedule - Every 15 min": {
      "main": [
        [{ "node": "Set Run Context", "type": "main", "index": 0 }]
      ]
    },
    "Set Run Context": {
      "main": [
        [
          { "node": "Query Error Logs", "type": "main", "index": 0 },
          { "node": "Query Health Metrics", "type": "main", "index": 0 },
          { "node": "Query Case Trends", "type": "main", "index": 0 }
        ]
      ]
    },
    "Query Error Logs": {
      "main": [
        [{ "node": "Detect Anomalies", "type": "main", "index": 0 }]
      ]
    },
    "Query Health Metrics": {
      "main": [
        [{ "node": "Detect Anomalies", "type": "main", "index": 0 }]
      ]
    },
    "Query Case Trends": {
      "main": [
        [{ "node": "Detect Anomalies", "type": "main", "index": 0 }]
      ]
    },
    "Detect Anomalies": {
      "main": [
        [{ "node": "Anomaly Detected?", "type": "main", "index": 0 }]
      ]
    },
    "Anomaly Detected?": {
      "main": [
        [{ "node": "AI Analysis Agent", "type": "main", "index": 0 }],
        [{ "node": "Log - No Anomaly", "type": "main", "index": 0 }]
      ]
    },
    "AI Analysis Agent": {
      "main": [
        [{ "node": "Combine Analysis", "type": "main", "index": 0 }]
      ]
    },
    "Claude Sonnet - Analysis": {
      "ai_languageModel": [
        [{ "node": "AI Analysis Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Analysis Output Parser": {
      "ai_outputParser": [
        [{ "node": "AI Analysis Agent", "type": "ai_outputParser", "index": 0 }]
      ]
    },
    "Combine Analysis": {
      "main": [
        [{ "node": "Route by Severity", "type": "main", "index": 0 }]
      ]
    },
    "Route by Severity": {
      "main": [
        [{ "node": "Slack - Critical Alert", "type": "main", "index": 0 }],
        [{ "node": "Execute Remediation", "type": "main", "index": 0 }],
        [{ "node": "Slack - High Alert", "type": "main", "index": 0 }],
        [{ "node": "Log Alert", "type": "main", "index": 0 }]
      ]
    },
    "Slack - Critical Alert": {
      "main": [
        [{ "node": "Create Jira - Critical", "type": "main", "index": 0 }]
      ]
    },
    "Create Jira - Critical": {
      "main": [
        [{ "node": "Log Alert", "type": "main", "index": 0 }]
      ]
    },
    "Execute Remediation": {
      "main": [
        [{ "node": "Slack - Remediation Alert", "type": "main", "index": 0 }]
      ]
    },
    "Slack - Remediation Alert": {
      "main": [
        [{ "node": "Log Alert", "type": "main", "index": 0 }]
      ]
    },
    "Slack - High Alert": {
      "main": [
        [{ "node": "Create Jira - High", "type": "main", "index": 0 }]
      ]
    },
    "Create Jira - High": {
      "main": [
        [{ "node": "Log Alert", "type": "main", "index": 0 }]
      ]
    },
    "Log Alert": {
      "main": [
        [{ "node": "Log Execution", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "support" },
    { "name": "proactive" },
    { "name": "monitoring" }
  ],
  "meta": {
    "instanceId": "cx-catalyst"
  }
}
