n8n-workflows/workflow-1-smart-intake-triage.json
{
  "name": "Support - 1. Smart Intake & Triage",
  "nodes": [
    {
      "parameters": {
        "path": "support/intake",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook - Support Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "support-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract & Normalize Request\nconst input = $input.item.json;\n\n// Parse incoming request from various channels\nconst body = input.body || input;\nconst channel = body.channel || 'webhook';\nconst customerId = body.customer_id;\nconst customerEmail = body.customer_email;\nconst customerName = body.customer_name;\nconst issueDescription = body.description;\nconst severity = body.severity || 'medium';\nconst product = body.product || 'unknown';\nconst productVersion = body.product_version;\nconst environment = body.environment || 'production';\n\n// Generate request ID\nconst requestId = 'REQ-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9);\n\nreturn {\n  json: {\n    request_id: requestId,\n    channel,\n    customer_id: customerId,\n    customer_email: customerEmail,\n    customer_name: customerName,\n    description: issueDescription,\n    severity,\n    product,\n    product_version: productVersion,\n    environment,\n    received_at: new Date().toISOString(),\n    metadata: body.metadata || {}\n  }\n};"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000001",
      "name": "Extract & Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.customer_id,\n  c.name,\n  c.email,\n  c.account_tier,\n  c.created_at as customer_since,\n  COUNT(DISTINCT cs.case_id) as total_cases,\n  COUNT(DISTINCT CASE WHEN cs.status = 'resolved' THEN cs.case_id END) as resolved_cases,\n  AVG(cs.satisfaction_score) as avg_satisfaction,\n  MAX(cs.created_at) as last_contact,\n  COUNT(DISTINCT CASE WHEN cs.created_at > NOW() - INTERVAL '30 days' THEN cs.case_id END) as cases_last_30_days\nFROM customers c\nLEFT JOIN cases cs ON c.customer_id = cs.customer_id\nWHERE c.customer_id = '{{ $json.customer_id }}'\n   OR c.email = '{{ $json.customer_email }}'\nGROUP BY c.customer_id, c.name, c.email, c.account_tier, c.created_at\nLIMIT 1;",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000002",
      "name": "Enrich Customer Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge request data with customer context\nconst requestData = $('Extract & Normalize Request').first().json;\nconst customerData = $input.item.json;\n\n// Determine if this is a new or existing customer\nconst isNewCustomer = !customerData || !customerData.customer_id;\n\nreturn {\n  json: {\n    ...requestData,\n    customer_context: {\n      is_new_customer: isNewCustomer,\n      customer_id: customerData?.customer_id || requestData.customer_id,\n      name: customerData?.name || requestData.customer_name,\n      email: customerData?.email || requestData.customer_email,\n      account_tier: customerData?.account_tier || 'standard',\n      total_cases: customerData?.total_cases || 0,\n      resolved_cases: customerData?.resolved_cases || 0,\n      avg_satisfaction: customerData?.avg_satisfaction || null,\n      last_contact: customerData?.last_contact || null,\n      cases_last_30_days: customerData?.cases_last_30_days || 0,\n      is_vip: customerData?.account_tier === 'enterprise' || customerData?.account_tier === 'premium'\n    }\n  }\n};"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000003",
      "name": "Merge Request & Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a customer support triage specialist. Analyze this support request and classify it.\n\n## Customer Issue:\n{{ $json.description }}\n\n## Customer Context:\n- Account Tier: {{ $json.customer_context.account_tier }}\n- Total Past Cases: {{ $json.customer_context.total_cases }}\n- Average Satisfaction: {{ $json.customer_context.avg_satisfaction || 'N/A' }}\n- Is VIP: {{ $json.customer_context.is_vip }}\n- Product: {{ $json.product }}\n- Environment: {{ $json.environment }}\n- Reported Severity: {{ $json.severity }}\n\nClassify this issue and provide your assessment.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a customer support triage specialist. Your role is to analyze support requests and classify them accurately.\n\nGiven a customer issue description and context, you must:\n1. Determine the primary category (configuration, usage, setup, defect, enhancement, or other)\n2. Assign a specific subcategory\n3. Set the priority level based on business impact\n4. Estimate the complexity of resolution\n5. Assess your confidence in the classification\n6. Recommend the best resolution path\n\nIMPORTANT: Be conservative with confidence scores. Only give >0.85 for crystal-clear issues.\n\nPriority Guidelines:\n- Critical: System down, data loss, security breach, multiple customers affected\n- High: Major functionality broken, VIP customer, revenue impact\n- Medium: Workaround exists, single customer, no immediate business impact\n- Low: Cosmetic issues, feature requests, questions\n\nComplexity Guidelines:\n- Simple: Known issue, documented solution, <15 min resolution\n- Moderate: Requires investigation, multiple steps, 15-60 min\n- Complex: Requires engineering, code changes, >60 min\n\nResolution Path Guidelines:\n- Self-service: High confidence (>0.85) + Simple complexity\n- Collaborative: Medium confidence (0.60-0.85) or Moderate complexity\n- Escalate: Low confidence (<0.60), Complex, or Critical priority"
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000004",
      "name": "AI Triage Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.3
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000005",
      "name": "Claude Sonnet - Triage",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1120, 520]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"Primary issue category: configuration, usage, setup, defect, enhancement, or other\"\n    },\n    \"subcategory\": {\n      \"type\": \"string\",\n      \"description\": \"Specific subcategory within the main category\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"description\": \"Priority level: critical, high, medium, or low\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"description\": \"Confidence score for the classification (0-1)\"\n    },\n    \"estimated_complexity\": {\n      \"type\": \"string\",\n      \"description\": \"Estimated complexity: simple, moderate, or complex\"\n    },\n    \"suggested_resolution_path\": {\n      \"type\": \"string\",\n      \"description\": \"Recommended resolution path: self-service, collaborative, or escalate\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\",\n      \"description\": \"Brief explanation of the classification\"\n    }\n  },\n  \"required\": [\"category\", \"subcategory\", \"priority\", \"confidence\", \"estimated_complexity\", \"suggested_resolution_path\", \"reasoning\"]\n}"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000006",
      "name": "Triage Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1320, 520]
    },
    {
      "parameters": {
        "jsCode": "// Combine original request with classification\nconst requestData = $('Merge Request & Context').first().json;\nconst agentOutput = $input.item.json;\nconst classification = agentOutput.output || agentOutput;\n\nreturn {\n  json: {\n    ...requestData,\n    classification: {\n      category: classification.category || 'other',\n      subcategory: classification.subcategory || 'general',\n      priority: classification.priority || 'medium',\n      confidence: classification.confidence || 0.5,\n      estimated_complexity: classification.estimated_complexity || 'moderate',\n      suggested_resolution_path: classification.suggested_resolution_path || 'collaborative',\n      reasoning: classification.reasoning || '',\n      tags: classification.tags || []\n    },\n    triaged_at: new Date().toISOString()\n  }\n};"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000007",
      "name": "Combine Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO cases (\n  customer_id,\n  channel,\n  description,\n  category,\n  subcategory,\n  priority,\n  confidence_score,\n  status,\n  metadata,\n  created_at,\n  triaged_at\n) VALUES (\n  '{{ $json.customer_context.customer_id }}',\n  '{{ $json.channel }}',\n  '{{ $json.description.replace(/'/g, \"''\") }}',\n  '{{ $json.classification.category }}',\n  '{{ $json.classification.subcategory }}',\n  '{{ $json.classification.priority }}',\n  {{ $json.classification.confidence }},\n  'triaged',\n  '{{ JSON.stringify($json.metadata || {}).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.received_at }}',\n  '{{ $json.triaged_at }}'\n) RETURNING case_id;",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000008",
      "name": "Insert Case Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "// Add case_id to the data\nconst requestData = $('Combine Classification').first().json;\nconst caseId = $input.item.json.case_id;\n\nreturn {\n  json: {\n    ...requestData,\n    case_id: caseId\n  }\n};"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000009",
      "name": "Add Case ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification.priority }}",
                    "rightValue": "critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Critical"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification.confidence }}",
                    "rightValue": 0.85,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  },
                  {
                    "leftValue": "={{ $json.classification.estimated_complexity }}",
                    "rightValue": "simple",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Self-Service"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Collaborative"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000010",
      "name": "Route Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE cases \nSET status = 'escalated_critical', \n    metadata = metadata || '{\"escalation_reason\": \"critical_priority\"}'::jsonb\nWHERE case_id = '{{ $json.case_id }}';",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000011",
      "name": "Mark Critical",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2420, 100]
    },
    {
      "parameters": {
        "channel": "#support-alerts",
        "text": ":rotating_light: *CRITICAL SUPPORT CASE*\n\n*Case ID:* {{ $json.case_id }}\n*Customer:* {{ $json.customer_context.name }} ({{ $json.customer_context.account_tier }})\n*Priority:* {{ $json.classification.priority }}\n*Category:* {{ $json.classification.category }} / {{ $json.classification.subcategory }}\n\n*Description:*\n{{ $json.description }}\n\n*AI Assessment:*\n{{ $json.classification.reasoning }}\n\n*Confidence:* {{ Math.round($json.classification.confidence * 100) }}%\n\nPlease respond immediately!",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000012",
      "name": "Slack Critical Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2640, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL || 'http://localhost:5678' }}/webhook/support/self-service",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000013",
      "name": "Trigger Self-Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL || 'http://localhost:5678' }}/webhook/support/collaborative",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000014",
      "name": "Trigger Collaborative",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 420]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE cases \nSET status = 'escalated_human', \n    metadata = metadata || '{\"escalation_reason\": \"low_confidence_or_complex\"}'::jsonb\nWHERE case_id = '{{ $json.case_id }}';",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000015",
      "name": "Mark Escalated",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2420, 580]
    },
    {
      "parameters": {
        "channel": "#support-escalations",
        "text": ":hand: *Human Review Required*\n\n*Case ID:* {{ $json.case_id }}\n*Customer:* {{ $json.customer_context.name }} ({{ $json.customer_context.account_tier }})\n*Priority:* {{ $json.classification.priority }}\n*Category:* {{ $json.classification.category }} / {{ $json.classification.subcategory }}\n*Complexity:* {{ $json.classification.estimated_complexity }}\n\n*Description:*\n{{ $json.description }}\n\n*AI Assessment:*\n{{ $json.classification.reasoning }}\n\n*Confidence:* {{ Math.round($json.classification.confidence * 100) }}%\n\n*Why Escalated:* Low confidence or complex issue requiring human expertise.\n\nPlease review and respond to the customer.",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000016",
      "name": "Slack Escalation",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2640, 580]
    },
    {
      "parameters": {
        "jsCode": "// Prepare response data\nconst data = $input.item.json;\n\nreturn {\n  json: {\n    response: {\n      success: true,\n      case_id: data.case_id,\n      request_id: data.request_id,\n      status: 'triaged',\n      classification: {\n        category: data.classification.category,\n        priority: data.classification.priority,\n        resolution_path: data.classification.suggested_resolution_path\n      },\n      message: 'Your support request has been received and is being processed. Case ID: ' + data.case_id,\n      estimated_response_time: data.classification.priority === 'critical' ? 'Immediate' : (data.classification.priority === 'high' ? 'Within 2 hours' : 'Within 24 hours')\n    }\n  }\n};"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000017",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response, null, 2) }}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000018",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3080, 300]
    },
    {
      "parameters": {
        "content": "## Workflow 1: Smart Support Intake & Triage\n\n**Purpose:** Receive support requests from all channels, normalize data, classify issues, and route to appropriate resolution path.\n\n### Flow:\n1. Webhook receives support request\n2. Extract and normalize request data\n3. Enrich with customer context from DB\n4. AI Agent classifies the issue\n5. Insert case record\n6. Route based on confidence/complexity:\n   - Critical → Immediate alert\n   - High confidence + Simple → Self-service\n   - Medium confidence → Collaborative\n   - Low confidence/Complex → Human escalation\n\n### Configuration Required:\n- Update PostgreSQL credentials\n- Update Slack credentials\n- Update Anthropic credentials\n- Set N8N_WEBHOOK_BASE_URL environment variable",
        "height": 440,
        "width": 360
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000019",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 80]
    }
  ],
  "connections": {
    "Webhook - Support Intake": {
      "main": [
        [
          {
            "node": "Extract & Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Normalize Request": {
      "main": [
        [
          {
            "node": "Enrich Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Customer Context": {
      "main": [
        [
          {
            "node": "Merge Request & Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Request & Context": {
      "main": [
        [
          {
            "node": "AI Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Triage Agent": {
      "main": [
        [
          {
            "node": "Combine Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet - Triage": {
      "ai_languageModel": [
        [
          {
            "node": "AI Triage Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Triage Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Triage Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Combine Classification": {
      "main": [
        [
          {
            "node": "Insert Case Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Case Record": {
      "main": [
        [
          {
            "node": "Add Case ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Case ID": {
      "main": [
        [
          {
            "node": "Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Decision": {
      "main": [
        [
          {
            "node": "Mark Critical",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Self-Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Collaborative",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Critical": {
      "main": [
        [
          {
            "node": "Slack Critical Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Critical Alert": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Self-Service": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Collaborative": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Escalated": {
      "main": [
        [
          {
            "node": "Slack Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Escalation": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
