n8n-workflows/workflow-kb-embedding-generator-v2.json
{
  "name": "KB Article Embedding Generator v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confluence/reindex",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "confluence-reindex"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, page_id, space_key, title, content, url, metadata\nFROM confluence_kb\nWHERE embedding IS NULL\n  AND content IS NOT NULL\n  AND content != ''\nLIMIT 50;",
        "options": {}
      },
      "id": "fetch-articles",
      "name": "Fetch Articles Without Embeddings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [520, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-articles",
              "leftValue": "={{ $json.page_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-has-articles",
      "name": "Has Articles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare text for embedding\nconst article = $input.item.json;\n\n// Extract metadata fields if available\nconst metadata = article.metadata || {};\nconst category = metadata.category || '';\nconst subcategory = metadata.subcategory || '';\nconst tags = metadata.tags || [];\nconst product = metadata.product || '';\n\n// Combine title, category, tags, and content for rich embedding\nconst textParts = [\n  `Title: ${article.title}`\n];\n\nif (category) {\n  textParts.push(`Category: ${category}${subcategory ? '/' + subcategory : ''}`);\n}\n\nif (product) {\n  textParts.push(`Product: ${product}`);\n}\n\nif (tags && tags.length > 0) {\n  textParts.push(`Tags: ${tags.join(', ')}`);\n}\n\ntextParts.push(`Content: ${article.content}`);\n\nconst textForEmbedding = textParts.join('\\n\\n');\n\nreturn {\n  json: {\n    id: article.id,\n    page_id: article.page_id,\n    title: article.title,\n    text_for_embedding: textForEmbedding\n  }\n};"
      },
      "id": "prepare-text",
      "name": "Prepare Text for Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {{ JSON.stringify($json.text_for_embedding) }},\n  \"model\": \"text-embedding-3-small\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "generate-embedding",
      "name": "Generate Embedding (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential-id",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract embedding from OpenAI response\nconst preparedData = $('Prepare Text for Embedding').item.json;\nconst response = $input.item.json;\n\nconst embedding = response.data?.[0]?.embedding;\n\nif (!embedding) {\n  throw new Error(`Failed to get embedding for article: ${preparedData.title}`);\n}\n\n// Format embedding as PostgreSQL array\nconst embeddingArray = '[' + embedding.join(',') + ']';\n\nreturn {\n  json: {\n    id: preparedData.id,\n    page_id: preparedData.page_id,\n    title: preparedData.title,\n    embedding: embeddingArray,\n    embedding_length: embedding.length\n  }\n};"
      },
      "id": "extract-embedding",
      "name": "Extract Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE confluence_kb\nSET embedding = '{{ $json.embedding }}'::vector,\n    updated_at = NOW(),\n    last_indexed_at = NOW()\nWHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "update-embedding",
      "name": "Update Article with Embedding",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1620, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count processed articles\nconst items = $input.all();\n\nreturn {\n  json: {\n    success: true,\n    articles_processed: items.length,\n    message: `Successfully generated embeddings for ${items.length} articles`,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 200]
    },
    {
      "parameters": {
        "jsCode": "// No articles to process\nreturn {\n  json: {\n    success: true,\n    articles_processed: 0,\n    message: 'No articles found without embeddings',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "no-articles",
      "name": "No Articles to Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2060, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response-no-articles",
      "name": "Respond No Articles",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1180, 400]
    },
    {
      "parameters": {
        "content": "## KB Article Embedding Generator v2\n\n**Purpose:** Generate vector embeddings for KB articles to enable semantic search.\n\n### Triggers:\n- **Webhook**: POST /webhook/confluence/reindex\n- **Manual**: Click \"Execute Workflow\"\n\n### How it works:\n1. Fetches articles from `confluence_kb` without embeddings\n2. Prepares text combining title, metadata, and content\n3. Calls OpenAI API to generate embeddings (text-embedding-3-small)\n4. Updates the article with the embedding vector\n\n### Configuration:\n- OpenAI API credential required\n- PostgreSQL credential (Supabase)\n- Processes up to 50 articles per run\n\n### Integration:\n- Called by Workflow 5 after KB updates\n- Webhook URL: /webhook/confluence/reindex\n\n### Notes:\n- Uses text-embedding-3-small (1536 dimensions)\n- Estimated cost: ~$0.00002 per article",
        "height": 480,
        "width": 340
      },
      "id": "sticky-note",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-80, 100]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Articles Without Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Articles Without Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Articles Without Embeddings": {
      "main": [
        [
          {
            "node": "Has Articles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Articles?": {
      "main": [
        [
          {
            "node": "Prepare Text for Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Articles to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text for Embedding": {
      "main": [
        [
          {
            "node": "Generate Embedding (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding (OpenAI)": {
      "main": [
        [
          {
            "node": "Extract Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Embedding": {
      "main": [
        [
          {
            "node": "Update Article with Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Article with Embedding": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Articles to Process": {
      "main": [
        [
          {
            "node": "Respond No Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "kb"
    },
    {
      "name": "embeddings"
    },
    {
      "name": "maintenance"
    },
    {
      "name": "DEV-18"
    }
  ],
  "meta": {
    "instanceId": "cx-catalyst"
  }
}
