n8n-workflows/workflow-5-continuous-learning-ENHANCED.json
{
  "name": "Support - 5. Continuous Learning & Improvement (Enhanced)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Daily 3 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-id",
              "name": "run_id",
              "value": "={{ 'LEARN-' + new Date().toISOString().split('T')[0] + '-' + Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            },
            {
              "id": "run-date",
              "name": "analysis_date",
              "value": "={{ new Date(Date.now() - 86400000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "run-start",
              "name": "run_started_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-run-context",
      "name": "Set Run Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH daily_metrics AS (\n  SELECT \n    DATE(created_at) as date,\n    category,\n    COUNT(*) as total_cases,\n    COUNT(CASE WHEN status = 'resolved' THEN 1 END) as resolved_cases,\n    AVG(CASE WHEN status = 'resolved' \n        THEN EXTRACT(EPOCH FROM (resolved_at - created_at))/60 \n        END) as avg_resolution_minutes,\n    AVG(satisfaction_score) as avg_satisfaction,\n    COUNT(CASE WHEN resolution_type = 'self-service-automated' THEN 1 END) as automated_resolutions,\n    COUNT(CASE WHEN resolution_type = 'self-service-manual' THEN 1 END) as manual_self_service,\n    COUNT(CASE WHEN resolution_type = 'collaborative' THEN 1 END) as collaborative_resolutions,\n    COUNT(CASE WHEN escalated = true THEN 1 END) as escalations\n  FROM cases\n  WHERE created_at >= '{{ $json.analysis_date }}'::date\n    AND created_at < '{{ $json.analysis_date }}'::date + INTERVAL '1 day'\n  GROUP BY DATE(created_at), category\n)\nSELECT * FROM daily_metrics;",
        "options": {}
      },
      "id": "aggregate-daily-metrics",
      "name": "Aggregate Daily Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 200],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.case_id,\n  c.description,\n  c.category,\n  c.subcategory,\n  c.status,\n  c.satisfaction_score,\n  c.resolution_time_minutes,\n  ci.message as solution_provided\nFROM cases c\nLEFT JOIN case_interactions ci ON c.case_id = ci.case_id AND ci.interaction_type = 'solution'\nWHERE c.created_at >= '{{ $json.analysis_date }}'::date\n  AND c.created_at < '{{ $json.analysis_date }}'::date + INTERVAL '1 day'\n  AND c.status = 'resolved'\nORDER BY c.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "id": "fetch-resolved-cases",
      "name": "Fetch Resolved Cases",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 400],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  af.agent_name,\n  af.feedback_type,\n  COUNT(*) as feedback_count,\n  af.agent_output,\n  af.human_correction\nFROM agent_feedback af\nWHERE af.created_at >= '{{ $json.analysis_date }}'::date\n  AND af.created_at < '{{ $json.analysis_date }}'::date + INTERVAL '1 day'\nGROUP BY af.agent_name, af.feedback_type, af.agent_output, af.human_correction\nORDER BY af.created_at DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "fetch-agent-feedback",
      "name": "Fetch Agent Feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 600],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  DATE(created_at) as date,\n  category,\n  COUNT(*) as case_count\nFROM cases\nWHERE created_at >= NOW() - INTERVAL '30 days'\nGROUP BY DATE(created_at), category\nORDER BY date DESC;",
        "options": {}
      },
      "id": "fetch-historical-trends",
      "name": "Fetch Historical Trends",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 800],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge all daily data for analysis\nconst runContext = $('Set Run Context').first().json;\nconst dailyMetrics = $('Aggregate Daily Metrics').all().map(item => item.json);\nconst resolvedCases = $('Fetch Resolved Cases').all().map(item => item.json);\nconst agentFeedback = $('Fetch Agent Feedback').all().map(item => item.json);\nconst historicalTrends = $('Fetch Historical Trends').all().map(item => item.json);\n\n// Calculate totals\nconst totals = dailyMetrics.reduce((acc, m) => ({\n  total_cases: (acc.total_cases || 0) + (m.total_cases || 0),\n  resolved_cases: (acc.resolved_cases || 0) + (m.resolved_cases || 0),\n  automated_resolutions: (acc.automated_resolutions || 0) + (m.automated_resolutions || 0),\n  escalations: (acc.escalations || 0) + (m.escalations || 0)\n}), {});\n\n// Calculate averages\nconst avgResolutionTime = dailyMetrics\n  .filter(m => m.avg_resolution_minutes)\n  .reduce((acc, m) => acc + m.avg_resolution_minutes, 0) / (dailyMetrics.filter(m => m.avg_resolution_minutes).length || 1);\n\nconst avgSatisfaction = dailyMetrics\n  .filter(m => m.avg_satisfaction)\n  .reduce((acc, m) => acc + m.avg_satisfaction, 0) / (dailyMetrics.filter(m => m.avg_satisfaction).length || 1);\n\nreturn {\n  json: {\n    ...runContext,\n    daily_data: {\n      metrics_by_category: dailyMetrics,\n      resolved_cases: resolvedCases,\n      agent_feedback: agentFeedback,\n      historical_trends: historicalTrends\n    },\n    summary: {\n      total_cases: totals.total_cases,\n      resolved_cases: totals.resolved_cases,\n      resolution_rate: totals.total_cases > 0 ? (totals.resolved_cases / totals.total_cases * 100).toFixed(1) : 0,\n      automated_resolutions: totals.automated_resolutions,\n      self_service_rate: totals.total_cases > 0 ? (totals.automated_resolutions / totals.total_cases * 100).toFixed(1) : 0,\n      escalations: totals.escalations,\n      escalation_rate: totals.total_cases > 0 ? (totals.escalations / totals.total_cases * 100).toFixed(1) : 0,\n      avg_resolution_minutes: Math.round(avgResolutionTime),\n      avg_satisfaction: avgSatisfaction.toFixed(2)\n    }\n  }\n};"
      },
      "id": "merge-daily-data",
      "name": "Merge Daily Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a data analyst specializing in customer support operations. Analyze the following daily support data to identify patterns, gaps, and improvement opportunities.\n\n## Analysis Date: {{ $json.analysis_date }}\n\n## Daily Summary:\n- Total Cases: {{ $json.summary.total_cases }}\n- Resolved Cases: {{ $json.summary.resolved_cases }} ({{ $json.summary.resolution_rate }}%)\n- Self-Service Rate: {{ $json.summary.self_service_rate }}%\n- Escalation Rate: {{ $json.summary.escalation_rate }}%\n- Avg Resolution Time: {{ $json.summary.avg_resolution_minutes }} minutes\n- Avg Satisfaction: {{ $json.summary.avg_satisfaction }}/5\n\n## Metrics by Category:\n{{ JSON.stringify($json.daily_data.metrics_by_category, null, 2) }}\n\n## Sample Resolved Cases (for pattern analysis):\n{{ JSON.stringify($json.daily_data.resolved_cases.slice(0, 20), null, 2) }}\n\n## Agent Feedback (corrections/rejections):\n{{ JSON.stringify($json.daily_data.agent_feedback.slice(0, 20), null, 2) }}\n\n## Historical Trends (30 days):\n{{ JSON.stringify($json.daily_data.historical_trends.slice(0, 30), null, 2) }}\n\n## Your Analysis Task:\n\n1. **Common Issues**: Identify the most frequent issues and their trends\n2. **Documentation Gaps**: Find topics that lack good KB coverage (cases with low satisfaction or long resolution times)\n3. **Product Bugs**: Identify potential product defects reported multiple times\n4. **Process Improvements**: Suggest workflow or process improvements\n5. **Training Needs**: Identify areas where support staff need more training\n6. **Agent Improvements**: Based on feedback, suggest improvements to AI agents\n\n## Guidelines:\n- Be specific with evidence from the data\n- Prioritize high-impact improvements\n- Consider trends over single-day anomalies\n- Suggest actionable improvements\n- For documentation gaps, suggest specific article titles",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "pattern-analysis-agent",
      "name": "Pattern Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1160, 400]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.4
        }
      },
      "id": "claude-model-analysis",
      "name": "Claude Sonnet - Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1160, 620],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"common_issues\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"issue\": { \"type\": \"string\" },\n          \"category\": { \"type\": \"string\" },\n          \"frequency\": { \"type\": \"number\" },\n          \"avg_resolution_time\": { \"type\": \"number\" },\n          \"success_rate\": { \"type\": \"number\" },\n          \"trend\": { \"type\": \"string\", \"enum\": [\"increasing\", \"stable\", \"decreasing\"] }\n        }\n      },\n      \"description\": \"Most common issues identified\"\n    },\n    \"documentation_gaps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"topic\": { \"type\": \"string\" },\n          \"evidence\": { \"type\": \"string\" },\n          \"estimated_impact\": { \"type\": \"string\", \"enum\": [\"high\", \"medium\", \"low\"] },\n          \"suggested_article_title\": { \"type\": \"string\" }\n        }\n      },\n      \"description\": \"Documentation gaps that need to be filled\"\n    },\n    \"product_bugs\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"description\": { \"type\": \"string\" },\n          \"severity\": { \"type\": \"string\", \"enum\": [\"critical\", \"high\", \"medium\", \"low\"] },\n          \"affected_customers\": { \"type\": \"number\" },\n          \"case_ids\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"root_cause_hypothesis\": { \"type\": \"string\" }\n        }\n      },\n      \"description\": \"Potential product bugs identified from cases\"\n    },\n    \"process_improvements\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Suggested process improvements\"\n    },\n    \"training_needs\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Training needs identified for support staff\"\n    },\n    \"agent_improvement_suggestions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"agent_name\": { \"type\": \"string\" },\n          \"issue\": { \"type\": \"string\" },\n          \"suggestion\": { \"type\": \"string\" }\n        }\n      },\n      \"description\": \"Suggestions for improving AI agents based on feedback\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Overall analysis summary in 2-3 sentences\"\n    }\n  },\n  \"required\": [\"common_issues\", \"documentation_gaps\", \"process_improvements\", \"summary\"]\n}"
      },
      "id": "analysis-output-parser",
      "name": "Analysis Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1360, 620]
    },
    {
      "parameters": {
        "jsCode": "// Combine data with analysis results\nconst dailyData = $('Merge Daily Data').first().json;\nconst aiAnalysis = $input.item.json.output || $input.item.json;\n\nreturn {\n  json: {\n    ...dailyData,\n    analysis: {\n      common_issues: aiAnalysis.common_issues || [],\n      documentation_gaps: aiAnalysis.documentation_gaps || [],\n      product_bugs: aiAnalysis.product_bugs || [],\n      process_improvements: aiAnalysis.process_improvements || [],\n      training_needs: aiAnalysis.training_needs || [],\n      agent_improvement_suggestions: aiAnalysis.agent_improvement_suggestions || [],\n      summary: aiAnalysis.summary\n    },\n    analysis_completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "combine-analysis",
      "name": "Combine Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-gaps",
              "leftValue": "={{ $json.analysis.documentation_gaps.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-doc-gaps",
      "name": "Has Doc Gaps?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "jsCode": "// Prepare KB articles to generate\nconst data = $input.item.json;\nconst gaps = data.analysis.documentation_gaps.filter(g => g.estimated_impact === 'high' || g.estimated_impact === 'medium');\n\n// Create items for each article to generate\nconst articles = gaps.slice(0, 3).map(gap => ({\n  json: {\n    ...data,\n    article_to_generate: {\n      topic: gap.topic,\n      title: gap.suggested_article_title,\n      evidence: gap.evidence,\n      impact: gap.estimated_impact\n    }\n  }\n}));\n\nreturn articles.length > 0 ? articles : [{ json: data }];"
      },
      "id": "prepare-kb-articles",
      "name": "Prepare KB Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-articles",
      "name": "Loop Articles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2040, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a technical writer creating a knowledge base article. Generate a comprehensive article based on the following gap identified in support analysis.\n\n## Article Topic:\n{{ $json.article_to_generate.topic }}\n\n## Suggested Title:\n{{ $json.article_to_generate.title }}\n\n## Evidence/Context:\n{{ $json.article_to_generate.evidence }}\n\n## Impact Level:\n{{ $json.article_to_generate.impact }}\n\n## Your Task:\nWrite a comprehensive knowledge base article in Confluence Storage Format (HTML-like markup).\n\n## Required Structure:\n1. **Title** - Clear, descriptive (use in <h1> tag)\n2. **Overview** - Brief summary paragraph\n3. **Problem Description** - What issue does this solve?\n4. **Solution** - Step-by-step instructions with specific examples\n5. **Troubleshooting** - Common issues and fixes\n6. **Related Resources** - Links to related topics\n\n## Format Guidelines:\n- Use Confluence storage format: <p>, <h2>, <h3>, <ul>, <li>, <code>, <ac:structured-macro>\n- Use <ac:structured-macro ac:name=\"info\"> for info panels\n- Use <ac:structured-macro ac:name=\"warning\"> for warnings\n- Use <ac:structured-macro ac:name=\"code\"> for code blocks\n- Include specific commands, error messages, or examples\n- Add verification steps after major actions\n\n## Example Format:\n<h1>Article Title</h1>\n<p><strong>Overview:</strong> Brief description of what this article covers.</p>\n<h2>Problem Description</h2>\n<p>Description of the issue...</p>\n<h2>Solution</h2>\n<p>Follow these steps to resolve the issue:</p>\n<ol>\n<li>Step one with details</li>\n<li>Step two with details</li>\n</ol>\n<ac:structured-macro ac:name=\"info\">\n<ac:rich-text-body><p>Helpful tip here</p></ac:rich-text-body>\n</ac:structured-macro>\n\nProvide ONLY the article HTML content, nothing else.",
        "hasOutputParser": false,
        "options": {}
      },
      "id": "article-generator-agent",
      "name": "Article Generator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [2240, 200]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.5
        }
      },
      "id": "claude-model-article",
      "name": "Claude Sonnet - Article",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [2240, 420],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract article content and prepare for Confluence\nconst input = $input.item.json;\nconst articleContent = input.output || input.text || '';\n\n// Clean up the content (remove markdown fences if present)\nlet cleanContent = articleContent\n  .replace(/```html\\n/g, '')\n  .replace(/```\\n/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nreturn {\n  json: {\n    ...input,\n    article_content: cleanContent,\n    article_title: input.article_to_generate.title\n  }\n};"
      },
      "id": "prepare-confluence-content",
      "name": "Prepare Confluence Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-COMPANY.atlassian.net/wiki/rest/api/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"page\",\n  \"title\": \"{{ $json.article_title }}\",\n  \"space\": {\n    \"key\": \"SUPPORT\"\n  },\n  \"body\": {\n    \"storage\": {\n      \"value\": \"{{ $json.article_content.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n      \"representation\": \"storage\"\n    }\n  },\n  \"status\": \"current\",\n  \"metadata\": {\n    \"properties\": {\n      \"editor\": {\n        \"key\": \"editor\",\n        \"value\": \"v2\"\n      }\n    }\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "create-confluence-page",
      "name": "Create Confluence Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CONFLUENCE_CREDENTIAL_ID",
          "name": "Confluence API (Basic Auth)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-COMPANY.atlassian.net/wiki/rest/api/content/{{ $json.id }}/label",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"prefix\": \"global\",\n    \"name\": \"ai-generated\"\n  },\n  {\n    \"prefix\": \"global\",\n    \"name\": \"kb-article\"\n  },\n  {\n    \"prefix\": \"global\",\n    \"name\": \"topic-{{ $('Prepare Confluence Content').item.json.article_to_generate.topic.toLowerCase().replace(/ /g, '-') }}\"\n  },\n  {\n    \"prefix\": \"global\",\n    \"name\": \"impact-{{ $('Prepare Confluence Content').item.json.article_to_generate.impact }}\"\n  },\n  {\n    \"prefix\": \"global\",\n    \"name\": \"needs-review\"\n  }\n]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "add-confluence-labels",
      "name": "Add Labels to Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CONFLUENCE_CREDENTIAL_ID",
          "name": "Confluence API (Basic Auth)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/webhook/confluence/reindex",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"page_ids\": [\"{{ $json.id }}\"],\n  \"source\": \"continuous-learning-workflow\",\n  \"priority\": \"high\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "trigger-kb-reindex",
      "name": "Trigger KB Re-index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3040, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kb_articles (\n  title,\n  category,\n  confluence_page_id,\n  confluence_url,\n  auto_generated,\n  human_validated,\n  metadata\n) VALUES (\n  '{{ $('Prepare Confluence Content').item.json.article_title.replace(/'/g, \"''\") }}',\n  '{{ $('Prepare Confluence Content').item.json.article_to_generate.topic.replace(/'/g, \"''\") }}',\n  '{{ $json.id }}',\n  '{{ $json._links.webui }}',\n  true,\n  false,\n  '{{ JSON.stringify({ \n    impact: $('Prepare Confluence Content').item.json.article_to_generate.impact, \n    evidence: $('Prepare Confluence Content').item.json.article_to_generate.evidence, \n    generated_at: new Date().toISOString(),\n    confluence_space: 'SUPPORT',\n    labels: ['ai-generated', 'kb-article', 'needs-review']\n  }) }}'::jsonb\n) RETURNING article_id;",
        "options": {}
      },
      "id": "insert-kb-article",
      "name": "Log to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3240, 200],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-bugs",
              "leftValue": "={{ $json.analysis.product_bugs.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-product-bugs",
      "name": "Has Product Bugs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "jsCode": "// Prepare bug tickets to create\nconst data = $input.item.json;\nconst bugs = data.analysis.product_bugs.filter(b => b.severity === 'critical' || b.severity === 'high');\n\n// Create items for each bug ticket\nconst tickets = bugs.slice(0, 5).map(bug => ({\n  json: {\n    ...data,\n    bug_to_report: bug\n  }\n}));\n\nreturn tickets.length > 0 ? tickets : [{ json: data }];"
      },
      "id": "prepare-bug-tickets",
      "name": "Prepare Bug Tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-bugs",
      "name": "Loop Bugs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2040, 400]
    },
    {
      "parameters": {
        "cloudId": "={{ $env.JIRA_CLOUD_ID }}",
        "projectKey": "DEV",
        "issueTypeName": "Bug",
        "summary": "Support-Identified: {{ $json.bug_to_report.description.substring(0, 100) }}",
        "description": "## Bug Report from Support Analysis\n\n**Date:** {{ $json.analysis_date }}\n**Severity:** {{ $json.bug_to_report.severity }}\n**Affected Customers:** {{ $json.bug_to_report.affected_customers }}\n\n### Description\n{{ $json.bug_to_report.description }}\n\n### Root Cause Hypothesis\n{{ $json.bug_to_report.root_cause_hypothesis }}\n\n### Related Support Cases\n{{ $json.bug_to_report.case_ids.join(', ') }}\n\n---\n*This bug was automatically identified by the Continuous Learning system from support case patterns.*",
        "additional_fields": {}
      },
      "id": "create-jira-bug",
      "name": "Create Jira Bug",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [2240, 400],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "YOUR_JIRA_CREDENTIAL_ID",
          "name": "Jira"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate leadership report\nconst data = $input.item.json;\nconst summary = data.summary;\nconst analysis = data.analysis;\n\n// Calculate week-over-week changes (simplified - would need actual historical data)\nconst report = `\n# Daily Support Insights Report\n## ${data.analysis_date}\n\n---\n\n## Executive Summary\n${analysis.summary}\n\n---\n\n## Key Metrics\n\n| Metric | Value | Status |\n|--------|-------|--------|\n| Total Cases | ${summary.total_cases} | ${summary.total_cases > 50 ? '📈 High Volume' : '✅ Normal'} |\n| Resolution Rate | ${summary.resolution_rate}% | ${parseFloat(summary.resolution_rate) > 80 ? '✅ Good' : '⚠️ Needs Attention'} |\n| Self-Service Rate | ${summary.self_service_rate}% | ${parseFloat(summary.self_service_rate) > 50 ? '✅ Good' : '📊 Improving'} |\n| Avg Resolution Time | ${summary.avg_resolution_minutes} min | ${summary.avg_resolution_minutes < 30 ? '✅ Fast' : '⚠️ Review Process'} |\n| Avg Satisfaction | ${summary.avg_satisfaction}/5 | ${parseFloat(summary.avg_satisfaction) > 4 ? '✅ Excellent' : '⚠️ Monitor'} |\n| Escalation Rate | ${summary.escalation_rate}% | ${parseFloat(summary.escalation_rate) < 10 ? '✅ Low' : '⚠️ High'} |\n\n---\n\n## Top Issues\n\n${analysis.common_issues.slice(0, 5).map((issue, i) => \n  `${i + 1}. **${issue.issue}** (${issue.category})\\n   - Frequency: ${issue.frequency} cases\\n   - Trend: ${issue.trend}\\n   - Avg Resolution: ${issue.avg_resolution_time || 'N/A'} min`\n).join('\\n\\n')}\n\n---\n\n## Actions Taken\n\n### Knowledge Base Updates\n- ${analysis.documentation_gaps.length} documentation gaps identified\n- ${analysis.documentation_gaps.filter(g => g.estimated_impact === 'high').length} high-impact articles created in Confluence\n- All new articles tagged with #needs-review for human validation\n\n### Product Bugs Reported\n- ${analysis.product_bugs.length} potential bugs identified\n- ${analysis.product_bugs.filter(b => b.severity === 'critical' || b.severity === 'high').length} high-severity bugs reported to engineering\n\n---\n\n## Process Improvements Suggested\n\n${analysis.process_improvements.map((imp, i) => `${i + 1}. ${imp}`).join('\\n')}\n\n---\n\n## Training Needs Identified\n\n${analysis.training_needs.map((need, i) => `${i + 1}. ${need}`).join('\\n')}\n\n---\n\n## AI Agent Performance\n\n${analysis.agent_improvement_suggestions.length > 0 ? \n  analysis.agent_improvement_suggestions.map(s => `- **${s.agent_name}**: ${s.issue}\\n  Suggestion: ${s.suggestion}`).join('\\n\\n') : \n  'No significant issues identified with AI agents.'}\n\n---\n\n*Report generated automatically by the Continuous Learning System*\n*Run ID: ${data.run_id}*\n`;\n\nreturn {\n  json: {\n    ...data,\n    report: report,\n    report_generated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "generate-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 600]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.LEADERSHIP_EMAIL || 'support-leadership@company.com' }}",
        "subject": "Daily Support Insights - {{ $json.analysis_date }}",
        "message": "={{ $json.report }}",
        "options": {
          "ccEmail": "={{ $env.SUPPORT_TEAM_EMAIL || '' }}"
        }
      },
      "id": "send-report-email",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2040, 600],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "channel": "#support-metrics",
        "text": ":bar_chart: *Daily Support Insights - {{ $json.analysis_date }}*\n\n{{ $json.analysis.summary }}\n\n*Key Metrics:*\n• Total Cases: {{ $json.summary.total_cases }}\n• Resolution Rate: {{ $json.summary.resolution_rate }}%\n• Self-Service Rate: {{ $json.summary.self_service_rate }}%\n• Avg Satisfaction: {{ $json.summary.avg_satisfaction }}/5\n\n*Actions:*\n• {{ $json.analysis.documentation_gaps.length }} KB articles created in Confluence\n• {{ $json.analysis.product_bugs.length }} bugs reported\n• {{ $json.analysis.process_improvements.length }} improvements suggested\n\nFull report sent to leadership email.",
        "otherOptions": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2240, 600],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (\n  workflow_name,\n  status,\n  start_time,\n  end_time,\n  metadata\n) VALUES (\n  'Continuous Learning & Improvement',\n  'success',\n  '{{ $json.run_started_at }}',\n  NOW(),\n  '{{ JSON.stringify({\n    run_id: $json.run_id,\n    analysis_date: $json.analysis_date,\n    total_cases: $json.summary.total_cases,\n    documentation_gaps: $json.analysis.documentation_gaps.length,\n    product_bugs: $json.analysis.product_bugs.length,\n    process_improvements: $json.analysis.process_improvements.length,\n    confluence_pages_created: $json.analysis.documentation_gaps.filter(g => g.estimated_impact === 'high' || g.estimated_impact === 'medium').length\n  }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "log-execution",
      "name": "Log Workflow Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2460, 600],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - Support DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow 5: Continuous Learning & Improvement (ENHANCED)\n\n**Purpose:** Analyze support patterns, create KB articles in Confluence, identify product improvements, and generate insights.\n\n### NEW in Enhanced Version:\n✅ **Creates actual Confluence pages** (not just DB entries)\n✅ Adds labels for categorization\n✅ Triggers re-indexing for vector search\n✅ Logs both to Confluence and PostgreSQL\n\n### Flow:\n1. Daily schedule trigger at 3 AM\n2. Aggregate yesterday's data\n3. AI Pattern Analysis identifies gaps\n4. **Auto-generate KB articles**:\n   - Generate content with Claude\n   - Create Confluence page (HTTP Request)\n   - Add labels (ai-generated, needs-review)\n   - Trigger KB re-indexing\n   - Log to PostgreSQL\n5. Create Jira tickets for bugs\n6. Generate & distribute leadership report\n\n### Outputs:\n- ✅ Confluence KB pages (SUPPORT space)\n- Jira bug tickets\n- PostgreSQL logs\n- Daily email report\n- Slack metrics summary\n\n### Configuration Required:\n- PostgreSQL credentials\n- Anthropic (Claude) credentials\n- **Confluence HTTP Basic Auth**\n- Jira credentials\n- Gmail credentials\n- Slack credentials\n- LEADERSHIP_EMAIL env variable\n- JIRA_CLOUD_ID env variable\n- N8N_WEBHOOK_BASE_URL env variable",
        "height": 700,
        "width": 400
      },
      "id": "sticky-note-info",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 80]
    }
  ],
  "connections": {
    "Schedule - Daily 3 AM": {
      "main": [
        [{ "node": "Set Run Context", "type": "main", "index": 0 }]
      ]
    },
    "Set Run Context": {
      "main": [
        [
          { "node": "Aggregate Daily Metrics", "type": "main", "index": 0 },
          { "node": "Fetch Resolved Cases", "type": "main", "index": 0 },
          { "node": "Fetch Agent Feedback", "type": "main", "index": 0 },
          { "node": "Fetch Historical Trends", "type": "main", "index": 0 }
        ]
      ]
    },
    "Aggregate Daily Metrics": {
      "main": [
        [{ "node": "Merge Daily Data", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Resolved Cases": {
      "main": [
        [{ "node": "Merge Daily Data", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Agent Feedback": {
      "main": [
        [{ "node": "Merge Daily Data", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Historical Trends": {
      "main": [
        [{ "node": "Merge Daily Data", "type": "main", "index": 0 }]
      ]
    },
    "Merge Daily Data": {
      "main": [
        [{ "node": "Pattern Analysis Agent", "type": "main", "index": 0 }]
      ]
    },
    "Pattern Analysis Agent": {
      "main": [
        [{ "node": "Combine Analysis", "type": "main", "index": 0 }]
      ]
    },
    "Claude Sonnet - Analysis": {
      "ai_languageModel": [
        [{ "node": "Pattern Analysis Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Analysis Output Parser": {
      "ai_outputParser": [
        [{ "node": "Pattern Analysis Agent", "type": "ai_outputParser", "index": 0 }]
      ]
    },
    "Combine Analysis": {
      "main": [
        [
          { "node": "Has Doc Gaps?", "type": "main", "index": 0 },
          { "node": "Has Product Bugs?", "type": "main", "index": 0 },
          { "node": "Generate Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Doc Gaps?": {
      "main": [
        [{ "node": "Prepare KB Articles", "type": "main", "index": 0 }],
        []
      ]
    },
    "Prepare KB Articles": {
      "main": [
        [{ "node": "Loop Articles", "type": "main", "index": 0 }]
      ]
    },
    "Loop Articles": {
      "main": [
        [{ "node": "Article Generator Agent", "type": "main", "index": 0 }],
        []
      ]
    },
    "Article Generator Agent": {
      "main": [
        [{ "node": "Prepare Confluence Content", "type": "main", "index": 0 }]
      ]
    },
    "Claude Sonnet - Article": {
      "ai_languageModel": [
        [{ "node": "Article Generator Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Prepare Confluence Content": {
      "main": [
        [{ "node": "Create Confluence Page", "type": "main", "index": 0 }]
      ]
    },
    "Create Confluence Page": {
      "main": [
        [{ "node": "Add Labels to Page", "type": "main", "index": 0 }]
      ]
    },
    "Add Labels to Page": {
      "main": [
        [{ "node": "Trigger KB Re-index", "type": "main", "index": 0 }]
      ]
    },
    "Trigger KB Re-index": {
      "main": [
        [{ "node": "Log to PostgreSQL", "type": "main", "index": 0 }]
      ]
    },
    "Log to PostgreSQL": {
      "main": [
        [{ "node": "Loop Articles", "type": "main", "index": 0 }]
      ]
    },
    "Has Product Bugs?": {
      "main": [
        [{ "node": "Prepare Bug Tickets", "type": "main", "index": 0 }],
        []
      ]
    },
    "Prepare Bug Tickets": {
      "main": [
        [{ "node": "Loop Bugs", "type": "main", "index": 0 }]
      ]
    },
    "Loop Bugs": {
      "main": [
        [{ "node": "Create Jira Bug", "type": "main", "index": 0 }],
        []
      ]
    },
    "Create Jira Bug": {
      "main": [
        [{ "node": "Loop Bugs", "type": "main", "index": 0 }]
      ]
    },
    "Generate Report": {
      "main": [
        [{ "node": "Send Report Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Report Email": {
      "main": [
        [{ "node": "Post to Slack", "type": "main", "index": 0 }]
      ]
    },
    "Post to Slack": {
      "main": [
        [{ "node": "Log Workflow Execution", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "support" },
    { "name": "learning" },
    { "name": "analytics" },
    { "name": "confluence" }
  ],
  "meta": {
    "instanceId": "cx-catalyst"
  }
}
